{% if timestamp is not defined %}
    {% set timestamp = 'now'|date('U') %}
{% endif %}
{% if autoplay is not defined %}
    {% set autoplay = false %}
{% endif %}

<div class="cta-loading" data-ctaloading>
    <img src="{{ asset('bundles/dodicifansworldweb/images/fw_tiny_logo.png') }}" />
    <img src="{{ asset('bundles/dodicifansworldweb/images/ajax-loader-small.gif') }}" />
</div>

<div data-videocontainer-parent>
    <div data-videoid="{{ video.id }}" data-videocontainer>
        <div id="kaltura_player_{{timestamp}}" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
            <meta itemprop="name" content="{{video.title}}" />
            <meta itemprop="description" content="{{video.content}}" />
            {% if video.image %}
                <meta itemprop="thumbnail" content="{{ appmedia.imageurl(video.image, 'medium') }}" />
            {% endif %}
        </div>
        <script type="text/javascript">
          kWidget.embed({
            "targetId": "kaltura_player_{{ timestamp }}",
            "wid": "_{{partner}}",
            "uiconf_id": {{player}},
            "flashvars": {
              "akamaiHD": {
                "loadingPolicy": "preInitialize",
                "asyncInit": "true"
              },
              "streamerType": "hdnetwork",
              "externalInterfaceDisabled": false
            },
            "cache_st": {{ timestamp }},
            "entry_id": "{{ video.stream }}",
            "params": {
              'wmode': 'transparent'
            }
          });
        </script>
    </div>
</div>