{% set user = app.user %}
{% extends "DodiciFansworldWebBundle:User:profile_edit.html.twig" %}

{% block title %}{{ parent() }} - Modificar Intereses{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/edit_interests.js') }}" type="text/javascript"></script>
{% endblock %}

{% block user_edit_toolbar %}
    {% set current_edit_toolbar = 'interests' %}
    {{ parent() }}
{% endblock %}

{% block profile_tabs %}
    {% set active_tab = 'detail' %}
    {{ parent() }}
{% endblock %}

{% block inner_content %}
    <h1>Modificar Intereses</h1>
    <div class="greybox bigform interest-edit">
        <div class="fieldcontainer">
            <ul class="categories fields" data-iduser="{{ app.user.id }}">
                {% for category in categories %}
                    <li class="clearfix interestcategory" data-idcategory="{{category.id}}">
                        <label>{{ category }}</label>
                        <div class="field">
                            <input type="text" class="interest-chooser" data-idcategory="{{ category.id }}" />
                        </div>
                        <ul class="currentinterests clearfix">
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <hr/>
    
    <h1>Equipo favorito de :</h1>
    <div class="greybox bigform">
        <div class="fieldcontainer">
            <ul class="categories fields">
                {% for category in teamcategories %}
                    <li class="clearfix" data-idsport="">
                        <label>{{ category.title }}</label>
                        <select name="" id="">
                            {% for team in category.teams %}
                                <option value="{{ team.id }}">{{ team }}</option>
                            {% endfor %}
                        </select>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}