{% extends 'DodiciFansworldWebBundle:Mail:notification_base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ "notification_friendship_pending"|trans({'%author%': notification.author}) }}</title>
{% endblock %}
    
{% block styles %}
  {{ parent() }}
  .image-square {
    padding: 10px;
    border: 1px solid lightgray;
    width: 250px;
    margin: 10px auto 30px auto;
    display: block;
  }
  .image-square:hover { border-color: darkgray; }
  .image-square img { vertical-align: middle; }
  section.body { text-align: center; }
{% endblock %}
    
{% block body %}
    {% if (notification.author.image) %}
        <a class="image-square" href="{{ url('user_wall', { 'username': notification.author.username }) }}"><img src="{{ appmedia.imageurl(notification.author.image, 'medium') }}"/></a>
    {% endif %}
    <p style="margin-bottom: 40px;">
        <a href="{{ url('user_wall', { 'username': notification.author.username }) }}">{{ notification.author }}</a> quiere ser tu fan
    </p>
{% endblock %}