{% extends 'DodiciFansworldWebBundle:Mail:notification_base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ "notification_user_tagged"|trans({'%author%': notification.author}) }}</title>
{% endblock %}
    
{% block body %}
    {% if notification.comment is not null %}
            {% set tag_item = notification.comment %}
            {% set tag_item_url = url("comment_show", {'id': tag_item.id }) %}	
    {% elseif notification.album is not null %}
            {% set tag_item = notification.album %}
            {% set tag_item_url = url("album_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}	
    {% elseif notification.photo is not null %}
            {% set tag_item = notification.photo %} 
            {% set tag_item_url = url("photo_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}	
    {% elseif notification.video is not null %}
            {% set tag_item = notification.video %} 
            {% set tag_item_url = url("video_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}	
    {% elseif notification.contest is not null %}
            {% set tag_item = notification.contest %} 
            {% set tag_item_url = url("contest_show", {'id': tag_item.id, 'slug': tag_item.slug })%}	
    {% elseif notification.newspost is not null %}
            {% set tag_item = notification.newspost %} 
            {% set tag_item_url = url("newspost_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}	
    {% endif %}
  
    {% if (tag_item) %}
        {% include 'DodiciFansworldWebBundle:Mail/Templates:show_thumb.html.twig' with { entity: tag_item, href: tag_item_url } %}
    {% endif %}
    <p style="text-align: center; margin-bottom: 20px;padding: 0;font-size: 17px;">
        <a style="color: #3f57c6;text-decoration: none;font-weight: 600;text-decoration: none !important;" href="{{ url('user_wall', {'username': notification.author.username}) }}">{{ notification.author }}</a> te etiquetó en <a style="color: #3f57c6;text-decoration: none;font-weight: 600;text-decoration: none !important;" href="{{ tag_item_url }}">{{ tag_item }}</a>
    </p>
    {% include 'DodiciFansworldWebBundle:Mail/Templates:green_button.html.twig' with { href: tag_item_url, text: 'Ver etiqueta' } %}
{% endblock %}