{% extends 'DodiciFansworldWebBundle:Mail:notification_base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ "notification_video_newidolteam"|trans({'%video%': notification.video}) }}</title>
{% endblock %}
    
{% block text %}
    <div style="margin-bottom: 20px;">
        {% if (notification.video.image) %}
            <span style="float: left;margin-right: 15px;"><img src="{{ appmedia.imageurl(notification.video.image, 'avatar') }}" style="width: 45px;height: 45px;"/></span>
        {% endif %}       
        <div>
            <p style="margin-bottom: 10px;">
                Fansworld subió un nuevo vídeo <a href="{{ url('video_show', { id: notification.video.id, slug: notification.video.slug }) }}">{{ notification.video }}</a>
                taggeado con: <br />
                {% for ht in notification.video.hasteams %}
                    {{ ht.team }} <br />
                {% endfor %}
                
                {% for ht in notification.video.hasidols %}
                    {{ ht.idol }} <br />
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}