{% extends 'DodiciFansworldWebBundle:Mail:notification_base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ "notification_video_subscription"|trans({'%video%': notification.video}) }}</title>
{% endblock %}

{% block styles %}
  {{ parent() }}
  .image-square {
    padding: 10px;
    border: 1px solid lightgray;
    width: 250px;
    margin: 10px auto 30px auto;
    display: block;
  }
  .image-square:hover { border-color: darkgray; }
  .image-square img { vertical-align: middle; }

  section.body { text-align: center; }
{% endblock %}
    
{% block body %}
  {% if (notification.video.image) %}
    <a class="image-square" href="{{ url('video_show', { id: notification.video.id, slug: notification.video.slug }) }}"><img src="{{ appmedia.imageurl(notification.video.image, 'medium') }}"/></a>
  {% endif %}    
  <p style="margin-bottom: 40px;">
      <a href="{{ url('video_show', { id: notification.video.id, slug: notification.video.slug }) }}">{{ notification.video }}</a> 
      es un vídeo nuevo en el canal {{ notification.video.videocategory }}
  </p>
{% endblock %}