{% extends 'DodiciFansworldWebBundle:Mail:notification_base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ "notification_video_newidolteam"|trans({'%video%': notification.video}) }}</title>
{% endblock %}

{% block body %}
    <div style="margin-bottom: 40px;">
        {% set entityUrl = url('video_show', { id: notification.video.id, slug: notification.video.slug }) %}
        {% if (notification.video.image) %}
          {% include 'DodiciFansworldWebBundle:Mail/Templates:show_thumb.html.twig' with { entity: notification.video, href: entityUrl } %}
        {% endif %}
        
        <p style="text-align: center; margin-bottom: 20px;padding: 0;font-size: 17px;">
            Fansworld subió un nuevo vídeo <a style="color: #3f57c6;text-decoration: none;font-weight: 600;text-decoration: none !important;" href="{{ url('video_show', { id: notification.video.id, slug: notification.video.slug }) }}">{{ notification.video }}</a>
            taggeado con: <br />
            {% for ht in notification.video.hasteams %}
                {{ ht.team }} <br />
            {% endfor %}

            {% for ht in notification.video.hasidols %}
                {{ ht.idol }} <br />
            {% endfor %}
        </p>
        
        {% include 'DodiciFansworldWebBundle:Mail/Templates:green_button.html.twig' with { href: entityUrl, text: 'Ver video' } %}
    </div>
{% endblock %}