{% extends 'DodiciFansworldWebBundle:Mail:notification_base.html.twig' %}

{% block title %}
    <title>Fansworld - {{ "notification_video_subscription"|trans({'%video%': notification.video}) }}</title>
{% endblock %}
    
{% block text %}
    <div style="margin-bottom: 20px;">
        {% if (notification.video.image) %}
            <span style="float: left;margin-right: 15px;"><img src="{{ appmedia.imageurl(notification.video.image, 'avatar') }}" style="width: 45px;height: 45px;"/></span>
        {% endif %}    
        <div>
            <p style="margin-bottom: 10px;">
                <a href="{{ url('video_show', { id: notification.video.id, slug: notification.video.slug }) }}">{{ notification.video }}</a> 
                es un vídeo nuevo en el canal {{ notification.video.videocategory }}
            </p>
        </div>
    </div>
{% endblock %}