{% if album is not defined %}
    {% set album = false %}
{% endif %}
{% if image_size is not defined %}
    {% set image_size = 'home_video' %}
{% endif %}
<div class="row-fluid album-detail">
    <header class="row-fluid">
        <div class='span6'>
            <span class="title">
                <h4>{{ album.title }} ({{ album.photos|length }}) <a class="more" href="{{ path('user_listalbums', {username: user.username}) }}"> {{'Albums'|trans}}</a></h4>
            </span>
        </div>
        <div class="span6">
            {% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: album} %}
        </div>
    </header>
    <!-- <div class="isotope_container" data-album-id="{{album.id}}" data-feed-source="getphotosfrom_album"></div> -->
    {# % include 'DodiciFansworldWebBundle:Photo:blocks/video_grid.html.twig' with {photos: album.photos,thumbnailSize: 'medium'} % #}
    <div class="semantic-grid videos-container">
        {% if album.photos|length>0 %}
            {% for photo in album.photos %}
                {# % include 'DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig' with {'video': photo} % #}
                <article class="video-std-block">
                            {% thumbnail photo.image, image_size with {'title': photo.title} %}
                </article>
            {% endfor %}    
        {% endif %}
    </div>
    <div class="add-more">+</div>

    <div class="content">
        <p>{{ album.content }}</p>
    </div>
</div>
