{% if image_size is not defined %}
    {% set image_size = 'home_video' %}
{% endif %}
{% if extra_classes is not defined %}
    {% set extra_classes = '' %}
{% endif %}
{% set photoUrl = path('photo_show', {'id': video.id, 'slug': video.slug}) %}
<article class="video video-std-block {{ extra_classes }}">
    <div class="image">
        <a href="{{ videoUrl }}">
            {% thumbnail video.image, image_size with {'title': video.title} %}
        </a>
    </div>
    <div class="info">
        <a class="title" href="{{ videoUrl }}">{{ video.title }}</a>
        <span class="author">de <a href="{{ path('user_wall', {'username': video.author.username}) }}">{{ video.author.username }}</a></span>
        <div class="clearfix"></div>
    </div>
</article>
