{% extends "DodiciFansworldWebBundle::three_column.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Contests'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/contest.js') }}" type="text/javascript"></script>
{% endblock  %}

{% block content %}
    <header class="row">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">{{ 'Contests'|trans }}</a>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tipo de concurso<b class="caret"></b></a>
                            <ul class="dropdown-menu contestType">
                                <li class="1"><a href="#">{{ 'Simple participation'|trans }}</a></li>
                                <li class="2"><a href="#">{{ 'Text contest'|trans }}</a></li>
                                <li class="3"><a href="#">{{ 'Contest photo'|trans }}</a></li>
                                <li class="4"><a href="#">{{ 'Contest video'|trans }}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="listContests row">
        <div class="list">
                {% if contests|length>0  %}
                    {% for contest in contests  %}
                        <div class="contest-row">
                            <h4><a href="{{ path('contest_show', {'id':contest.id, 'slug': contest.slug}) }}">{{ contest.title }}</a></h4>

                            {% if contest.image %}
                                <a href="{{ path('contest_show', {'id':contest.id, slug: contest.slug}) }}">{% thumbnail contest.image, 'small' %}</a>
                            {% endif %}

                            <div class="contenido">
                                <p> {{ contest.content|raw }} </p>
                                <a class="btn btn-primary" href="{{ path('contest_show', {'id':contest.id, 'slug': contest.slug}) }}" >{{ 'Participate'|trans }}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-error">
                        <h3>{{ 'No results'|trans }}</h3>
                    </div>
                {% endif %}
        </div>
            
        <div class="span4 {% if not addMore %}hidden{% endif %}">
            <a href="#" id="addMore" class="loadmore contests">{{ 'Add more'|trans }}</a>
        </div>
    </section>
    
    
<div id="templates" class="contests hidden">
    <div class="contest-row">
        <h4><a href=""></a></h4>
        <div class="media"><a href=""></a></div>
        <div class="contenido">
            <p></p>
            <a class="btn btn-primary" href="#">{{ 'Participate'|trans }}</a>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    contest.init();
});
</script>
{% endblock %}
