{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Contest{% endblock %}

{% block content %}
<div class="col_468 left margin contests">
    <div class="cont clearfix">
        <div class="nota_ampliada">

            <div class="media">
            	<h2{% if contest.image is null %} class="noimage"{% endif %}>{{ contest.title }}</h2>
            	{% if contest.image %}
            		{% thumbnail contest.image, 'big' with {'class': 'articleimg'} %}
            	{% endif %}
            	{% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: contest} %}
            </div>
            <div class="hidden" id="formParticipate">
                <form action="" class="formParticipate">
                    <textarea name="content"></textarea>
                    <input type="submit" value="Participar" name="submit"/>
                </form>
            </div>
            <div class="contenido">
                {{ contest.content|raw() }}
                {% if isParticipant %}
                    <div class="options">Ya estas participando</div>
                {% else %}
                    <div class="options"><a class="btn_action2 contestParticipate" contestId="{{ contest.id }}" contestType="{{ contest.type }}" href="#1">Participar</a></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="participateSplash" class="hidden">
        <div class="2">
            <textarea></textarea>
            <input type="button" value="Enviar"/>
        </div>
        <div class="3">
            
        </div>
        <div class="4">
            
        </div>
    </div>
    <div class="cont clearfix">
            {% include 'DodiciFansworldWebBundle:Comment:comment_block.html.twig' with {entity: contest} %}
    </div>
    <script type="text/javascript">
            $(document).ready(function(){
                contest.init();
            });
    </script>
</div>
{% endblock %}