{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Contest{% endblock %}

{% block content %}
<div class="col_468 left margin contests">
    <div class="cont clearfix">

        <div class="nota_ampliada">

            <div class="media"><h2>{{ contest.title }}</h2><img src="{{ asset('bundles/dodicifansworldweb/demo/foto01.jpg' ) }}" /></div>
            <div class="contenido">
                {{ contest.content|raw() }}
                    <div class="options"><a class="btn_action2 contestParticipate" contestId="{{ contest.id }}" href="#1">Participar</a></div>
                </div>
            </div>




        </div>
        <div class="cont clearfix">
            <h3>Comentarios</h3>
            <div class="comments clearfix">
            {% for comment in contest.comments %}
                    <div class="comment clearfix">
                        <div class="avatar"> <a href="#1"> <img src="{{ asset('bundles/dodicifansworldweb/demo/rodri.jpg' ) }}" width="50" height="50" /></a> </div>
                        <div class="user_comment">
                            <span class="action_user" >
                                <a href="{{ path('user_detail', {'id':comment.author.id}) }}">{{ comment.author }}</a>
                                <span>{{ comment.createdAt|date('c') }}</span>
                            </span>
                            {{ comment.content|raw() }}
                        </div>
                    </div>
            {% endfor %}
                </div>
        </div>
        <div class="cont clearfix">
            <h3>Agregar comentario</h3>
            <div class="add_comment">
                <form>
                    <textarea cols="" rows="4"></textarea>
                    <input type="hidden" class="contestId" value="{{ contest.id }}" />
                    <a class="btn" href="#1">Comentar</a>
                </form>
            </div>
        </div>
        <script type="text/javascript">
                $(document).ready(function(){
                    contest.init();
                });
        </script>
    </div>
    <div id="templates" class="contest hidden">
        <div class="comment clearfix">
            <div class="avatar">
                <a href="#1">
                    <img src="" width="50" height="50" />
                </a>
            </div>
            <div class="user_comment">
                <span class="action_user" >
                    <a href=""></a>
                    <span></span>
                </span>
            </div>
        </div>
    </div>
{% endblock %}