{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Contest{% endblock %}

{% block content %}
<div class="col_468 left margin contests">
    <div class="cont clearfix">
        <div class="nota_ampliada">

            <div class="media">
            	<h2{% if contest.image is null %} class="noimage"{% endif %}>{{ contest.title }}</h2>
            	{% if contest.image %}
            		{% thumbnail contest.image, 'big' with {'class': 'articleimg'} %}
            	{% endif %}
            	{% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: contest} %}
            </div>
            <div class="hidden" id="formParticipate">
                <form action="" class="formParticipate">
                    <textarea name="content"></textarea>
                    <input type="submit" value="Participar" name="submit"/>
                </form>
            </div>
            <div class="contenido">
                <div class="text">
                    {{ contest.content|raw() }}
                </div>
                {% if isParticipant %}
                    <div class="options">Ya estas participando</div>
                {% else %}
                    <div class="options"><a class="btn_action2 contestParticipate" href="#1">Participar</a></div>
                {% endif %}
            </div>
            
            <input type="hidden" id="contestId" value="{{ contest.id }}"/>
            <input type="hidden" id="contestType" value="{{ contest.type }}"/>
            
            <hr/>
            
            {% set typeParticipate = constant('Dodici\\Fansworld\\WebBundle\\Entity\\Contest::TYPE_PARTICIPATE') %}
            {% if contest.type != typeParticipate %}
                <div id="tabs" class="marginTop10">
                    <ul>
                        <li><a href="#tabs-1">Participantes</a></li>
                        <li><a href="#tabs-2">Ganadores</a></li>
                        {% if contest.type > 2 %}
                            <li><a href="#tabs-3">Publicaciones</a></li>
                        {% endif %}
                    </ul>
                    <div id="tabs-1">
                        <ul>
                            {% for participant in participants %}
                                <li>{{ participant.author }}</li>
                            {% endfor %}
                        </ul>
                        {% if addMoreParticipants %}
                            <div class="morelink">
                                <a id="addMoreParticipants" href="">Ver más</a>
                            </div>
                        {% endif %}
                    </div>
                    <div id="tabs-2">
                        <ul>
                            {% for winner in winners %}
                                <li>{{ winner.author }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="tabs-3">
                        <ul>
                            {% for file in files %}
                                <li>{{ file.file.id }}, Author: {{ file.author }} {% if not voted %}<a class="vote button" participantid="{{ file.participantId }}" href="#">Votar</a>{% endif %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="participateSplash" class="hidden">
        <div class="2">
            <textarea></textarea>
            <input type="button" value="Enviar"/>
        </div>
        <div class="3">
            
        </div>
        <div class="4">
            
        </div>
    </div>
    <div class="cont clearfix">
            {% include 'DodiciFansworldWebBundle:Comment:comment_block.html.twig' with {entity: contest} %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        contest.init();
    });
</script>
{% endblock %}