{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% block title %} {{ parent() }} - {{ 'Proposal'|trans }}{% endblock %}

{% block content %}
<form action="{{ path('proposal_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}