{% form_theme form theme %}

<div class="form-profile fieldcontainer row">
    <h4 class="numbered"><span>1</span>Modificar Perfil</h4>
    <div class="clearfix"></div>

    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register bigform">
        {{ form_errors(form) }}
        <div class="column span3">
        {% for key, val in form %}
            {% if key == 'user' %}
                {% for k,row in val %}
                    {% if k == 'city' %}
                        <div class="clearfix">
                            {{ form_label(row) }}
                            <div class="field">
                                <select id="fos_user_profile_form_user_city" name="fos_user_profile_form[user][city]"></select>
                                {{ form_errors(row) }}
                            </div>
                        </div>
        </div>
        <div class="column span3">
                    {% else %}
                        {{ form_row(row) }}
                    {% endif %}
                {% endfor %}
            {% elseif key == 'current' %}
                {{ form_row(val) }}
            {% else %}
                {{ form_widget(val) }}
            {% endif %}
            {% if loop.last %}
                <div class="actions clearfix">
                    <input type="submit" name="submit" value="Guardar" class="btn btn-primary" />
                </div>
            {% endif %}
        {% endfor %}
        </div>
        </form>
</div>
