{% form_theme form theme %}
<div class="profileedit">
	<h1>Modificar Perfil</h1>
	<div class="greybox">
	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register bigform">
    	<div class="form-profile fieldcontainer">
    		{{ form_errors(form) }}
			<ul class="fields">
				{% for key, val in form %}
					{% if key == 'user' %}
						{% for k,row in val %}
							{% if k == 'city' %}
                                                                                                                                    <li class="clearfix">
                                                                                                                                        {{ form_label(row) }}
                                                                                                                                        <div class="field">
                                                                                                                                                <select id="fos_user_profile_form_user_city" name="fos_user_profile_form[user][city]"></select>
                                                                                                                                                {{ form_errors(row) }}
                                                                                                                                        </div>
                                                                                                                                    </li>
							{% else %}
                                                                                                                                    {% if k == 'team' %}
                                                                                                                                        <li class="clearfix">
                                                                                                                                            {{ form_label(row) }}
                                                                                                                                            <div class="field">
                                                                                                                                                    <select id="fos_user_profile_form_user_team" name="fos_user_profile_form[user][team]"></select>
                                                                                                                                                    {{ form_errors(row) }}
                                                                                                                                            </div>
                                                                                                                                        </li>
                                                                                                                                    {% else %}
                                                                                                                                        {{ form_row(row) }}
                                                                                                                                    {% endif %}
							{% endif %}
						{% endfor %}
					{% elseif key == 'current' %}
						{{ form_row(val) }}
					{% else %}
						{{ form_widget(val) }}
					{% endif %}
				{% endfor %}
        	</ul>
		</div>
		
        <div class="actions clearfix">
            <input type="submit" name="submit" value="Guardar" class="btn_action" />
        </div>
    </form>
    </div>
</div>