{% block header_navbar %}
    {% if active_tab is not defined %}
        {% set active_tab = 'videos' %}
    {% endif %}
    
    <nav class='profilenavbar-container span12'>
       <ul class="nav nav-tabs-profile">
            <li {% if active_tab == 'videos' %}class="active"{% endif %}>
                <a  href="{{ path('team_videos', {slug: entity.slug}) }}">Videos</a>
            </li>
            
            <li {% if active_tab == 'wall' %}class="active"{% endif %}>
                <a  href="{{ path('team_wall', {slug: entity.slug}) }}">Muro</a>
            </li>
            
            <li {% if active_tab == 'info' %}class="active"{% endif %}>
                <a  href="{{ path('team_info', {slug: entity.slug}) }}">Datos</a>
            </li>
            
            <li {% if active_tab == 'photos' %}class="active"{% endif %}>
                <a href="{{ path('team_photos', {slug: entity.slug}) }}">{{ 'Photos'|trans }}</a>
            </li>
            
            {% if entity.twitter %}
            <li {% if active_tab == 'tweets' %}class="active"{% endif %}>
                <a href="{{ path('team_twitter', {slug: entity.slug}) }}">Tweets</a>
            </li>
            {% endif %}
            
            <li {% if active_tab == 'fans' %}class="active"{% endif %}>
                <a href="{{ path('team_fans', {slug: entity.slug}) }}">Fans</a>
            </li>
            
            {# EVENT_REM
            <li {% if active_tab == 'eventos' %}class="active"{% endif %}>
                <a href="{{ path('team_eventos', {slug: entity.slug}) }}">Eventos</a>
            </li>
            END EVENT_REM #}
            
            {# <li {% if active_tab == 'idols' %}class="active"{% endif %}>
                <a href="{{ path('team_idols', {slug: entity.slug}) }}">Idolos</a>
            </li> #}
            
        </ul>
    </nav>
{% endblock %}