{% extends 'DodiciFansworldWebBundle:Profile:header_small_base.html.twig' %}
	
{% block header_title %}
	{{ team.title}}
{% endblock %}

{% block header_subtitle %}
    {% if entity.country %}
        {{ entity.country }}
    {% endif %}
{% endblock %}

{% block header_small_right %}
	<div class='span4 numbers-info'>
            <section class='fotos-info'>
                {% set entityType = appstate.getType(entity) %}

                <div class='numero'>{% if entity.photoCount > 0 %}<a href="{{ path(entityType ~ '_photos', {'slug': entity.slug}) }}">{% endif %}{{ entity.photoCount }}{% if entity.photoCount > 0 %}</a>{%endif%}</div>
                <div class='tipo'>Fotos</div>
                <div class='separador' />
            </section>
            <section class='videos-info with-border'>
                <div class='numero'>{% if entity.videoCount > 0 %}<a href="{{ path(entityType ~ '_videos', {'slug': entity.slug}) }}">{% endif %}{{ entity.videoCount }}{% if entity.videoCount > 0 %}</a>{%endif%}</div>
                <div class='tipo'>Videos</div>
                <div class='separador' />
            </section>
            <section class='fans-info'>
                <div class='numero'>{% if entity.fanCount > 0 %}<a href="{{ path(entityType ~ '_fans', {'slug': entity.slug}) }}">{% endif %}{{ entity.fanCount }}{% if entity.fanCount > 0 %}</a>{%endif%}</div>
                <div class='tipo'>Fans</div>
                <div class='separador' />
            </section>
	</div>
	
	<div class='span2'>
        <div class='header-fship'>
            {% include "DodiciFansworldWebBundle:Default:blocks/fan_button.html.twig" with { entity:  entity, buttonSize: 'btn-large', fType: 'team' } %}
		</div>
	</div>
	

{% endblock %}