{% block header_navbar %}
    {% if active_tab is not defined %}
        {% set active_tab = 'wall' %}
    {% endif %}
    
    <nav class='span12'>
       <ul class="nav nav-tabs-profile">
            <li {% if active_tab == 'wall' %}class="active"{% endif %}>
                <a  href="{{ path('team_show', {id: entity.id}) }}">Muro</a>
            </li>
            
            <li {% if active_tab == 'info' %}class="active"{% endif %}>
                <a  href="{{ path('team_info', {slug: entity.slug}) }}">Datos</a>
            </li>
            
            <li {% if active_tab == 'videos' %}class="active"{% endif %}>
                <a  href="{{ path('video_team', {slug: entity.slug}) }}">Videos</a>
            </li>
            
            <li {% if active_tab == 'photos' %}class="active"{% endif %}>
                <a href="{{ path('team_photos', {slug: entity.slug}) }}">{{ 'Photos'|trans }}</a>
            </li>
            
            <li {% if active_tab == 'tweets' %}class="active"{% endif %}>
                <a href="{{ path('team_twitter', {slug: entity.slug}) }}">Tweets</a>
            </li>
            
            <li {% if active_tab == 'fans' %}class="active"{% endif %}>
                <a href="">Fans</a>
            </li>
            
            <li {% if active_tab == 'eventos' %}class="active"{% endif %}>
                <a href="">Eventos</a>
            </li>
            
            <li {% if active_tab == 'idolos' %}class="active"{% endif %}>
                <a href="">Idolos</a>
            </li>
            
        </ul>
    </nav>
{% endblock %}