<div data-finalaction-detail="{{ idvideodom }}" class="videoCallToAction">
    <script src="{{ asset('bundles/dodicifansworldweb/js/elastislide/modernizr.custom.17475.js') }}" type="text/javascript"></script>

    <div class="header-box">
        <p class="header-title"> Hacete fan de tus idolos y equipos </p>
        <div class="buttonsHeader">
            <p data-viewagain="{{ idvideodom }}" class="btnViewAgain">
                <i class="icon-play-circle icon-white"></i> VOLVER A VER
            </p>
            <button class="btnNextVideo" type="button" data-nextvideo>
                PROXIMO VIDEO
                <i class="icon-chevron-right icon-white"></i>
            </button>
        </div>
    </div>

    <div class="cta-befan-container">
        <!-- Idols Carousel -->
        <ul id="idols_carousel" class="elastislide-list">
            {% for idol in idols %}
                <li><a href="#">
                    {% thumbnail idol.image, 'big' with {"title": idol.title, "alt": idol.title, "width": "100px", "rel": "tooltip"} %}
                    <button type="button" class="btn btn-primary" data-idol-id="{{ idol.id }}" data-toggle="button" rel="tooltip" title="SER FAN" data-override>
                        <i class="icon-plus-sign icon-white"></i>
                    </button>
                </a></li>
            {% endfor %}
        </ul>
        <!-- End Idols Carousel -->

        <!-- Teams Carousel -->
        <ul id="teams_carousel" class="elastislide-list">
            {% for team in teams %}
                <li><a href="#">
                    {% thumbnail team.image, 'big' with {"title": team.title, "alt": team.title, "width": "100px", "rel": "tooltip"} %}
                    <button type="button" class="btn btn-primary" data-team-id="{{ team.id }}" data-toggle="button" rel="tooltip" title="SER FAN" data-override>
                        <i class="icon-plus-sign icon-white"></i>
                    </button>
                </a></li>
            {% endfor %}
        </ul>
        <!-- End Teams Carousel -->
    </div>

    <div class="share-box">
        <p class="share-title">TE GUSTO ? COMPARTILO! </p>

        {% set shareUrl = url('video_show', {'id': video.id, 'slug': video.slug}) %}
        <button class="btn-twt" href="http://www.twitter.com/share?url={{ shareUrl }}" data-share-content></button>
        <button class="btn-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" data-share-content></button>
        <button class="btn-gplus" href="https://plus.google.com/share?url={{ shareUrl }}" data-share-content></button>
        <button class="btn-upload-video" data-cta-upload><i class="icon-circle-arrow-up icon-white"></i>SUBIR VIDEO</button>

        <script src="{{ asset('bundles/dodicifansworldweb/js/elastislide/jquery.elastislide.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $( '#idols_carousel' ).elastislide();$( '#teams_carousel' ).elastislide();
            $('[data-nextvideo]').click(function () {
                var url = $("[data-grid-related] .video:first a").attr('href');
                if (url) {window.location.href = url}
            });
            $('[data-cta-upload]').click(function () {$.modalPopup('close');$('[data-upload]').click();});
            $('[data-idol-id]').fwIdolship();$('[data-team-id]').fwTeamship();
            $("[data-share-content]").fwModalDialog();
        </script>
    </div>
</div>