{% if showtitle is not defined %}
	{% set showtitle = true %}
{% endif %}
{% if showdate is not defined %}
	{% set showdate = true %}
{% endif %}
{% if showviews is not defined %}
	{% set showviews = true %}
{% endif %}
{% if showlikes is not defined %}
	{% set showlikes = true %}
{% endif %}
{% if extraclasses is not defined %}
	{% set extraclasses = [] %}
{% endif %}
{% if longtitle is not defined %}
	{% set longtitle = false %}
{% endif %}
<li class="greybox clearfix {{ extraclasses|join(' ') }}">
    <div class="thumb">
    	<a href="{{path('teve_videodetail',{id:video.id, slug:video.slug})}}">
			{% thumbnail video.image, 'video' %}
		</a>
	</div>
	<div class="data">
		{% if showtitle %}
		<div class="title">
		{% if longtitle or video.title|length < 25 %}
			{{video}}
		{% else %}
			<abbr title="{{video}}">{{video|truncate(25)}}</abbr>
		{% endif %}
		</div>
		{% endif %}
		{% if showdate %}
		<div class="date">
			Fecha: {{video.createdAt|date('d/m/Y')}}
		</div>
		{% endif %}
		{% if showviews or showlikes %}
		<div class="stats">
			{% if showviews %}
			<div class="views">{{video.viewCount}}</div>
			{% endif %}
			{% if showlikes %}
			<div class="likes">{{video.likeCount}}</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
</li>