{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - TV{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/dodicifansworldweb/js/videos.js') }}" type="text/javascript"></script>
{% endblock %}

{% block centercolumn %}
    <div class="col_468 left margin">
            <div class="cont clearfix video-list-global">
            	{% if highlight %}
                <div class="highlight-video">
                	<h2><a href="{{path('video_show', {id:highlight.id, slug:highlight.slug})}}">{{highlight}}</a></h2>
                
                	<div class="media_content">
			            <iframe class="videoframe" src="{{ flumotiontwig.videoplayerurl(highlight) }}"></iframe>
			        </div>
			        
					{% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: highlight} %}
                </div>
                {% endif %}
                
                {% if videosbycategory %}
                <ul class="categories clearfix">
                	{% for vc in videosbycategory %}
                		<li class="category">
                			<h3>{{vc.category}}</h3>
                			<ul class="videos-small clearfix">
                				{% for video in vc.videos %}
                					{% if loop.first %}
                						{% set extraclasses = ['first'] %}
                					{% else %}
                						{% set extraclasses = [] %}
                					{% endif %}
                					{% include 'DodiciFansworldWebBundle:Video:list_video_item.html.twig' with {video: video, extraclasses: extraclasses, showlikes: false} %}
                				{% endfor %}
                			</ul>
                			<div class="morelink">
                				<a href="{{ path('video_category', {id:vc.category.id, slug:vc.category.slug}) }}">Ver más</a>
                			</div>
                		</li>
                	{% endfor %}
                </ul>
                {% else %}
                    <span>No hay categorias</span>
                {% endif %}
                
                <h3>Videos de usuario</h3>
                {% if uservideos %}
                <ul class="user-videos videos-small clearfix">
                	{% for video in uservideos %}
                		{% if loop.index0 % 4 == 0 %}
       						{% set extraclasses = ['first'] %}
       					{% else %}
       						{% set extraclasses = [] %}
      					{% endif %}
			        	{% include 'DodiciFansworldWebBundle:Video:list_video_item.html.twig' with {video: video, extraclasses: extraclasses, showlikes: false} %}
			        {% endfor %}
                </ul>
                <div class="morelink">
                	<a href="{{ path('video_users') }}">Ver más</a>
                </div>
                {% else %}
                    No hay videos de usuarios.
                {% endif %}
            </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            videos.init();
        });
    </script>
{% endblock %}

{% block rightbar %}
    {% render 'DodiciFansworldWebBundle:Video:rightbar' %}
{% endblock %}