{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Mis Videos{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/videos.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/dodicifansworldweb/js/popup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/dodicifansworldweb/js/jquery/jquery.montage.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- color-box -->
    <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/colorbox.css') }}" type="text/css" media="all">
{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'videos' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
{% if (user == app.user) %}
    <div class="row-fluid update clearfix"> 
        <span></span> 
        <div class="upd_option clearfix"> 
            <a class="btn_picture btn_upload_video" href="{{ path('video_fileupload') }}">cargar video</a> 
        </div>    
    </div>
{% endif %}
    <div class="row-fluid">
        <div class="btn-group">
            <button class="btn">Destacados</button>
            <button class="btn">Mas Vistos</button>
            <button class="btn">Populares</button>
            <button class="btn">Mas Vistos del día</button>
        </div>
    </div>
    
    <style type="text/css">
            
            #am-container .title {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: inherit;
                height: inherit;
                padding: 4px;
                z-index: 99999;
                color: white; 
                text-shadow: black 0.1em 0.1em 0.2em;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            #am-container a button {
                position: absolute;
                bottom: 5px;
                right: 5px;
            }
    </style>
    
    <div class="row-fluid">
        {% if videos|length>0 %}
            <div id="am-container" class="am-container">
            {% for video in videos %}
                        <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                            <span class="title">{{ video.title }}</span>
                            {% thumbnail video.image, 'medium'  with {"title": video.title}%}
                            <button class="btn btn-primary">+</button>
                        </a>
            {% endfor %}
            </div>
        {% else %}
            <h2>No se encontraron videos.</h2>
        {% endif %}
        {% if addMore %}
        <a href="#" id="addMore" class="loadmore myVideos marginTop10">Agregar Más</a>
        {% endif %}
        <input type="hidden" id="userId" value="{{ user.id }}"/>
    </div>
    
    
    
    <script type="text/javascript">
        $(document).ready(function(){
            site.startMosaic($('#am-container'), {minw: 300, margin: 0});
        });
    </script>
{% endblock %}