{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Mis Videos{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'videos' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
                    {% if (user == app.user) %}
                        <div class="update clearfix"> 
                            <span></span> 
                            <div class="upd_option clearfix"> 
                                <a class="btn_picture btn_upload_video" href="{{ path('video_upload') }}">cargar video</a> 
                            </div>    
                        </div>
                    {% endif %}
{% endblock %}

{% block inner_content %}
    <div class="cont">
        <h2 class="border0">Videos</h2>
        
        {% if ( not appstate.idol(user))%}
            {% if videos|length>0 %}
            <ul class="videos">
                    {% for video in videos %}
                            <li class="greybox">
                                        {% if video.image %}
                                            <a href="{{ path('video_show', {id: video.id, slug: video.slug}) }}">
                                                        {% thumbnail video.image, 'video' with {'class': 'wall'} %}
                                            </a>
                                        {% endif %}
                                        <div>
                                            <h2><a href="{{ path('video_show', {id: video.id, slug: video.slug}) }}">{{ video.title }}</a></h2>
                                            <span>
                                                {{ video.content|truncate(100) }}
                                            </span>
                                        </div>

                                        <div class="marginTop10 clearfix">
                                            <span class="marginTop10">de <a href="{{ path('user_detail', {"id":video.author.id}) }}">{% thumbnail video.author.image, "avatar" with {'class':'avatar'} %} {{ video.author }}</a> | </span>
                                            <span class="timeago" data-time="{{ video.createdAt|date('c')}}">{{ video.createdAt|date('c')}}</span>
                                        </div>

                                        {% if video.hasTags %}
                                            <ul class="tags marginTop10 clearfix">
                                                {% for tag in video.hasTags %}
                                                    <li><a href="{{ path('video_tags', {'slug': tag.tag.slug}) }}">{{ tag.tag.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                </li>
                    {% endfor %}
            </ul>
            {% else %}
                <h2>No se encontraron videos.</h2>
            {% endif %}
        {% else %}
                <div class="idolVideos">
                	{% if highlightVideo %}
                    <div class="highLightedVideo">
                        <iframe class="videoframe" src="{{ flumotiontwig.videoplayerurl(highlightVideo) }}"></iframe>
                    </div>
                    {% endif %}
                    <ul class="videos">
                        {% for video in videos %}
                            <li class="video{% if ((loop.index0 + 1)  % 3)==0  %} last{% endif %}" >
                                {% if video.image %}
                                    <a href="{{ path('video_show', {id: video.id, slug: video.slug}) }}">
                                                {% thumbnail video.image, 'video' with {'class': 'wall'} %}
                                    </a>
                                {% endif %}
                                <a href="{{ path('video_show', {id: video.id, slug: video.slug}) }}">
                                    <span class="title">{{ video.title }}</span>
                                </a>
                                <br/>
                                <span class="author">Por <a href="{{ path('user_detail', {id: video.author.id}) }}">{{ video.author }}</a></span>
                                <br/>
                                <span class="description">{{ video.content }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        {% endif %}
        
        {% if addMore %}
            <a href="#" id="addMore" class="loadmore myVideos marginTop10">Agregar Más</a>
        {% endif %}
        <input type="hidden" id="userId" value="{{ user.id }}"/>
    </div>
    <div id="templates" class="hidden">
        <ul class="videos hidden">
            <li class="greybox">
                    <a class="tmpVideo" href="videoShowIDSLUG">
                            <img src="image" alt="image" title="image"/>
                    </a>
                    <div>
                        <h2><a href="">title</a></h2>
                        <span class="tmpContent">
                            content
                        </span>
                    </div>

                    <div class="marginTop10 clearfix">
                        <span class="marginTop10">de <a href="" class="user">author</a> | </span>
                        <span class="timeago" data-time="createdAt">createdAt</span>
                    </div>

                    <ul class="tags marginTop10 clearfix">
                    </ul>
            </li>
        </ul>
    </div>
{% endblock %}