{% set user = app.user %}
{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Mis Videos{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'wall' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
	{% if (user == app.user) %}
        <div class="update clearfix"> 
            <span></span> 
            <div class="upd_option clearfix"> 
                <a class="btn_picture btn_upload_video" href="{{ path('video_upload') }}">cargar video</a> 
            </div>    
        </div>
    {% endif %}
{% endblock %}

{% block inner_content %}
<script type="text/javascript">
	// TEMPORARY, FOR TESTING ONLY
	$(function(){
		$('.videoplayer').colorbox({iframe: true, innerWidth: 640, innerHeight: 480});
	});
</script>
	{% if videos|length>0 %}
        <ul class="videos">
                {% for video in videos %}
                        <li>
                                <h2><a href="{{ path('video_show', {id: video.id, slug: video.slug}) }}">{{ video.title }}</a></h2>
                                {% if video.image %}
                                        <a class="videoplayer" href="{{ flumotiontwig.videoplayerurl(video) }}">
                                                {% thumbnail video.image, 'video' with {'class': 'wall'} %}
                                        </a>
                                {% endif %}
                        </li>
                {% endfor %}
        </ul>
    {% else %}
        <h2>No se encontraron videos.</h2>
    {% endif %}
{% endblock %}