{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Detalle video{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'videos' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
{% if appstate.canview(video) %}
    <header class="row-fluid">
        <div class="span8">
            <h3>{{ video.title }}</h3>
        </div>
        <div class="span4">
            {% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: video} %}
        </div>
    </header>
    <section id="video-show" class="row-fluid">
        <iframe class="videoframe" src="{{ flumotiontwig.videoplayerurl(video) }}" style="width: 100%;height: 459px;"></iframe>
    </section>
    <section class="row-fluid">
        <div class="span7">
            <div class="row-fluid">
                {% if video.content %}
                        {{ video.content }}
                {% endif %}
            </div>
            {% include 'DodiciFansworldWebBundle:Default:comments_and_tags.html.twig' with {entity: video} %}
        </div>
        <section id="related_videos" class="span5">
            {% for rel_video in related_videos %}
                <div class="row-fluid">
                    <div class="span5">
                        {% thumbnail rel_video.image , 'medium' %}
                    </div>
                    <div class="span7">
                        <p class="title">{{ rel_video.title }}</p>
                        <p class="author-and-category"><a href="{{ path('user_wall', {username: rel_video.author.username}) }}">{{ rel_video.author.firstname }}</a> en <a>{{ rel_video.videocategory}}</a></p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% else %}
    <div class="row-fluid">
            <h2>Usted no está autorizado para ver este video</h2>
    </div>
{% endif %}


<script type="text/javascript">
    $(document).ready(function(){
        videos.init();
    });
</script>
{% endblock %}