
{% if appstate.canview(video) %}

<div class="cont clearfix">
    <div class="media">
        <div class="media_content">
            <iframe class="videoframe" src="{{ flumotiontwig.videoplayerurl(video) }}"></iframe>
        </div>
        
		{% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: video} %}

        <div class="media_info">
            <div>
                <strong>{{ video.title }}<br></strong>
                {% if video.author %}
                <span>por <a href="{{ path('user_wall', {username: video.author.username}) }}">{{ video.author }}</a></span>
                {% endif %}
                {% if video.videocategory %}
                <span>en <a href="{{ path('video_category', {'id': video.videocategory.id, 'slug': video.videocategory.slug}) }}">{{ video.videocategory }}</a></span>
                {% endif %}
            </div>
            {% if video.content %}
            	<div class="description">
            		{{ video.content }}
            	</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="cont clearfix">
    {% include 'DodiciFansworldWebBundle:Comment:comment_block.html.twig' with {entity: video} %}
</div>

{% else %}

<div class="cont clearfix">
	<p>Usted no está autorizado para ver este video</p>
</div>

{% endif %}


<script type="text/javascript">
    $(document).ready(function(){
        videos.init();
    });
</script>
{% endblock %}