{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/videos.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ parent() }} - TV{% endblock %}
{% block relatedcolumn %}
    <div class="col_599 left margin">
            <div class="cont clearfix withOutRightBar">
                {% if videos|length>0 %}
                    <ul class="videos">
                            {% for video in videos %}
                                <li class="greybox">
                                        {% if video.image %}
                                            <a href="{{ path('video_show', {id: video.id, slug: video.slug}) }}">
                                                        {% thumbnail video.image, 'video' with {'class': 'wall'} %}
                                            </a>
                                        {% endif %}
                                        <div>
                                            <h2><a href="{{ path('video_show', {id: video.id, slug: video.slug}) }}">{{ video.title }}</a></h2>
                                            <span>
                                                {{ video.content|truncate(100) }}
                                            </span>
                                        </div>

                                        <div class="marginTop10 clearfix">
                                            <span class="marginTop10">de <a href="{{ path('user_land', {username:video.author.username}) }}">{% thumbnail video.author.image, "avatar" with {'class':'avatar'} %} {{ video.author }}</a> | </span>
                                            <span class="timeago" data-time="{{ video.createdAt|date('c')}}">{{ video.createdAt|date('c')}}</span>
                                        </div>

                                        {% if video.hasTags %}
                                            <ul class="tags marginTop10 clearfix">
                                                {% for tag in video.hasTags %}
                                                    <li><a href="{{ path('video_tags', {'slug': tag.tag.slug}) }}">{{ tag.tag.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                </li>
                            {% endfor %}
                    </ul>
                {% else %}
                    <h2>No se encontraron videos.</h2>
                {% endif %}
                {% if addMore %}
                    <a href="#" id="addMore" class="loadmore videosByTag marginTop10">Agregar Más</a>
                {% endif %}
            </div>
    </div>
    <div id="templates" class="hidden">
        <ul class="videos hidden">
            <li class="greybox">
                    <a class="tmpVideo" href="videoShowIDSLUG">
                            <img src="image" alt="image" title="image"/>
                    </a>
                    <div>
                        <h2><a href="">title</a></h2>
                        <span class="tmpContent">
                            content
                        </span>
                    </div>

                    <div class="marginTop10 clearfix">
                        <span class="marginTop10">de <a href="" class="user">author</a> | </span>
                        <span class="timeago" data-time="createdAt">createdAt</span>
                    </div>

                    <ul class="tags marginTop10 clearfix">
                    </ul>
            </li>
        </ul>
    </div>
{% endblock %}