<div class="col_160 left margin">
				{% if not hide_login %}
                <div class="cont clearfix">
                	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <div class="user_menu">

                        <div class="user clearfix">
                            {% if user.image %}
                            <div class="avatar">
                            	<a class="change_image" href="{{ path('user_change_image') }}">
                            		{% thumbnail user.image, 'avatar' %}
                            	</a>
                            </div>
                            {% endif %}
                            <div class="name">{{ user.firstname }} {{ user.lastname }} <a href="{{ path("fos_user_security_logout") }}">Salir</a></div>
                        </div>
                        <ul>
                            <li class="active"><a class="user_n1" href="user_profile.php">Mi perfil</a></li>
                            <li><a class="user_n2" href="user_fans.php">Fans</a></li>
                            <li><a class="user_n3" href="{{ path('user_photos', {'id': user.id}) }}">Fotos</a></li>
                            <li><a class="user_n4" href="user_videos.php">Videos</a></li>
                            <li><a class="user_n5" href="user_contests.php">Mis concursos</a></li>
                            <li><a class="user_n6" href="user_philanthropy.php">Mis causas</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <h2>Login</h2>
                    <form class="login clearfix" action="{{ path("fos_user_security_check") }}" method="post">
					    <label for="username">Email:</label>
					    <input type="text" id="username" name="_username" />
					
					    <label for="password">Clave:</label>
					    <input type="password" id="password" name="_password" />
					
						<div class="recordar">
						    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
						    <label for="remember_me">Recordarme</label>
					    </div>
					
					    <input class="btn" type="submit" id="_submit" name="_submit" value="ENTRAR" />
					</form>
					{{ facebook_login_button({'autologoutlink': false, label: 'facebook_login_short'|trans}) }}
					
					<a class="banner-register" href="{{ path('fos_user_registration_register') }}" title="Registrate, es gratis"><img src="{{ asset('bundles/dodicifansworldweb/images/registro.gif' )}}"/></a>
                    {% endif %}
                </div>
                {% endif %}
                {% if not hide_ad %}
                <div class="ad">
                    <div class="banner_demo" style="height:600px"></div>
                </div>
                {% endif %}
            </div>