<div class="col_160 left margin">
    {% if not hide_login %}
        <div class="cont clearfix leftbar">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="user_menu">

                <div class="user clearfix">
                    {% if user.image %}
                    <div class="avatar">
                        <a href="{{ path('user_wall', {username: user.username}) }}">
                                {% thumbnail user.image, 'avatar' %}
                        </a>
                    </div>
                    {% endif %}
                    <div class="name">{{ user.firstname }} {{ user.lastname }} <a href="{{ path("fos_user_security_logout") }}">Salir</a></div>
                </div>
                <ul>
                    <li class="active"><a class="user_n1" href="{{ path('user_wall', {username: user.username}) }}">Mi perfil</a></li>
                    <li><a class="user_n2" href="{{ path('search_friends') }}">Fans</a></li>
                    <li><a class="user_n3" href="{{ path('user_photos', {username: user.username}) }}">Fotos</a></li>
                    <li><a class="user_n4" href="{{ path('video_user', {'username': user.username}) }}">Videos</a></li>
                    <li><a class="user_n5" href="{{ path('contest_mycontests') }}">Mis concursos</a></li>
                    <li><a class="user_n6" href="user_philanthropy.php">Mis causas</a></li>
                </ul>
            </div>
            {% else %}
            {{ facebook_login_button({'autologoutlink': false, label: 'facebook_login_short'|trans, size: 'large'}) }}
            <h2 class="loginhead">Login</h2>
            <form class="login clearfix" action="{{ path("fos_user_security_check") }}" method="post">
                                    <label for="username">Email:</label>
                                    <input type="text" id="username" name="_username" />

                                    <label for="password">Clave:</label>
                                    <input type="password" id="password" name="_password" />

                                        <div class="recordar">
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                            <label for="remember_me">Recordarme</label>
                                    </div>

                                    <input class="btn" type="submit" id="_submit" name="_submit" value="ENTRAR" />
                                </form>
                                
			<div class="greybox banner-register clearfix">
				<a href="{{ path('fos_user_registration_register') }}">Registrate aquí</a> 
				si aún no lo has hecho
			</div>
            {% endif %}
        </div>
    {% endif %}
    {% if not hide_ad %}
    <div class="ad">
        <div class="banner_demo" style="height:600px"></div>
    </div>
    {% endif %}
</div>