{% if type is not defined %}
	{% set type = appstate.type(entity) %}
{% endif %}
{% set canlike = appstate.canlike(entity) %}
{% set candislike = appstate.candislike(entity) %}

{% if 'video' == type %}
    <a class="btn watchlater" data-videoid="{{ entity.id }}" data-later="false">
        <i class="icon-eye-open"></i>
         <!--span class="watchlaterText">Mirar luego</span-->
    </a>
{% endif %}

{% if canlike or candislike %}
	{% if showcount is not defined %}
		{% set showcount = true %}
	{% endif %}

                  {% if buttonmode is not defined %}
                    <a class="likebutton{% if extraclasses is defined %} {{ extraclasses|join(' ') }}{% endif %}" data-id="{{ entity.id }}" data-type="{{ type }}">
                            {% if canlike %}
                                    {{ 'like'|trans }}
                            {% elseif candislike %}
                                    {{ 'unlike'|trans }}
                            {% endif %}
                    </a>
                    {% if entity.likecount is defined and showcount %}
                            <span class="likecount">{{entity.likecount}}</span>
                    {% endif %}
                {% else %}
                        <a class="btn like" data-id="{{ entity.id }}" data-type="{{ type }}">
                            {% if canlike %}
                                <i class="icon-star-empty"></i>
                            {% elseif candislike %}
                                <i class="icon-star"></i>
                            {% endif %}
                            {% if entity.likecount is defined and showcount %}
                                <span class="likecount">{{entity.likecount}}</span>
                            {% endif %}
                        </a>
                {% endif %}
{% endif %}

