{% if type is not defined %}
	{% set type = appstate.type(entity) %}
{% endif %}
{% set canlike = appstate.canlike(entity) %}
{% set candislike = appstate.candislike(entity) %}

{% if 'video' == type %}
    <button class="watchlater" data-login-required data-watch-later data-video-id="{{ entity.id }}"rel="tooltip" title="Add to playlist" data-later="false" data-placement="bottom">
        <i></i>
    </button>
{% endif %}

{% if canlike or candislike or not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	{% if showcount is not defined %}
		{% set showcount = true %}
	{% endif %}

                  {% if buttonmode is not defined %}
                    <a class="likebutton{% if extraclasses is defined %} {{ extraclasses|join(' ') }}{% endif %}" data-id="{{ entity.id }}" data-type="{{ type }}">
                            {% if canlike %}
                                    {{ 'like'|trans }}
                            {% elseif candislike %}
                                    {{ 'unlike'|trans }}
                            {% endif %}
                    </a>
                    {% if entity.likecount is defined and showcount %}
                            <span class="likecount">{{entity.likecount}}</span>
                    {% endif %}
                {% else %}
                        <button class="social_action like" data-id="{{ entity.id }}" data-type="{{ type }}" data-login-required>
                            {% if canlike %}
                                <i class="icon-star-empty"></i>
                            {% elseif candislike %}
                                <i class="icon-star"></i>
                            {% else %}
                                <i class="icon-star-empty"></i>
                            {% endif %}
                            {% if entity.likecount is defined and showcount %}
                                <span class="likecount">{{entity.likecount}}</span>
                            {% endif %}
                        </button>
                {% endif %}
{% endif %}

