{% if sectionSelected is not defined %}
    {% set sectionSelected = false %}
{% endif %}

<nav class='navbar-inner'>
    <div class='container'>
        <div class="left-container">
            <a class="brand" href="{{ path('homepage') }}">
                <img class="big" src="{{ asset('bundles/dodicifansworldweb/images/logofw.png' ) }}"/>
                <img class="tiny" src="{{ asset('bundles/dodicifansworldweb/images/fw_tiny_logo.png' ) }}"/>
            </a>

            <ul class="nav sections">
                <li {% if sectionSelected == 'profiles' %} class="active" {% endif %}>
                    <a href="{{ path('profiles_index') }}">Perfiles</a>
                </li>
                <li {% if sectionSelected == 'home' %} class="active" {% endif %}>
                    <a href="{{ path('homepage') }}">Canales</a>
                </li>
                {#<li {% if sectionSelected == 'idols' %} class="active" {% endif %}>
                    <a href="{{ path('idol_home') }}">Idolos</a>
                </li>
                <li {% if sectionSelected == 'teams' %} class="active" {% endif %}>
                    <a href="{{ path('team_list') }}">Equipos</a>
                </li>
                <li {% if sectionSelected == 'events' %} class="active" {% endif %}>
                    <a href="{{ path('event_home') }}">Eventos</a>
                </li>#}
            </ul>
        </div>
        <div class="right-container">
            <nav class="widget-bar">
                <a title="Perfil" href="{{ path('user_land', { username: user.username }) }}" class="btn-widget"><i class="icon-user icon-white"></i></a>
            </nav>
            <form class="navbar-search" name="search" method="post" action="{{ path('search_home') }}">
                <input name="query" type="text"/>
                <button type="submit" class="icon-search"></button>
            </form>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <!-- div class="dropdown share" data-dropdownshare>
                    <a href="{{ path('photo_fileupload') }}" data-upload="photo"><i class="icon-circle-arrow-up icon-white"></i>Subir Video</a>
                </div -->
                <button class="btn-upload-video" href="{{ path('photo_fileupload') }}" data-upload="photo"><i
                            class="icon-circle-arrow-up icon-white"></i>Subir Video
                </button>
                <div class="dropdown user">
                    <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                        <!--span>{{ user.firstname }}<b class="caret"></b></span-->
                        {% thumbnail user.image, 'headeravatar' %}
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="{{ path('user_land', { username: user.username }) }}">Mi perfil</a>
                        </li>

                        <li>
                            <a href="{{ path('profile_account') }}">Configuración de Cuenta</a>
                        </li>

                        <li>
                            <a href="{{ path('profile_privacy') }}">Configuración de Privacidad</a>
                        </li>

                        <li>
                            <a href="{{ path('fos_user_change_password') }}">Cambiar Contraseña</a>
                        </li>

                        <li>
                            <a href="{{ path('notification_preferences') }}">Preferencias de Notificación</a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#" data-invite-modal>Invitar amigos</a>
                        </li>

                        <li>
                            <a href="{{ path("fos_user_security_logout") }}">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}">
                    <button class="btn-upload-video notlogged pull-left"><i class="icon-circle-arrow-up icon-white"></i>Subir
                        video
                    </button>
                </a>
                <button class='btn-login header-ingresar' href="{{ path('fos_user_security_login') }}" data-login-btn>
                    Ingresar
                </button>
            {% endif %}
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#collapse-me">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul id="collapse-me" class="collapse">
            <li>
                <a href="{{ path('profiles_index') }}">Perfiles</a>
            </li>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="{{ path('user_land', { username: user.username }) }}">Mi perfil</a>
                </li>
                <li>
                    <a href="{{ path("fos_user_security_logout") }}">Cerrar Sesión</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('fos_user_security_login') }}">Ingresar</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div id='login-widget'>
        <div class='arrow-up'></div>
        <div class='arrow-up-border'></div>
        <div style="padding: 15px; width: 222px;">
            <button class="fb_button" data-facebook-login></button>

            <form class="login clearfix" action="{{ path("fos_user_security_check") }}" method="post">
                <span class="pull-left">Login</span>
                <span class="pull-right"><a href='{{ path('fos_user_resetting_request') }}'>Olvidaste
                        Contraseña?</a></span>
                <ul>
                    <li>
                        <input type="text" id="username" name="_username" placeholder="Usuario"/>
                    </li>
                    <li>
                        <input type="password" id="password" name="_password" placeholder="Contraseña"/>
                    </li>
                </ul>
                <div class='bottom-login'>
                    <div class="recordar">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">Recordarme</label>
                    </div>

                    <input type="hidden" name="_target_path" value="{{ app.request.uri }}"/>
                    <button type='submit' class='btn-submit'>ingresar</button>

                </div>
            </form>
        </div>
        <a class="register" href="{{ path('fos_user_registration_register') }}">Crear nueva cuenta</a>
    </div>
{% endif %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="widget-container" style="opacity:0;display:none;">
        <div class='arrow-up'></div>
        <div class="widget-content">
            <h4 class="widget-title">Title</h4>
            <i class="close-share"></i>
            <div class="widget-inner">
                <div class="widget-app">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}