<nav class='navbar-inner'>
    <div class='container'>
        <a class="btn btn-navbar navbar-fixed-top" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ path('homepage') }}">
          <img src="{{ asset('bundles/dodicifansworldweb/images/logofw.png' )}}" />
        </a>
        <div class="nav-collapse">
            
            <ul class="nav">
                <li>
                    <a href="{{ path('search_idols') }}">Idolos</a>
                </li>
                <li>
                    <a href="{{ path('team_list') }}">Equipos</a>
                </li>
                <li>
                    <a href="{{ path('teve_home') }}">TV</a>
                </li>
                <li>
                    <a href="{{ path('contest_list') }}">Eventos</a>
                </li>
                <li>
                    <a href="">Fun</a>
                </li>
                <li class='show-on-collapse'>
                    <a href='{{ path('about_terms') }}'>Terminos y condiciones</a>
                </li>
                <li class='show-on-collapse'>
                    <a>About Us</a>
                </li>
                <li class='show-on-collapse'>
                    <a>Site Map</a>
                </li>
                <li class='show-on-collapse'>
                    <a>Soporte</a>
                </li>
                <li class='show-on-collapse'>
                    <a class='icon'>
                        <img src="{{ asset('bundles/dodicifansworldweb/images/tw-logo.png' )}}" />
                    </a>
                </li>
                <li class='show-on-collapse'>
                    <a class='icon'>
                        <img src="{{ asset('bundles/dodicifansworldweb/images/fb-logo.png' )}}" />
                    </a>
                </li>
            </ul>
           
            <form class="navbar-search pull-left" name="search" method="post">
                <div class="input-append">
                    <input type="text" class="search-query" id="appendedInput" placeholder="Buscar..."><span class="add-on"><i class="icon-search"></i></span>
                </div>
                
            </form>
            
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                
            </div>
        
                <ul class="nav pull-right usermenu">
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
                            <span>{{ user.firstname }}<b class="caret"></b></span> {% thumbnail user.image, 'headeravatar' %}<b class="caret" id="overimage"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('profile_account') }}">Configuración de Cuenta</a>
                            </li>
                            <li>
                                <a href="{{ path('profile_privacy') }}">Configuración de Privacidad</a></li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">Cambiar Contraseña</a></li>
                            <li>
                                <a href="{{ path('notification_preferences') }}">Preferencias de Notificación</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path("fos_user_security_logout") }}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    
                    
                </ul>
            <div class="nav-collapse">
                <a class='btn pull-right' href="#">Compartir ></a>
            
            {% else %}
                
                <a class='btn btn-success pull-right header-ingresar' href="#">Ingresar</a>
                <a class='btn btn-success pull-right' href="{{ path('fos_user_registration_register') }}">Registrarse</a>
                
            {% endif %}
        </div>
    </div>
</nav>

{% if not is_granted("IS_AUTHENTICATED_FULLY") %}

                <div id='login-widget'>
                    <div class='arrow-up'></div>
                    <div class='arrow-up-border'></div>
                    <div class='fb_button'>
                    	{{ facebook_login_button({'autologoutlink': false, label: 'facebook_login_short'|trans, size: 'large'}) }}
                    </div>
                    
                    
                    <form class="login clearfix" action="{{ path("fos_user_security_check") }}" method="post">
                        <ul>
                            <li>
                                <label for="username">Email:</label>
                            </li>
                            <li>
                                <input type="text" id="username" name="_username" />
                            </li>
                            <li>
                                <label for="password">Clave:</label>
                            </li>
                            <li>
                                <input type="password" id="password" name="_password" />
                            </li>
                            <li>
                                <div class='bottom-login'>
                                    <div class="recordar">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                        <label for="remember_me">Recordarme</label>
                                    </div>
                                    
                                    <div class="olvidar">
                                        <a href='{{ path('fos_user_resetting_request') }}'>Olvido su contrase&ntilde;a</a>
                                    </div>
                                    
                                    <button type='submit' class='btn btn-success'>Ingresar</button>
                                    
                                </div>
                            </li>
                           
                        </ul>
                    </form>
                </div>
{% endif %}                