<div class="relatedsidebar">

    <!-- IDOLS -->
    {% if topidols|length > 0 %}
        <div class="title_section"><strong>Idolos</strong></div>
        <div class="content_section">
            {% for idol in topidols %}
                <a href="{{ path('idol_land', {slug: idol.slug}) }}" rel="tooltip" title="{{ idol.firstname ~ ' ' ~ idol.lastname }}">
                    {% thumbnail idol.image, 'avatar' with {title: idol.firstname ~ ' ' ~ idol.lastname} %}
                </a>
            {% endfor %}
            <!--
                TODO / NEXT FEATURE
                <br/><br/><button class="btn btn-success suggestIdols" data-suggest="">SUGERIR IDOLOS A FANSWORLD</button>
            -->
        </div>
    {% endif %}

    <!-- FANS -->
    {% if topfans|length > 0 %}
        <div class="title_section"><strong>Fans</strong></div>
        <div class="content_section">
            {% for fan in topfans %}
                <a href="{{ path('user_land', {username: fan.username}) }}" rel="tooltip" title="{{ fan.firstname ~ ' ' ~ fan.lastname }}">
                    {% thumbnail fan.image, 'avatar' with {title: fan.firstname ~ ' ' ~ fan.lastname} %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <!-- TEAMS -->
    {% if teams|length > 0 %}
        <div class="title_section"><strong>Equipos</strong></div>
        <div class="content_section">
            {% for team in teams %}
                <a href="{{ path('team_land', {slug: team.slug}) }}" rel="tooltip" title="{{ team.shortname }}">
                    {% thumbnail team.image, 'avatar' with {title: team.shortname} %}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <!-- MATCHS -->
    {% if matchs|length > 0 %}
        <div class="title_section"><strong>Proximos Partidos</strong></div>
        <div class="content_section">
            {% for match in matchs %}
                {% for hasteam in match.hasteams %}
                    <a href="{{ path('team_wall', {slug: hasteam.team.slug}) }}" rel="tooltip" data-original-title="{{ hasteam.team.title }}">
                        {% thumbnail hasteam.team.image, 'avatar' with {title: hasteam.team.title} %}
                    </a>
                {% endfor %}
                    {% if match.hasteams|length > 0 %}
                        <button class="btn btn-success checkIn" data-event-id="{{ match.id }}" data-event-check-in="">Check in</button>
                        <div class="match_info">{{ match.stadium }} <br/> {{ match.fromtime|date("d/m/Y H:i") }}</div>
                    {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- VIDEO SIDEBAR -->
    <div class="sidebar-videos">
        {% for video in videos %}
            <div class="item">
                <div class="item-info">
                    <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                        <div class="overlay"></div>
                        <div class="title-and-user">
                            <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                <span class="title">{{ video.title|truncate(24) }}</span>
                            </a>
                        </div>

                        <div class="image">
                        <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                            {% thumbnail video.image, 'huge_square' %}
                        </a>

                        <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                            <i class="play-video"></i>
                        </a>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        events.bindCheckInButtons();
    </script>
{% endblock %}