<div class="relatedsidebar">
    {% if (topidols|length > 0) or (teams|length > 0) %}

        {% if (entityType == 'idol') or (entityType == 'team') %}
            <div class="title_section"><span>RELACIONADOS</span></div>
        {% elseif entityType == 'user' %}
            <div class="title_section"><span>SIGUIENDO</span></div>
        {% endif %}
        <!-- IDOLS -->
        {% if topidols|length > 0 %}
            <div class="content_section" data-section-type="idols">
                {% for idol in topidols %}
                    <a href="{{ path('idol_land', {slug: idol.slug}) }}" rel="tooltip" title="{{ idol.firstname ~ ' ' ~ idol.lastname }}">
                        {% thumbnail idol.image, 'avatar' with {title: idol.firstname ~ ' ' ~ idol.lastname} %}
                    </a>
                {% endfor %}
                <!--
                    TODO / NEXT FEATURE
                    <br/><br/><button class="btn btn-success suggestIdols" data-suggest="">SUGERIR IDOLOS A FANSWORLD</button>
                -->
            </div>
        {% endif %}

        <!-- TEAMS -->
        {% if teams|length > 0 %}
            <div class="content_section" data-section-type="teams">
                {% for team in teams %}
                    <a href="{{ path('team_land', {slug: team.slug}) }}" rel="tooltip" title="{{ team.title }}">
                        {% thumbnail team.image, 'avatar' with {title: team.title} %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    <!-- FANS -->
    {% if topfans|length > 0 %}
        <div class="title_section"><span>FANS</span></div>
        <div class="content_section" data-section-type="fans">
            {% for fan in topfans %}
                <a href="{{ path('user_land', {username: fan.username}) }}" rel="tooltip" title="{{ fan.firstname ~ ' ' ~ fan.lastname }}">
                    {% thumbnail fan.image, 'avatar' with {title: fan.firstname ~ ' ' ~ fan.lastname} %}
                </a>
            {% endfor %}
        </div>
    {% endif %}



    <!-- MATCHS -->
    {# EVENT_REM
    {% if matchs|length > 0 %}
        <div class="title_section"><span>PROXIMOS PARTIDOS</span></div>
        <div class="content_section" data-section-type="matchs">
            {% for match in matchs %}
                {% for hasteam in match.hasteams %}
                    <a href="{{ path('team_wall', {slug: hasteam.team.slug}) }}" rel="tooltip" data-original-title="{{ hasteam.team.title }}">

                            {% if loop.first %}
                                {% thumbnail hasteam.team.image, 'avatar' with {title: hasteam.team.title} %}
                            {% else %}
                                {% thumbnail hasteam.team.image, 'avatar' with {title: hasteam.team.title, class : 'vsitem'} %}
                            {% endif %}
                    </a>
                {% endfor %}
                    {% if match.hasteams|length > 0 %}
                        <button class="btn btn-success checkIn" data-event-id="{{ match.id }}" data-event-check-in="">Check in</button>
                        <div class="match_info">{{ match.stadium | truncate(20) }} <br/> {{ match.fromtime|date("d/m/Y H:i") }}</div>
                    {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    END EVENT_REM #}

    <!-- VIDEO SIDEBAR -->
    <div class="sidebar-videos">
        {% for video in videos %}
            <div class="video-std-block">
                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}" data-modal-url="{{ path('modal_media', {'type': 'video', 'id': video.id}) }}">
                    {% thumbnail video.image, 'huge_square' with {'class': 'thumb'} %}
                    <i class="play-video"></i>
                </a>
                <div class="title-and-user">
                    {% if video.author is not null %}
                        {% if video.author.image is not null%}
                            <a href="{{ path('user_wall', {'username': video.author.username}) }}">{% thumbnail video.author.image, 'small_square' with { 'rel': 'tooltip', 'class': 'author-image', 'title': video.author} %}</a>
                        {% endif %}
                    {% endif %}
                    <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}" data-modal-url="{{ path('modal_media', {'type': 'video', 'id': video.id}) }}">
                        <span class="title">{{ video.title }}</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="sidebar-invite">
        <button class="inviter-button" data-invite-modal>Invitar amigos</button>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        events.bindCheckInButtons();
    </script>
{% endblock %}