<div class="col_300 left">
                <div class="cont clearfix">
                    <h2>Idolos de {{ user.firstname }} <a class="more" href="user_idols.php">ver todos</a></h2>
                    <div class="grid_users">
                        <ul class="users">
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cont clearfix">
                    <h2> Fans <a class="more" href="user_fans.php">ver todos</a>de {{ user.firstname }}</h2>
                    <div class="grid_users">
                        <ul class="users">
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ad">
                    <div class="banner_demo" style="height:250px"></div>
                </div>
                <div class="ad">
                    <div class="banner_demo" style="height:120px"></div>
                </div>
            </div>