<div class="col_300 left">
                <div class="cont clearfix">
                    <h2>Idolos top <a class="more" href="{{ path('search_idols') }}">ver todos</a></h2>
                    <div class="grid_users">
                        <ul class="users">
                        	{% for idol in topidols %}
                            <li class="user">
                                <a href="{{ path('user_wall', {username: idol.username}) }}">
                                    <span class="tooltip">
                                        <h3 class="name">{{ idol }}</h3>
                                        <span class="fans">{{ idol.fanCount }} fans</span>
                                    </span>
                                    {% if idol.image %}
                                    	{% thumbnail idol.image, 'avatar' %}
                                    {% else %}
                                    	<img src="{{ asset('bundles/dodicifansworldweb/images/user_pic.jpg' )}}" width="50" height="50" />
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="ad">
                    <div class="banner_demo" style="height:120px"></div>
                </div>
                <div class="cont clearfix">
                    <h2>Fans top <a class="more" href="{{ path('search_search') }}">ver todos</a></h2>
                    <div class="grid_users">
                        <ul class="users">
                        	{% for fan in topfans %}
                            <li class="user">
                                <a href="{{ path('user_wall', {username: fan.username}) }}">
                                    <span class="tooltip">
                                        <h3 class="name">{{ fan }}</h3>
                                        <span class="fans">{{ fan.score }} puntos</span>
                                    </span>
                                    {% if fan.image %}
                                    	{% thumbnail fan.image, 'avatar' %}
                                    {% else %}
                                    	<img src="{{ asset('bundles/dodicifansworldweb/images/user_pic.jpg' )}}" width="50" height="50" />
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="ad">
                    <div class="banner_demo" style="height:250px"></div>
                </div>
            </div>