<div class="sharer-container">
    <button class="social_action share{% if extraclasses is defined %} {{ extraclasses|join(' ') }}{% endif %}" data-share-button
            data-id="{{ entity.id }}" data-type="{{ type }}">
        <i></i>
        Compartir
    </button>
    <div id="share-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="share-modal" aria-hidden="true" style="overflow:hidden;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="share-modal" style="text-align: left;">Compartir</h3>
        </div>
        <div class="modal-body">
            <div class="spinner-overlay hide">
                <div class="spinner"><div class="mask"></div></div>
                <span class="legend">Compartiendo</span>
            </div>
            <figure class="thumbnail">
                {% thumbnail entity.image, 'medium' %}
                <label class="title">{{ entity.title }}</label>
                <span class="author">de {{ entity.author }}</span>
            </figure>
            <div class="data">
                <label>Tu comentario</label>
                <textarea placeholder="Escribe aquí tu comentario" data-share-msg></textarea>

                <p>Primero comparte en</p>
                <ul class="list-social-network">
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ url(type~'_show', {'id': entity.id,'slug': entity.slug}) }}" data-share-content>
                            <i class="facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/share?url={{ url(type~'_show', {'id': entity.id, 'slug': entity.slug}) }}" data-share-content>
                            <i class="twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url={{ url(type~'_show', {'id': entity.id, 'slug': entity.slug}) }}" data-share-content>
                            <i class="gplus"></i>
                        </a>
                    </li>
                </ul>
                <p>y ahora</p>

                <button id="share_it">Compartir en FansWorld</button>
            </div>
        </div>
    </div>
</div>