{% set type = appstate.type(entity) %}
{% set share_url = url(type ~ "_show", {'id': entity.id, 'slug': entity.slug }) %}
<div class="share_content clearfix">
	<a target="_blank" href="http://www.facebook.com/sharer.php?u={{ share_url|url_encode }}"><img src="{{ asset('bundles/dodicifansworldweb/images/ico/facebook.png') }}" alt="facebook"></a>
	<a target="_blank" href="https://twitter.com/share?url={{ share_url|url_encode }}"><img src="{{ asset('bundles/dodicifansworldweb/images/ico/twitter.png') }}" alt="twitter"></a>
	<g:plusone annotation="none"></g:plusone>
	
	<div class="internal_buttons">
		<a class="likebutton" data-id="{{ entity.id }}" data-type="{{ type }}">{{ 'like'|trans }}</a>
		<a class="sharebutton" data-id="{{ entity.id }}" data-type="{{ type }}">{{ 'share'|trans }}</a>
	</div>
</div>