<div class="sidebar-videos">
    <h4>Últimos Videos!</h4>
        {% for video in videos %}
            {% set videoUrl = path('video_show', {'id': video.id, 'slug': video.slug}) %}
            <article class="video-std-block">
                <div class="image">
                    <a class="title" href="{{ videoUrl }}">
                        {% thumbnail video.image, 'home_video' with {'title': video.title} %}
                    </a>
                    <span class="duration">{{ video.duration|date('i:s') }}</span>
                    <i class="ico-watchlater" data-login-required data-watch-later data-video-id="{{ video.id }}" data-later="false" rel="tooltip" title="Watch later"></i>
                    <a class="title" href="{{ videoUrl }}" data-modal-url="{{ path('modal_media', {'type': 'video', 'id': video.id}) }}">
                        <i class="ico-channels" rel="tooltip" title="Quick view" data-placement="bottom"></i>
                    </a>
                </div>
                <div class="info">
                    <a class="title" href="{{ videoUrl }}">{{ video.title }}</a>
                    <span class="author">de <a href="{{ path('user_wall', {'username': video.author.username}) }}">{{ video.author.username }}</a></span>
                    <div class="clearfix"></div>
                </div>
            </article>
        {% endfor %}
</div>