{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul class='well sidebar-nav sidebar-nav-fixed' id='left-menu'>

        <li class="toolbar-icon wall">
            <a class='icon' href="{{ path('user_wall', {'username': app.user.username}) }}"  title="Mi perfil" rel="tooltip" data-notif-messages='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_wall.png' )}}" />
            </a>
        </li>
        
        <li class="toolbar-icon videos">
            <a class='icon' href="{{ path('things_videos') }}" title="Mis videos" rel="tooltip" data-notif-videos='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_videos.png' )}}" />
            </a>
        </li>
        
        <li class="toolbar-icon photos">
            <a class='icon' href="{{ path('things_photos') }}" title="Mis fotos" rel="tooltip" data-notif-photos='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_photos.png' )}}" />
            </a>
        </li>
        
        <li class="toolbar-icon fans">
            <a class='icon' href="{{ path('things_fans') }}"  title="Mis fans" rel="tooltip" data-notif-fans='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_fans.png' )}}" />
            </a>
        </li>
        
        <li class="toolbar-icon idols">
            <a class='icon' href="{{ path('things_idols') }}" title="Mis idolos" rel="tooltip" data-notif-idols='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_idols.png' )}}" />
            </a>
        </li>


        <li class="toolbar-icon teams">
            <a class='icon' href="{{ path('things_teams') }}" title="Mis equipos" rel="tooltip" data-notif-teams='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_teams.png' )}}" />
            </a>
        </li>
        
        <li class="toolbar-icon badges">
            <a class='icon' href="{{ path('things_badges') }}" title="Mis rankings" rel="tooltip" data-notif-badges='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_badges.png' )}}" />
            </a>
        </li>
        
        <li class="toolbar-icon notifications">
            <a class='icon' href="{{ path('notification_details') }}" title="Notificaciones" rel="tooltip" data-notif-total ='{"count":"0"}'>
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_notifications.png' )}}" />
            </a>
        </li>
        
        <li class="toolbar-icon config">
            <a class='icon' href="{{ path('profile_account') }}" title="Mi configuración" rel="tooltip">
                <img src="{{ asset('bundles/dodicifansworldweb/images/ui/user_settings.png' )}}" />
            </a>
        </li>
    </ul>
{% endif %}