<div class="top">
    <div class="wrap">
        <div class="users">
        	Ya somos <strong>{{ usercount }}</strong> miembros 
        	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
        		<a class="btn" href="{{ path('user_invite') }}">Invitá a tus amigos</a>
        	{% else %}
        		<a class="btn" href="{{ path('fos_user_registration_register') }}">Sumate</a>
        	{% endif %}
        </div>
        <div class="social">
            <ul>
                <li><a href="#1">Espa&ntilde;ol</a>
                    <ul>
                        <li><a href="#1">Ingles</a></li>
                        <li><a href="#1">Portugues</a></li>
                    </ul>
                </li>
            </ul>
            <div class="redes">
                <a href="#1" title="Facebook"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_facebook.png' )}}"></a>
                <a href="#1" title="Twitter"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_twitter.png' )}}"></a>
                <a href="#1" title="Feed Rss"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_rss.png' )}}"></a>
            </div>
        </div>
    </div>
</div>