{% extends 'DodiciFansworldWebBundle:Profile:header_small_base.html.twig' %}
	

{% block header_subtitle %}
    {% if entity.country %}
        {{ entity.country }}
    {% endif %}
    {% if entity.team %}
        {{ entity.team }}
    {% endif %}
{% endblock %}


{% block header_small_right %}
	<div class='span4 numbers-info'>
	    <section class='fotos-info'>
	        <div class='numero'>{{ entity.photoCount }}</div>
	        <div class='tipo'>Fotos</div>
	    </section>
	    
	    <section class='videos-info with-border'>
	        <div class='numero'>{{ entity.videoCount }}</div>
	        <div class='tipo'>Videos</div>
	    </section>
	    
	    <section class='fans-info'>
	        <div class='numero'>{{ entity.fanCount }}</div>
	        <div class='tipo'>Fans</div>
	    </section>
	</div>
	
	<div class='span2'>
        <div class='header-fship'>
            {% include "DodiciFansworldWebBundle:Default:blocks/fan_button.html.twig" with { entity:  entity, buttonSize: 'btn-large', fType: 'idol' } %}
        </div>
	</div>
	

{% endblock %}