{% extends "DodiciFansworldWebBundle::popup.html.twig" %}

{% form_theme form 'DodiciFansworldWebBundle::form.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- File-upload -->
    <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/js/file-uploader/fileuploader.css') }}" type="text/css" media="all">
{% endblock %}

    
{% block javascripts %}
	<script src="{{ asset('bundles/dodicifansworldweb/js/base.js') }}" type="text/javascript"></script>
	
	<script src="{{ asset('bundles/dodicifansworldweb/js/file-uploader/fileuploader.js') }}" type="text/javascript"></script>
	
	<script src="{{ asset('bundles/dodicifansworldweb/js/videos.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/dodicifansworldweb/js/popup_upload_video.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %} 
    
	<div class="greybox">
        <div id="file-uploader">        
        </div>
        <div id="progressbar"></div>
	       
		<form action="{{ path('video_fileupload') }}" method="post" enctype="multipart/form-data" class="bigform upload-video">
            <div class="form-upload fieldcontainer">
                <ul class="fields">
                    {{ form_widget(form) }}
                    
                </ul>
            </div>
            
            <div class="actions clearfix">
                <input type="submit" name="submit" value="Subir" class="btn_action" />
            </div>
        </form>
    </div>

{% endblock %}