<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dodicifansworldweb/js/file-uploader/fileuploader.css') }}">
        <script src="{{ asset('bundles/dodicifansworldweb/js/jquery/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/dodicifansworldweb/js/file-uploader/fileuploader.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div>1. get upload token</div>
        <div id="upload-process">
            <input type="text" name="uploadtoken" id="uploadtoken" />
            <input type="button" name="gettoken" id="gettoken" value="Get" />
        </div>
        
        <div>2. upload file</div>
        <div id="file-uploader">
            <noscript>
                <p>Please enable JavaScript to use file uploader.</p>
            </noscript>
        </div>
        
        <div>3. add media entry</div>
        <div id="media-entry">
            <input type="text" name="title" id="title" />
            <input type="button" name="addentry" id="addentry" value="add" />
        </div>
        
        <div>4. add content to media entry</div>
        <div id="add-content">
            <input type="text" name="entryid" id="entryid" />
            <input type="button" name="addcontent" id="addcontent" value="add" />
        </div>
        
        
        <script type="text/javascript">
        $(function(){
            // get upload token
            $('#gettoken').on('click', function(){
                $.ajax({
                    url: '{{url}}',
                    data: {
                        service: 'uploadToken',
                        action: 'add',
                        ks: '{{ks}}',
                        'uploadToken:fileName': '5seconds.avi',
                        'uploadToken:objectType': 'KalturaUploadToken'
                    },
                    dataType: 'xml',
                    success: function(r) {
                        var uploadtoken = $(r).find('id').text();
                        // set this as a Video's "external"
                        $('#uploadtoken').val(uploadtoken);
                        uploader.setParams({uploadTokenId: $('#uploadtoken').val()});
                    }
                });
            });
            
            // upload the file with the upload token
            var uploader = new qq.FileUploader({
                element: $('#file-uploader')[0],
                multiple: false,
                forceMultipart: true,
                normalHeaders: false,
                responsePassthrough: true,
                debug: true,
                action: '{{url}}',
                
                /*
                // upload by token
                inputName: 'fileData',
                failedUploadTextDisplay: {mode: 'none'},
                onSubmit : function(file, ext){
                    uploader.setParams({
                        service: 'uploadToken',
                        action: 'upload',
                        ks: '{{ks}}',
                        uploadTokenId: $('#uploadtoken').val()
                    });
                },
                */
                
                
                // upload directo
                inputName: 'resource:fileData',
                failedUploadTextDisplay: {mode: 'none'},
                onSubmit : function(file, ext){
                    uploader.setParams({
                        service: 'media',
                        action: 'addContent',
                        entryId: $('#entryid').val(),
                        ks: '{{ks}}',
                        'resource:objectType': 'KalturaUploadedFileResource'
                    });
                },
                
                
                onComplete: function(id, fileName, xml){
                    var xmlDoc = $.parseXML(xml);
                    var $xml = $( xmlDoc );
                    //var result = $xml.find( "result" );
                }
            }); 
            
            // add the entry
            $('#addentry').on('click', function(){
                $.ajax({
                    url: '{{url}}',
                    data: {
                        service: 'media',
                        action: 'add',
                        ks: '{{ks}}',
                        'entry:name': $('#title').val(),
                        'entry:objectType': 'KalturaMediaEntry',
                        'entry:mediaType': 1
                    },
                    dataType: 'xml',
                    success: function(r) {
                        var external_id = $(r).find('id').text();
                        // set this as a Video's "external"
                        $('#entryid').val(external_id);
                    }
                });
            });
            
            // add content the entry, link upload token and entry id
            $('#addcontent').on('click', function(){
                $.ajax({
                    url: '{{url}}',
                    data: {
                        service: 'media',
                        action: 'addContent',
                        ks: '{{ks}}',
                        entryId: $('#entryid').val(),
                        'resource:token': $('#uploadtoken').val(),
                        'resource:objectType': 'KalturaUploadedFileTokenResource'
                    },
                    dataType: 'xml',
                    success: function(r) {
                        //var external_id = $(r).find('id').text();
                        // set this as a Video's "external"
                        //$('#entryid').val(external_id);
                        alert('done?');
                    }
                });
            });
        });
        </script>
    </body>
</html>