<div class="sidebar-videos">
{% for video in videos %}
                <div class="item" style="width:260px;">
                    <div class="item-info">
                        <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                            <div class="overlay"></div>
                            <div class="title-and-user">


                            {% if video.author %}
                            <a href="{{ path('user_land', {username: video.author.username}) }}">
                                {% thumbnail video.author.image, 'small_square' with { class: 'author-image', title: video.author, rel: 'tooltip' } %}
                            </a>
                            {% endif %}

                                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                    <span class="title">{{ video.title }}</span>
                                </a>
                            </div>

                            <div class="image">
                            <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                {% thumbnail video.image, 'huge_square' %}
                            </a>

                            <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                <i class="play-video"></i>
                            </a>
                            </div>
                        </a>
                    </div>
                </div>
        {% endfor %}
</div>