{% form_theme form theme %}
<div class="register">
    <div class='top'>
        <h1>Crear nueva cuenta en FansWorld.tv</h1>
        <h4>Conectate con tus idolos y clubes, demostrado tu pasion y compartiendo experiencias con amigos</h4>

        {% if inviter %}
            <div class="well invited-by">
                {% if inviter.image %}
                    {% thumbnail inviter.image, 'avatar' %}
                {% endif %}
                Completa tu registro para hacerte fan de {{ inviter }}.
            </div>
        {% endif %}

        <button class="register-facebook" data-facebook-login>
            <i></i>
            <span>Conectar con Facebook</span>
        </button>


        <span class="divider-else">o sino...</span>
    </div>
    <div class='bottom'>
        <h2>Llená los siguientes campos con tus datos</h2>

        <div class="form-register fieldcontainer ">

            <form action="" method="post" class="fos_user_registration_register form-2column">

                <div class="errors">
                    {{ form_errors(form) }}
                </div>

                <div class="fields row-fluid">
                    <div class='span6'>
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.email) }}
                    </div>

                    <div class='span6'>
                        {{ form_row(form.plainPassword) }}
                    </div>

                </div>

                <span class="terms-description">Al hacer click en "Crear cuenta", muestras tu conformidad con nuestros <a href="{{ path('about_terms') }}">Términos y condiciones</a></span>

                <div class="actions clearfix">
                    <button id='submitRegister' name='submit' type='submit' disabled='disabled'>Crear cuenta</button>
                </div>
                {{ form_row(form.username) }}
                {{ form_rest(form) }}
            </form>

        </div>

    </div>

</div>