{% form_theme form theme %}
<div class="register">
    <div class='top'>
        <h1 class='green'>Registrate en FansWorld.tv</h1>
        <h2>Conectate con tus idolos y clubes, demostrado tu pasion y compartiendo experiencias con amigos</h2>
        
        <div class='row-fluid'>
            <div class='span12 fbconnect'>
                {{ facebook_login_button({'autologoutlink': false, label: 'facebook_login_register'|trans, size: 'xlarge'}) }}
            </div>
        </div>
        
        
        
    </div>
	<div class='bottom'>
        <div class="greybox">
            <div class='title'>
                <span class="badge badge-success">1</span>
                Llena los campos con tus datos
            </div>
            <div class="form-register fieldcontainer ">
                
                    <form action="" method="post" class="fos_user_registration_register">    
                        
                        
                            <div class="fields row-fluid">
                                <div class='span6'>
                                    {{ form_row(form.firstname) }}
                                    {{ form_row(form.lastname) }}
                                    {{ form_row(form.username) }}
                                    {{ form_row(form.email) }}
                                </div>
                                
                                <div class='span6'>
                                    {{ form_row(form.plainPassword) }}
                                    {{ form_row(form.accept_toc) }}
                                </div>
                                
                            </div>
                        
                        <div class="actions clearfix">
                            <button id='submitRegister' name='submit' class='btn btn-success' type='submit' disabled='disabled'>Registrate</button>
                            
                        </div>
                        {{ form_rest(form) }}
                    </form>
                
            </div>
        </div>
	</div>
	
</div>