{% if sports is not defined %}
    {% set sports = null %}
    {% set leagues = null %}
{% else %}
    {% if leagues is not defined %}
        {% set leagues = null %}
    {% endif %}    
{% endif %}

{% if orderBy is not defined %}
    {% set orderBy = null %}
{% endif %}




<section class='eventfilters-container'>
    <div class="btn-group resetfilters-container">
        <button class="btn resetfilters">{{ 'reset'|trans }}</button>
    </div>

    {% if orderBy %}
        <div class="btn-group order-by">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'OrderBy'|trans }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="active"><a tabindex="-1" sort-by="upcoming">{{ 'closest'|trans }}</a></li>
                <li><a tabindex="-1" sort-by="popular">{{ 'popular'|trans }}</a></li>
            </ul>
        </div>
    {% endif %}
    
     {% if leagues %}
        <div class="btn-group leagues">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'Leagues'|trans }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if leagues|length>0 %}
                    {% for league in leagues %}
                        <li><a tabindex="-1" href="#">{{ league }}</a></li>
                    {% endfor %}
                {% else %}
                    <li><a tabindex="-1" href=""> - </a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if sports %}
        <div class="btn-group sports">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {{ 'Sports'|trans }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if sports|length>0 %}
                    {% for sport in sports %}
                        <li><a sport-id='{{ sport.id }}' tabindex="-1" href="#">{{ sport }}</a></li>
                    {% endfor %}
                {% else %}
                    <li><a tabindex="-1" href=""> - </a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    
    <div class='btn-group loading-container'></div>
   
    
    
</section>


