{% if events is not defined %}
    {% set events = null %}
{% endif %}

<section class='eventgrid-container'>
    <ul class='events-grid'>
        {% if events|length > 0 %}
            {% for event in events %}
                {% set hasteams = {} %}
                {% set eventteams = {} %}
                {% for hasteam in event.hasteams %}
                    {% set loopi = loop.index0 %}
                    {% set hasteams = hasteams|merge({(loopi): hasteam}) %}
                    {% set eventteams = eventteams|merge({(loopi): hasteam.team}) %}
                {% endfor %}
                
                {% if date(event.fromtime) >= date() %}
                    {% set started = true %}
                    {% set scoredefault = '0' %}
                {% else %}
                    {% set started = false %}
                    {% set scoredefault = '-' %}
                {% endif %}
                
                {% if appstate.EventTypeName(event.type) == 'Partido' %}
                    <li class='event'>
                        <header>
                            <span>
                                {{ eventteams|join(' vs ') }}
                            </span>
                            <button class='btn btn-danger' data-event-id="{{ event.id }}" data-event-check-in>{{ appstate.EventText(event.id) }}</button>
                        </header>
                        <div class='row-fluid'>
                        {% for hasteam in hasteams %}
                            {% if loop.index == 2 %}
                                <div class='data span4'>
                                    <div class="top" text-height='ellipsis'>{{ event.stadium }}</div>
                                    <div class="bottom">{{ event.fromtime|date("d-m-Y") }}</div>
                                </div>
                            {% endif %}
                            
                            {% if loop.first %}
                                <div class="local span4 row-fluid">
                                    <div class='escudo span8'>{% thumbnail hasteam.team.image, 'mini_square' with {title: hasteam.team.title} %}</div>
                                    <div class='score span4'>{{ hasteam.score|default(scoredefault) }}</div>
                                </div>
                            {% else %}
                                <div class="visitante span4 row-fluid">
                                    <div class='score span4'>{{ hasteam.score|default(scoredefault) }}</div>
                                    <div class='escudo span8'>{% thumbnail hasteam.team.image, 'mini_square' with {title: hasteam.team.title} %}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                            
                            
                            
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</section>