{% if events is not defined %}
    {% set events = null %}
{% endif %}


<section class='eventgrid-container'>
    <ul class='events-grid'>
        {% for event in events %}
            {% if appstate.EventTypeName(event.type) == 'Partido' %}
                {% set team1 = event.hasTeams[0].team %}
                {% set team2 = event.hasTeams[1].team %}
                <li class='event'>
                    <header>
                        <span>{{ team1.shortname }} vs {{ team2.shortname }}</span>
                        <button class='btn btn-danger'>Ahora</button>
                    </header>
                    <div class='row-fluid'>
                        <div class="local span4 row-fluid">
                            <div class='escudo span8'>{% thumbnail team1.image, 'mini_square' with {title: team1.title} %}</div>
                            <div class='score span4'>{{ event.hasTeams[0].score }}</div>
                        </div>
                        <div class='data span4'>
                            <div class="top" text-height='ellipsis'>{{ event.title }}</div>
                            <div class="bottom">{{ event.fromtime|date("d-m-Y") }}</div>
                        </div>
                        <div class="visitante span4 row-fluid">
                            <div class='score span4'>{{ event.hasTeams[1].score }}</div>
                            <div class='escudo span8'>{% thumbnail team2.image, 'mini_square' with {title: team2.title} %}</div>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>