{% set teamLocal = entity.hasTeams[0] %} 
{% set teamGuest = entity.hasTeams[1] %}

<div class="eventwall" data-event-id = "{{ entity.id }}" data-local-id='{{ teamLocal.team.id }}' data-guest-id='{{ teamGuest.team.id }}'>
    <section class="eventwall-form" >
        <div class="local">
            <span class="arrow"></span>
            <div class="cont">
                <form data-event-wall="local">
                    <input type="text" placeholder="Alienta a tu equipo!" />
                </form>
                <a class="upload-photo cboxElement" data-upload="photo" data-upload-type="event" data-event-id="{{ entity.id }}" data-team-id="{{ teamLocal.team.id }}" href="{{ path('photo_fileupload') }}"></a>
            </div>
        </div>
        <div class="guest">
            <span class="arrow"></span>
            <div class="cont">
                <form data-event-wall="guest">
                    <input type="text" placeholder="Alienta a tu equipo!" />
                </form>
                <a class="upload-photo cboxElement" data-upload="photo" data-upload-type="event" data-event-id="{{ entity.id }}" data-team-id="{{ teamGuest.team.id }}" href="{{ path('photo_fileupload') }}"></a>
            </div>
        </div>
    </section>

    <section class='eventwall-container' event-wall='event-wall'>
    </section>
</div>

<div class="eventsupporters row-fluid" data-eventships>
    <div class="local span6" data-team-id="{{ teamLocal.team.id }}">
        <h4>Fans ( <span data-eventships-count>{{ eshipsLocal|length }}</span> )</h4>
        <div class="clearfix"></div>
        <ul>
            {% for eshipLocal in eshipsLocal %}
                <li><a href="{{ path('user_wall',{'username': eshipLocal.author.username}) }}">{% thumbnail eshipLocal.author.image, 'small' with {'rel': 'tooltip', 'title': eshipLocal.author} %}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="guest span6" data-team-id="{{ teamGuest.team.id }}">
        <h4>Fans ( <span data-eventships-count>{{ eshipsGuest|length }}</span> )</h4>
        <div class="clearfix"></div>
        <ul>
            {% for eshipGuest in eshipsGuest %}
                <li><a href="{{ path('user_wall',{'username': eshipGuest.author.username}) }}">{% thumbnail eshipGuest.author.image, 'small' with {'rel': 'tooltip', 'title': eshipGuest.author } %}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        events.initDetail($('[event-wall]'));
    });
</script>