{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% block content %}
    {% if selfWall is not defined %}
        {% set selfWall = false %}
    {% endif %}

	{% if tplLarge is not defined %}
        {% set tplLarge = true %}
    {% endif %}

    {% if profile_head_class is not defined %}
        {% set profile_head_class = '' %}
    {% endif %}

    {% block profile_header_container %}
        <header style="position: relative;" data-profile-type="{{entity_type}}" data-profile-title="{{entity}}" data-profile-id="{{entity.id}}" class="{{ profile_head_class }} profile_head {% if tplLarge %} large {% else %} small {% endif %}  row-fluid">
            {% block profile_head %}
                {% if tplLarge %}
                        {% include 'DodiciFansworldWebBundle:' ~ entity_type ~ '/Profile:header_large.html.twig' %}
                {% else %}
                        {% include 'DodiciFansworldWebBundle:' ~ entity_type ~ '/Profile:header_small.html.twig' %}
                {% endif %}
            {% endblock %}

            {% block profile_tabs %}
                {% include 'DodiciFansworldWebBundle:' ~ entity_type ~ '/Profile:header_navbar.html.twig' %}
            {% endblock %}

            {% if is_granted('ROLE_ADMIN') %}
                <div style="position: absolute; bottom: 0; right: 0;">
                    <i class="icon-chevron-left pull-left"></i>
                    <i class="icon-chevron-right pull-left"></i>
                </div>
            {% endif %}
    	</header>
	{% endblock %}


	{% if profile_body_class is not defined %}
        {% set profile_body_class = '' %}
    {% endif %}
	<div class="{{ profile_body_class }}">
		{% block profile_body %}

		{% endblock %}
	</div>

{% endblock %}
