{% block header_main %}
    {% set entityType = appstate.type(entity) %}

    <div class="header-large-new">
        <div class="splash-container">
            <div class="container">
            {% block splash_container %}
                {% thumbnail entity.splash, 'splash' %}
            {% endblock %}
            </div>
            <div class="action-block">
                <span class="name">{% block header_title %}{{ entity }}{% endblock %}</span>
                {% block header_fship %}
                    {% include "DodiciFansworldWebBundle:Default:blocks/fan_button.html.twig" with { entity:  entity } %}
                {% endblock %}
            </div>

            {% if entity == app.user or is_granted('ROLE_ADMIN') %}
                <div class="btn-group edit">
                    <a href="#" class="edit-image" rel="tooltip" title="Cambiar im치gen" data-toggle="dropdown">
                        <i class="icon-gear-splash"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="#" id="splash-uploader" data-entity-type="{{ entityType }}" data-entity-id="{{ entity.id }}" data-ismodal="false" data-upload="photo" data-type="splash" data-uploader-selector="splash-uploader">Cambiar im치gen de portada</a>
                        </li>
                        <li>
                            <a href="#" class="edit-image avatar" rel="tooltip" title="Cambiar im치gen de perfil" id="avatar-uploader" data-entity-type="{{ entityType }}" data-entity-id="{{ entity.id }}" data-ismodal="false" data-upload="photo" data-type="profile" data-uploader-selector="avatar-uploader">Cambiar im치gen de perfil</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="info-container">
            {% set entityType = appstate.getType(entity) %}
            {% set videos = appstate.getHighlightVideos(entity, 1) %}

            {% if videos|length > 0 %}
                {% set video = videos[0] %}
            {% else %}
                {% set video = false %}
            {% endif %}

            {% if entityType == 'user' %}
                {% set pathparams = {username: entity.username} %}
            {% else %}
                {% set pathparams = {slug: entity.slug} %}
            {% endif %}

            {% if video and video.image %}
                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                    <figure>
                        {% thumbnail video.image, 'medium' with {'title': ''} %}
                        <figcaption class="last-video">Ultimo Video</figcaption>
                        <figcaption class="title">{{ video.title }}</figcaption>
                    </figure>
                </a>
            {% else %}
                <p class="description">{{ entity.content|raw|striptags|truncate(160) }}</p>
            {% endif %}

            <ul class="quantities">
                {% block header_numbersinfo %}
                    <li class="item">{% if entity.photoCount > 0 %}<a href="{{ path(entityType ~ '_photos', pathparams) }}">{% endif %}{{ entity.photoCount }}{% if entity.photoCount > 0 %}</a>{%endif%}</span><br/><span class="item-type">FOTOS</span></li>
                    <li class="item">{% if entity.videoCount > 0 %}<a href="{{ path(entityType ~ '_videos', pathparams) }}">{% endif %}{{ entity.videoCount }}{% if entity.videoCount > 0 %}</a>{%endif%}<br/><span class="item-type">VIDEOS</span></li>
                    {% if entityType == 'user' and entity.username != 'fansworld' %}
                        <li class="item">{% include "DodiciFansworldWebBundle:Default:blocks/puntos.html.twig" with { score: entity.score } %}<br/><span class="item-type">PTS</span></li>
                    {% endif %}
                    <li class="item">{% if entity.fanCount > 0 %}<a href="{{ path(entityType ~ '_fans', pathparams) }}">{% endif %}{{ entity.fanCount }}{% if entity.fanCount > 0 %}</a>{%endif%}<br/><span class="item-type">FANS</span></li>
                {% endblock %}
            </ul>
        </div>
    </div>
{% endblock %}