{% block header_main %}
    <section class='header_main row-fluid header_large'>	
	    <div class='main_left span8' >
	        {% block avatar_container %}
			    <div class="avatar">
			        {% block avatar_content %}
			            {% set avatar_format = 'small_square' %}
			            
			            {% if entity.image %}
			                {% thumbnail entity.image, avatar_format %}
			            {% else %}
			                <img src="{{ asset('bundles/dodicifansworldweb/images/profile_no_image.png' )}}" />
			            {% endif %}
			        {% endblock %}
			    </div>
			{% endblock %}  
			
			{% block splash_container %}  
    			
			{% endblock %}
	    </div>
	    <div class='main_right span4 row-fluid' >
	        <div class='span9 user-info'>
	            <h1>
					{% block header_title %}
    	                {{ entity }}
    	            {% endblock %}
	            </h1>
	            
	            <div class='header-subtitle'>
					{% block header_subtitle %}
    	            
                	{% endblock %}
                </div>
                
                <div class='header-fship'>
    	            {% block header_fship %}
    	                {% include "DodiciFansworldWebBundle:Default:blocks/fan_button.html.twig" with { entity:  entity, buttonSize: 'btn-large', fType: appstate.type(entity) } %}
    	            {% endblock %}
	            </div>
	            
	        </div>
	        <div class='span3 numbers-info'>
	        	{% block header_numbersinfo %}
    	            <section class='fotos-info'>
                        <div class='numero'>{{ entity.photoCount }}</div>
                        <div class='tipo'>Fotos</div>
                        <div class='separador' />
                    </section>
                    <section class='videos-info'>
                        <div class='numero'>{{ entity.videoCount }}</div>
                        <div class='tipo'>Videos</div>
                        <div class='separador' />
                    </section>
                    <section class='fans-info'>
                        <div class='numero'>{{ entity.fanCount }}</div>
                        <div class='tipo'>Fans</div>
                        <div class='separador' />
                    </section>
	            {% endblock %}
	        </div>
	    </div>
    </section>
{% endblock %}