{% extends "DodiciFansworldWebBundle::popup.html.twig" %}

{% form_theme form 'DodiciFansworldWebBundle::form.html.twig' %}

{% block javascripts %}
    {% if redirectColorBox != true %}
    
    {% endif %}
{% endblock %}

{% block content %}
    {% if redirectColorBox %}
        <script type="text/javascript">
                location.href = "{{ path('photo_show', {id: photo.id, slug: photo.slug}) }}";
        </script>
    {% else %}
        <div class="greybox">
            <form action="{{ path('photo_filemeta', {'mediaId': mediaId}) }}" method="post" enctype="multipart/form-data" class="bigform upload-photo">
                {% thumbnail photo.image, 'medium' %}
                <div class="form-upload fieldcontainer">
                    <ul class="fields">
                        {{ form_widget(form) }}
    
                        <li class="clearfix">
                            <label for="form_tagtext">Tags</label>
                            <div class="field">
                                <input class="completer" type="text" id="form_tagtextac" data-route="tag_ajaxget" data-field="form_tagtext" />
                                <ul class="selectedtags"></ul>
                            </div>
                        </li>
                        
                        <li class="clearfix">
                            <label for="form_tagtext">Fans / Idolos</label>
                            <div class="field">
                                <input class="completer" type="text" id="form_taguserac" data-route="user_ajaxmatching" data-field="form_taguser" />
                                <ul class="selectedtags">
                                    {% if idolToTag %}
                                        <li data-val="{{ idolToTag.id }}"><span class="name">{{ idolToTag }}</span><a class="deletetag"></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="actions clearfix">
                    <input type="submit" name="submit" value="{{ 'Upload'|trans }}" class="btn_action" />
                </div>
            </form>
        </div>
        <div class="templateFieldAlbumName hidden">
            <div class="field" style="display:none;"><input type="text" name="album_new_name" /></div>
        </div>
    {% endif %}
 
{% endblock %}
