{% set comments = appstate.comments(photo) %}
{% block inner_content %}
	<section class='image-container'>
		{% if prev %}
			<a class="carousel-control left" href="{{ path(route_name, {'id': prev.id, 'slug': prev.slug, username: entity.username}) }}" title="{{ 'previous'|trans }}">‹</a>
	    {% endif %}
	    		
	    {% thumbnail photo.image, 'wall' %}
	    		
	    {% if next %}
	    	<a class="carousel-control right" href="{{ path(route_name, {'id': next.id, 'slug': next.slug, username: entity.username}) }}" title="{{ 'next'|trans }}">›</a>
		{% endif %}
	</section>
	
    <section class='subphoto-container row-fluid'>
    	<div class='content span6'>
			{% if photo.content %}
            	<p>{{ photo.content|truncate(75) }}... <a href="#">más</a></p>
            {% endif %}
    	</div>
    	<div class="actions span6">
    		{% include 'DodiciFansworldWebBundle:Photo:toolbar.html.twig'  %}
    	</div>
    </section>
    
    <section class='tag-container '>
		<div class="row-fluid">
			<div class="span6 comments-count">
				{{ 'comments'|trans }} ( {{ photo.commentCount }} )
			</div>
			<div class="span6 tag-title">
				{{ 'tags'|trans }}
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 tags">
				{% if photo.hastags %}
					{% for tag in photo.getHastags %}
						<button class="btn">{{ tag }}</button>
					{% endfor %}
				{% else %}
					<button class="btn">sin tags</button>	
				{% endif %}
			</div>
		</div>
	</section>
	
	<section class='form-container'>
		{% include 'DodiciFansworldWebBundle:Comment:comment_form.html.twig' with {shortform: true, entity: photo} %}
	</section>
	
	<section class="comments-container">
		{% block comments %}
        	
				{% for comment in comments %}
                	{% include 'DodiciFansworldWebBundle:Comment:comment.subcomment.html.twig' with {comment: comment} %}
                {% endfor %}
			
		{% endblock %}
	</section>	
{% endblock %}