{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}Photo{% endtrans %}{% endblock %}

{% block content %}
<div class="cont clearfix">
    <div class="media">
        <div class="media_content">
            {% if prev %}
            <a class="btn_prev" href="{{ path('photo_show', {'id': prev.id, 'slug': prev.slug}) }}" title="anterior">{{ 'previous'|trans }}</a>
            {% endif %}
            {% if next %}
            <a class="btn_next" href="{{ path('photo_show', {'id': next.id, 'slug': next.slug}) }}" title="siguiente">{{ 'next'|trans }}</a>
            {% endif %}
            <a class="media_img colorbox" href="{% path photo.image, 'huge' %}">{% thumbnail photo.image, 'big' %}</a>
        </div>
            
        {% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: photo} %}

        <div class="media_info">
            <div>
                <strong>{{ photo.title }}<br></strong>
                <span>{{ 'by'|trans }} <a href="{{ path('user_detail', {'username': photo.author.username}) }}">{{ photo.author }}</a></span>
                <span>del album <a href="{{ path('album_show', {'id': photo.album.id, 'slug': photo.album.slug}) }}">{{ photo.album.title }}</a></span>
            </div>
            {% if photo.content %}
            	<div class="description">
            		{{ photo.content }}
            	</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="cont clearfix">
    {% include 'DodiciFansworldWebBundle:Comment:comment_block.html.twig' with {entity: photo} %}
</div>
<script type="text/javascript">
    $("div.media_content a.colorbox").colorbox();
</script>
{% endblock %}
