{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Foto{% endblock %}

{% block content %}
<div class="cont clearfix">
    <div class="media">
        <div class="media_content">
            <a class="media_img" href="{% path photo.image, 'huge' %}">{% thumbnail photo.image, 'big' %}</a>
        </div>
        
		{% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: photo} %}

        <div class="media_info">
            <div>
                <strong>{{ photo.title }}<br></strong>
                <span>por <a href="{{ path('user_detail', {'id': author.id}) }}">{{ photo.author }}</a></span>
                <span>del album <a href="{{ path('album_show', {'id': photo.album.id, 'slug': photo.album.slug}) }}">{{ photo.album.title }}</a></span>
            </div>
        </div>
    </div>
</div>
<div class="cont clearfix">
    {% include 'DodiciFansworldWebBundle:Comment:comment_block.html.twig' with {entity: photo} %}
</div>
<script type="text/javascript">
    $("div.media_content a").colorbox();
</script>
{% endblock %}