{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'account' %}
	{{ parent() }}
{% endblock %}

{# EDIT ACCOUNT #}
{% block profile_edit_body %}
        {% if user == app.user %}
            {% set userLogged = true %}
        {% else %}
            {% set userLogged = false %}
        {% endif %}

        <section id="personalData" class="row-fluid">
            <h4>Tus Datos Personales:{% if userLogged %}<a href="{{ path('fos_user_profile_edit') }}" class="pull-right">Editar</a>{% endif %}</h4>
            <dl class="dl-horizontal">
                {% if user.username %}
                    <dt>Usuario</dt>
                        <dd><strong>{{ user.username }}</strong> ({{ path('user_wall', {'username':user.username}) }})</dd>
                {% endif %}
                
                {% if user.email %}
                    <dt>Email</dt>
                        <dd>{{ user.email }}</dd>
                {% endif %}
                
                {% if user.address %}
                    <dt>Dirección</dt>
                        <dd>{{ user.address }}</dd>
                {% endif %}
                        
                {% if user.firstname %}
                    <dt>Nombre</dt>
                        <dd>{{ user.firstname }}</dd>
                {% endif %}
                
                {% if user.lastname %}
                    <dt>Apellido</dt>
                        <dd>{{ user.lastname }}</dd>
                {% endif %}
                
                {% if user.sex %}
                    <dt>Género</dt>
                        <dd>{% if user.sex == 'm' %}Hombre{% else %}Mujer{% endif %}</dd>
                {% endif %}
                
                {% if user.birthday %}
                    <dt>Fecha Nac.</dt>
                        <dd>{{ user.birthday|date() }}</dd>
                {% endif %}
                
                {% if user.city and user.country %}
                        <dt>Ciudad, Pais</dt>
                            <dd>{{ user.city }}, {{ user.country }}</dd>
                {% endif %}
            </dl>
        </section>

        <section id="aboutMe" class="row-fluid">
            <h4>Sobre mi: </h4>
            <p>{{ user.content }}</p>
        </section>


        <section id="restrictedMode" class="row-fluid">
            <h5>Modo restringido: {% if user.restricted %}<span class="green">ON</span>{% else %}<span class="red">OFF</span>{% endif %}</h5>
        </section>

        <!--section id="socialConnect" class="span7">
            <section class="row">
                <div class="span4">
                    <img src="{{ asset("bundles/dodicifansworldweb/images/tw-logo.png") }}" alt="Twitter" />
                    Vincular con twitter:
                </div>
                <div class="span2">
                    @nahuerosso
                </div>
            </section>
            <section class="row">
                <div class="span4">
                    <img src="{{ asset("bundles/dodicifansworldweb/images/tw-logo.png") }}" alt="Twitter" />
                    Vincular con facebook:
                </div>
                <div class="span2">
                    Nahuel Rosso
                </div>
            </section-->
    </section>
{% endblock %}