{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'password' %}
	{{ parent() }}
{% endblock %}


{# EDIT PASSWORD#}
{% block inner_content %}
    {{ parent() }}
    <div class="row-fluid change-password">
        <div class="span7">
            <form action="{{ path('fos_user_change_password') }}"  method="POST" class="fos_user_change_password bigform">
                <dl class="with-circles">
                    {% if form.current is defined and form.new is defined%}
                        <dt>
                            <h4 class="numbered"><span>1</span> Escribe tu clave actual</h4>
                            <div class="clearfix"></div>
                        </dt>
                        <dd class="actual-password" >
                            <div class="row">
                                {{ form_row(form.current, { 'label': 'Clave actual' }) }}
                            </div>
                        </dd>

                        <dt>
                            <h4 class="numbered"><span>2</span> Escribe tu nueva clave</h4>
                        </dt>
                        <dd class="new-password">
                            <div class="row">
                                {{ form_row(form.new.first, { 'label': 'Clave nueva'} ) }}
                                {{ form_row(form.new.second, { 'label': 'Repetir clave nueva'} ) }}
                                {{ form_rest(form) }}
                            </div>
                            <div class="errors row">
                                {{ form_errors(form) }}
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-success" name="submit">Cambiar</button>
                            </div>
                        </dd>
                    {% else %}
                        <dt>
                            <h4 class="numbered"><span>1</span> Escribe tu nueva clave</h4>
                        </dt>
                        <dd class="new-password">
                            <div class="row">
                                {{ form_row(form.password.first, { 'label': 'Clave nueva'} ) }}
                                {{ form_row(form.password.second, { 'label': 'Repetir clave nueva'} ) }}
                                {{ form_rest(form) }}
                            </div>
                            <div class="errors row">
                                {{ form_errors(form) }}
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-success" name="submit">Cambiar</button>
                            </div>
                        </dd>
                    {% endif %}
                </dl>
            </form>
        </div>
        <div class='span4'>
            <section class='ayuda'>
                <h2><span class="circular">?</span>Ayuda</h2>
                <p>
                    Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincid
                </p>
            </section>
		</div>
    </div>

{% endblock %}