{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'privacy' %}
	{{ parent() }}
{% endblock %}

{# EDIT PRIVACY #}
{% block inner_content %}
    {{ parent() }} 
    <div class="row-fluid">
        <h3>Ajustes de privacidad</h3>
        <table class="table" data-edit-privacy>
            <tbody>
                {% for field, value in privacyFields %}
                        {% if field == 'facebook' or field == 'twitter' %}
                        {% else %}
                            {% if app.user.fieldvalue(field) %}
                                <tr>
                                    <td>{{ field|trans }}</td>
                                    <td>
                                        {% if field == 'birthday' %}
                                            {{ app.user.fieldvalue(field)|date('d-m-Y') }}
                                        {% else %}
                                            {{ app.user.fieldvalue(field)|truncate(20) }}
                                        {% endif %}
                                    </td>
                                    <td class="btn-group" data-toggle="buttons-radio">
                                        <button class="btn {% if value == 'everyone' %}active{% endif %}" data-field="{{field}}" data-value="everyone">Público</button>
                                        <button class="btn {% if value =='friends_only' %}active{% endif %}" data-field="{{field}}" data-value="friends_only">Solo Fans</button>
                                        <button class="btn {% if value =='only_me' %}active{% endif %}" data-field="{{field}}" data-value="only_me">Privado</button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}