{% form_theme form theme %}
<div class="change-password">
	<h1>Cambiar Contraseña</h1>
	<div class="greybox">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password bigform">
        <div class="form-change-password fieldcontainer">
			<ul class="fields">
        		{{ form_widget(form) }}
        	</ul>
		</div>
		
        <div class="actions clearfix">
        	<a href="{{ path('fos_user_profile_edit') }}">
        		<img src="{{ asset('bundles/dodicifansworldweb/images/ui/id-card.png' ) }}" alt="Modificar Perfil" title="Modificar Perfil" class="edit-profile-icon" />
        	</a>
            <input type="submit" name="submit" value="Cambiar" class="btn_action" />
        </div>
    </form>
    </div>
</div>