{% extends 'DodiciFansworldWebBundle:Profile:header_small_base.html.twig' %}

{% block header_subtitle %}
    {% if entity.level %}
        {{ entity.level.title }}
    {% endif %}
{% endblock %}

{% block header_small_right %}
	{% if selfWall %}
            <div class='span2'>
                <div class='header-fship'>

                </div>
            </div>
        {% endif %}

        <div class='span4 numbers-info'>
            {% set entityType = appstate.getType(entity) %}
            {% if entityType == 'user' %}
                {% set pathparams = {username: entity.username} %}
            {% else %}
                {% set pathparams = {slug: entity.slug} %}
            {% endif %}
            <section class='fotos-info'>
                <div class='numero'>{% if entity.photoCount > 0 %}<a href="{{ path(entityType ~ '_photos', pathparams) }}">{% endif %}{{ entity.photoCount }}{% if entity.photoCount > 0 %}</a>{%endif%}</div>
                <div class='tipo'>Fotos</div>
                <div class='separador' />
            </section>
            <section class='videos-info'>
                <div class='numero'>{% if entity.videoCount > 0 %}<a href="{{ path(entityType ~ '_videos', pathparams) }}">{% endif %}{{ entity.videoCount }}{% if entity.videoCount > 0 %}</a>{%endif%}</div>
                <div class='tipo'>Videos</div>
                <div class='separador' />
            </section>
            <section class='fans-info'>
                <div class='numero'>{% if entity.fanCount > 0 %}<a href="{{ path(entityType ~ '_fans', pathparams) }}">{% endif %}{{ entity.fanCount }}{% if entity.fanCount > 0 %}</a>{%endif%}</div>
                <div class='tipo'>Fans</div>
                <div class='separador' />
            </section>
            Puntos =)
            <section class='ptos-info'>
                <div class='numero'>{% if entity.score > 0 %}<a href="#">{% endif %}
                    {{ entity.score }}{% if entity.score > 0 %}</a>{%endif%}</div>
                <div class='tipo'>Puntos</div>
                <div class='separador' />
            </section>
	</div>

	{% if not selfWall %}
            <div class='span2'>
                <div class='header-fship'>
                    {% include "DodiciFansworldWebBundle:Default:blocks/fan_button.html.twig" with { entity:  entity, buttonSize: 'btn-large', fType: 'user' } %}
                </div>
            </div>
	{% endif %}
{% endblock %}