{% if avatars.containerClass is not defined %}
    {% set avatars = avatars|merge({'containerClass': ''}) %}
{% endif %}

{% if avatars.ulClass is not defined %}
    {% set avatars = avatars|merge({'ulClass': ''}) %}
{% endif %}

<section class="avatar-grid">
    {% if block_title is defined %}
        <header class='title'>
            <h4>{{ block_title }} ( {{ avatars.list|length }} )</h4>
        </header>
	{% endif %}
    {% if avatars.list is defined and avatars.list|length > 0 %}
        <ul class="avatar-list {{ avatars.ulClass }}"> 
            {% for avatar in avatars.list %}
                {% if avatar.idol is defined %}
                    {% set avatar = avatar.idol %}
                {% endif %}

                {% if avatar.username is defined %}
                    {% set pathUrl = path('user_wall', {username: avatar.username})  %}
                {% elseif avatars.ulClass == 'teams' %}
                    {% set pathUrl = path('team_wall', {slug: avatar.slug})  %}
                {% elseif avatar.slug is defined %}
                    {% set pathUrl = path('idol_wall', {slug: avatar.slug})  %}
                {% else %}
                    {% set pathUrl = ''  %}
                {% endif %}

                {% if avatar.fanCount is defined %}
                    {% set fanCount = avatar.fanCount %}
                {% endif %}
                <li>
                    <div class='{{ avatars.containerClass }}'>
                        
                            <div class="avatar">
                                {% if avatar.image %}
                                    <a href="{{ pathUrl }}">{% thumbnail avatar.image, 'big_square' %}</a>
                                {% else %}
                                    <a href="{{ pathUrl }}"><img src="{{ asset('bundles/dodicifansworldweb/images/profile_no_image.png' )}}" alt="avatar" /></a>
                                {% endif %}
                            </div>
                            <span class="name"><a href="{{ pathUrl }}">{{ avatar}}</a></span>
                            <span class="friendCount">{% if fanCount is defined %}{{ fanCount }}{% endif %}</span>

                            {% include "DodiciFansworldWebBundle:Default:blocks/fan_button.html.twig" with { entity:  avatar } %}
                            
                        </div>
                    </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No {{ type }}</h3>
    {% endif %}
</section>
