{% if fType is not defined %}
    {% set fType = appstate.type(entity) %}
{% endif %}

{% if buttonSize is not defined %}
    {% set buttonSize = '' %}
{% endif %}

{% set solicitar = '' %}
{% set canFriend = true %}

{% if fType == 'user' %}
    {% set fship     = appstate.friendshipwith(entity) %}
    {% if selfWall != true %}
        {% set canFriend = appstate.canfriend(entity) %}
    {% endif %}
    
    {% if entity.restricted %} 
        {% set solicitar =  '(solicitar)' %}
    {% endif %}
{% else %}
    {% set fship     = fanmaker.isFan(entity) %}
{% endif %}


{% if fship is defined %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") and (fship) %}
        <div class="addFriend" ">
            <button class="btn {{ buttonSize }} btn_friendship btn-success"> ya sos fan</button>
        </div>
    {% else %}
        <div class="addFriend" data-type="{{ fType }}" data-id="{{ entity.id }}" data-add-fan data-login-required >
            <button class="btn {{ buttonSize }} btn_friendship add btn-success"> Ser fan {{ solicitar }}</button>
        </div>
    {% endif %}
{% endif %}