{% if fType is not defined %}
    {% set fType = appstate.type(entity) %}
{% endif %}

{% if buttonSize is not defined %}
    {% set buttonSize = '' %}
{% endif %}

{% set solicitar = '' %}
{% set canFriend = true %}

{% if fType == 'user' %}
    {% set btnType = 'friendship' %}
    {% set fship     = appstate.friendshipwith(entity) %}
    {% if selfWall is not defined or selfWall != true %}
        {% set canFriend = appstate.canfriend(entity) %}
    {% endif %}

    {% if entity.restricted %}
        {% set solicitar =  '(solicitar)' %}
    {% endif %}
{% else %}
    {% set fship     = fanmaker.isFan(entity) %}
    {% set btnType = fType~'ship' %}
{% endif %}


{% if fship is defined %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (fship) %}
        <span class="dropdown i-am-fan">
            <button class="btn dropdown-toggle" role="button" data-toggle="dropdown" >Ya soy fan
                <icon class="caret"></icon>
                <div class="spinner ten-pixels hidden"><div class="mask"></div></div>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop4">
                <li>
                    {% if fType == 'user' %}
                        <a tabindex="-1" href="#" class="btn_friendship remove" data-{{ fType }}ship-remove="true" data-{{ fType }}-id="{{ entity.id }}">Dejar de ser fan</a>
                    {% elseif fType == 'idol' %}
                        <a tabindex="-1" href="#" class="btn_idolship remove" data-{{ fType }}ship-remove="true" data-{{ fType }}-id="{{ entity.id }}">Dejar de ser fan</a>
                    {% elseif fType == 'team' %}
                        <a tabindex="-1" href="#" class="btn_teamship remove" data-{{ fType }}ship-remove="true" data-{{ fType }}-id="{{ entity.id }}">Dejar de ser fan</a>
                    {% endif %}
                </li>
            </ul>
        </span>
    {% else %}
        {% if app.user != entity %}
            <div class="addFriend"  data-add-fan>
                <button class="btn {{ buttonSize }} btn_{{ btnType }} add btn-success" data-{{ fType }}ship-add="true" data-{{ fType }}-id="{{ entity.id }}" data-login-required > {{ 'add_idol'|trans }}</button>
            </div>
        {% endif %}
    {% endif %}
{% endif %}


