{% if fType is not defined %}
    {% set fType = appstate.type(entity) %}
{% endif %}

{% if buttonSize is not defined %}
    {% set buttonSize = '' %}
{% endif %}

{% set solicitar = '' %}
{% set canFriend = true %}

{% if fType == 'user' %}
    {% set btnType = 'friendship' %}
    {% set fship     = appstate.friendshipwith(entity) %}
    {% if selfWall != true %}
        {% set canFriend = appstate.canfriend(entity) %}
    {% endif %}
    
    {% if entity.restricted %} 
        {% set solicitar =  '(solicitar)' %}
    {% endif %}
{% else %}
    {% set fship     = fanmaker.isFan(entity) %}
    {% set btnType = fType~'ship' %}
{% endif %}


{% if fship is defined %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (fship) %}
        <!--div class="addFriend" ">
            <button class="btn {{ buttonSize }} btn_{{ btnType }} remove btn-success {% if btnType == 'idolship' %} disabled {% endif %}" data-{{ btnType }}-id="{{ fship.id }}">{{ 'remove_idol'|trans }}</button>
        </div-->
        <label class="label">YA ERES FAN</label>
    {% else %}
        {% if app.user != entity %}
            <div class="addFriend"  data-add-fan data-login-required >
                <button class="btn {{ buttonSize }} btn_{{ btnType }} add btn-success" data-{{ fType }}-id="{{ entity.id }}"> {{ 'add_idol'|trans }}</button>
            </div>   
        {% endif %}
    {% endif %}
{% endif %}