<section class='channels-widget row-fluid'>
    <aside class='channels-list span2'>
        <ul id="filter-channels">
            <li class="active" data-list-target="all"><a>All</a></li>
            {% for channel in channels %}
                <li data-list-target="{{ channel.channelName }}"><a>{{ channel.channelName }}</a></li>
            {% endfor %}
        </ul>
    </aside>
    <div class="content span10 tab-content">
        <div class="tab-pane active row-fluid" id="all">
            <div class='span4 videoplayer-container'>
                {% if videoDestacadoMain.image is defined %}
                    {% if videoDestacadoMain.image is not null %}
                        <a href="{{ path('video_show', {'id': videoDestacadoMain.id, 'slug': videoDestacadoMain.slug}) }}">
                            {% thumbnail videoDestacadoMain.image, 'small' with {"title": videoDestacadoMain.title}%}
                        </a>
                    {% endif %}
                {% else %}
                    sin imagen
                {% endif %}
            </div>
            <div class="span8 content-container">
                {% include 'DodiciFansworldWebBundle:Video:blocks/montage.html.twig' with{videos: videosDestacadosFW, thumbnailSize: 'video', listFilters: "#filter-channels", listChannels: true} %}
            </div>
        </div>
        {% for channel in channels %}
            {% if channel.video[0] is defined %}
                {% set channelVideo = channel.video[0] %}
            {% else %}
                {% set channelVideo = {'title' : 'sin video', 'content': 'que hacer?', 'image': null } %}
            {% endif %}
            <div class="tab-pane row-fluid" id="{{ channel.channelName }}">
                <div class='span4 videoplayer-container'>
                    
                    {% if channelVideo.image is defined %}
                        {% if channelVideo.image is not null %}
                            <a href="{{ path('video_show', {'id': channelVideo.id, 'slug': channelVideo.slug}) }}">
                                {% thumbnail channelVideo.image, 'big' with {"title": channelVideo.title}%}
                            </a>
                        {% endif %}
                    {% else %}
                        sin imagen
                    {% endif %}
                </div>
                <div class="span8 content-container">
                    <div class="channel-highlight-container">
                        <div class="destacado">Destacado Fansworld</div>
                        <div class="channel-name">{{ channel.channelName }}</div>
                        
                        <div class="title">{{ channelVideo.title }}</div>
                        <div class="description">
                            {{ channelVideo.content }}
                        </div>
                        
                        <div class="explorar">
                            <a href="{{ path('teve_explorechannel', {'slug': channel.slug}) }}">Explorar ></a>
                        </div>
                        <div class="subscribirse">
                            <div class="btn-group">
                              <button class="btn btn-success"><i class="icon-ok"></i></button>
                              <button class="btn btn-success  js-subscribe">Subscribirse</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
