<section class='channels-widget row-fluid'>
    <aside class='channels-list span2'>
        <ul id="filter-channels">
            <li class="active" data-list-target="all"><a>All</a></li>
            {% for channel in channels %}
                <li data-list-target="{{ channel.channelName }}" data-channel-id="{{ channel.id }}"><a>{{ channel.channelName }}</a></li>
            {% endfor %}
        </ul>
    </aside>
    <div class="content span10 tab-content">
        <div class="tab-pane active row-fluid" id="all">
            <div class='span4 videoplayer-container'>
                <a href="{{ path('video_show', {'id': videoDestacadoMain.id, 'slug': videoDestacadoMain.slug}) }}">
                    <i class="play-video"></i>
                </a>
                <span class="highlight-text">Destacado Fansworld</span>
                <span class="video-title">{{ videoDestacadoMain.title|truncate(15) }}</span>
                {% thumbnail videoDestacadoMain.image, 'big' with {"title": videoDestacadoMain.title}%}
            </div>
            <div class="span8 content-container">
                {% include 'DodiciFansworldWebBundle:Video:blocks/montage.html.twig' with{videos: videosDestacadosFW, thumbnailSize: 'medium', listFilters: "#filter-channels", listChannels: true} %}
            </div>
        </div>
        {% for channel in channels %}
            <div class="tab-pane row-fluid" id="{{ channel.channelName }}">
                {% if channel.video is not null %}
                    {% if channel.video.image is defined %}
                        {% if channel.video.image is not null %}
                            <div class='span4 videoplayer-container'>
                                <span class="highlight-text">Destacado Fansworld</span>
                                <span class="video-title">{{ channel.video.title|truncate(15) }}</span>
                                <a href="{{ path('video_show', {'id': channel.video.id, 'slug': channel.video.slug}) }}">
                                    <i class="play-video"></i>
                                </a>
                                {% thumbnail channel.video.image, 'big' with {"title": channel.video.title}%}
                            </div>
                        {% endif %}
                    {% endif %}
                    
                    <div class="span8 content-container">
                        <div class="channel-highlight-container">
                            <div class="destacado">Destacado Fansworld</div>
                            <div class="channel-name">{{ channel.channelName }}</div>
                            
                            <div class="title">{{ channel.video.title }}</div>
                            <div class="description">
                                {{ channel.video.content }}
                            </div>
                            
                            <div class="explorar">
                                <a href="{{ path('teve_explorechannel', {id: channel.id, slug: channel.slug}) }}">Explorar &gt;</a>
                            </div>
                            <div class="subscribirse">
                                {% include 'DodiciFansworldWebBundle:Tv:blocks/button_subscribe.html.twig' with {channel: channel.channelEntity} %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    -- Canal sin video --
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
