{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/things.js') }}" type="text/javascript"></script>
{% endblock %}

{% block main_content %}
<div class="row-fluid my-things photos">
    <div class="span9">
        <header>
            <h2 class="title-section">Mis fotos</h2>
            <div class="controllers-section">
                <button type="button" class="btn btn-primary create-album" href="{{ path('album_create') }}" data-create-album>Crear album</button>
                <button type="button" class="btn btn-primary upload-photo" href="{{ path('photo_fileupload') }}" data-upload="photo">Subir foto</button>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active" data-type="0">Mis fotos</button>
                    <button type="button" class="btn" data-type="1">Taggeado</button>
                    <button type="button" class="btn" data-type="2">Actividad</button>
                </div>
            </div>
        </header>
        
        <div class="clearfix"></div>
        
        <div data-my-photos>
            {% include 'DodiciFansworldWebBundle:Photo:blocks/albums_montage.html.twig' with {'albumsTotalCount': albumsTotalCount} %}
            
            <div class="row-fluid">
                <h3>Fotos ( {{ photosTotalCount }} )</h3>
                {% include 'DodiciFansworldWebBundle:Photo:blocks/montage.html.twig' with {photos: photos} %}
            </div>
        </div>
        <div data-tagged-and-activity>
            <h3>Fotos ( <span data-photo-length></span> )</h3>
            <div class="am-container photos">
            </div>
        </div>
    </div>
    <div class="span3 things-sidebar">
        <section class="notification">
            <h4>NOTIFICACIONES <span class="midline"></span></h4>
        </section>

        {% if lastVideos|length > 0 %}
            <section class="news">
                <h4>ULTIMOS DE FANSWORLD <span class="midline"></span></h4>
                {% for video in lastVideos %}
                    {% if loop.first %}
                        <div class="video-element first">
                            <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                <span class="title">{{ video.title }}</span>
                                <span class="duration">{{ video.duration|date("i:s") }}</span>
                                <img src="{{ asset('bundles/dodicifansworldweb/images/play_icon.png') }}" alt="Play" class="play"/>
                                {% thumbnail video.image, 'medium' %}
                            </a>
                        </div>
                        <div class="video-element first">
                            <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                <span class="title">{{ video.title }}</span>
                                <span class="duration">{{ video.duration|date("i:s") }}</span>
                                <img src="{{ asset('bundles/dodicifansworldweb/images/play_icon.png') }}" alt="Play" class="play"/>
                                {% thumbnail video.image, 'medium' %}
                            </a>
                        </div>
                    {% else %}
                        {% if video.image %}
                            <div class="video-element" rel="tooltip" title="{{ video.title }}">
                                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                    <img src="{{ asset('bundles/dodicifansworldweb/images/play_icon.png') }}" alt="Play" class="play"/>
                                    {% thumbnail video.image, 'small' %}
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </section>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var height = $("#main-content-frame").height();
        $(window).resize(function(){
            if($("#main-content-frame").height() != height){
                height = $("#main-content-frame").height();
                $(".things-sidebar").height(height+20);
            }
        });
    });
</script>
{% endblock %}