{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main_content %}
<div class="row-fluid my-things photos" data-entity="photos">
    <div class="span9">
        <header>
            <h2 class="title-section">Mis fotos</h2>
            <div class="controllers-section">
                <button type="button" class="btn btn-primary create-album" href="{{ path('album_create') }}" data-create-album>Crear album</button>
                <button type="button" class="btn btn-primary upload-photo" href="{{ path('photo_fileupload') }}" data-upload="photo">Subir foto</button>
                <div class="btn-group" data-toggle="buttons-radio">
                    <button type="button" class="btn active" data-type="0">Mis fotos</button>
                    <button type="button" class="btn" data-type="1">Taggeado</button>
                    <button type="button" class="btn" data-type="2">Actividad</button>
                </div>
            </div>
        </header>

        <div class="clearfix"></div>

        <div data-my-photos>
            {% include 'DodiciFansworldWebBundle:Photo:blocks/albums_montage.html.twig' with {'albumsTotalCount': albumsTotalCount, 'viewMoreAlbums': false} %}
            {% if viewMoreAlbums %}
                <button class="loadmore" data-entity-type="album">ver más</button>
            {% endif %}

            <div class="row-fluid">
                <h3>Fotos ( {{ photosTotalCount }} )</h3>
                <div class="row-fluid">
                    <div class="am-container photos">
                    </div>
                </div>
            </div>
        </div>
        <div data-tagged-and-activity class="hidden">
            <h3>Fotos ( <span data-photo-length></span> )</h3>
            <div data-montage-container data-type="photos">
            </div>
        </div>

        {% if viewMorePhotos %}
            <script type="text/javascript">
                $(document).ready(function(){
                    console.log('endless');
                    endless.init(10, function(){
                        console.log('endless');
                        things.photos.page++;
                        things.photos.addMore(0, ".am-container.photos");
                    });
                });
            </script>
        {% endif %}
    </div>
    <div class="things-sidebar">
        <section class="notification">
            <h4>NOTIFICACIONES <span class="midline"></span></h4>
            <div data-notification></div>
        </section>

        {% if lastVideos|length > 0 %}
            <section class="news">
                <h4>ULTIMOS DE FANSWORLD <span class="midline"></span></h4>
                <div class="sidebar-videos">
                {% for video in lastVideos %}
                    {% if loop.first %}
                            {% include "DodiciFansworldWebBundle:Default:blocks/sidebar_videos_mythings.html.twig" %}
                    {% else %}
                        {% if video.image %}
                            <div class="video-element" rel="tooltip" title="{{ video.title }}">
                                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                    <img src="{{ asset('bundles/dodicifansworldweb/images/play_icon.png') }}" alt="Play" class="play"/>
                                    {% thumbnail video.image, 'small' %}
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            </section>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var height = $("#main-content-frame").height();
        $(window).resize(function(){
            if($("#main-content-frame").height() != height){
                height = $("#main-content-frame").height();
                $(".things-sidebar").height(height+20);
            }
        });
    });
</script>
{% endblock %}