{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}


{% block main_content %}
    <div class="my-things teams" data-entity="teams">
        <div class="things-sidebar">
            <section class="notification">
                <h4>NOTIFICACIONES <span class="midline"></span></h4>
                 <div data-notification></div>
            </section>

            <section class="ranking">
                <h4>RANKING DE EQUIPOS <span class="midline"></span></h4>

                {% for team in teamsRank %}
                    {% if loop.first %}
                        <div class="block" rel="tooltip" title="{{ team }}">
                            <a href="{{ path('team_land', {'slug': team.slug}) }}" >
                                {% thumbnail team.image, 'avatar' %}
                                <span class="title">{{ team|truncate(5) }}</span>
                                <ul>
                                    <li class="fan-count">
                                        {{ team.fanCount }}
                                        <br/>
                                        <span>fans</span>
                                    </li>
                                    <li class="video-count">
                                        {{ team.videoCount }}
                                        <br/>
                                        <span>videos</span>
                                    </li>
                                    <li class="photo-count">
                                        {{ team.photoCount }}
                                        <br/>
                                        <span>photos</span>
                                    </li>
                                </ul>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    {% else %}
                        <a href="{{ path('team_land', {'slug': team.slug}) }}" rel="tooltip" title="{{ team.title }}">
                            {% thumbnail team.image, 'headeravatar' %}
                        </a>
                    {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
            </section>

            {% if lastTeams|length > 0 %}
                <section class="news">
                    <h4>ULTIMOS DE EQUIPOS <span class="midline"></span></h4>
                    <div class="sidebar-videos">
                    {% for video in lastTeams %}
                        {% if loop.first %}
                            {% include "DodiciFansworldWebBundle:Default:blocks/sidebar_videos_mythings.html.twig" %}
                        {% else %}
                            <div class="video-element" rel="tooltip" title="{{ video.title }}">
                                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                    <img src="{{ asset('bundles/dodicifansworldweb/images/play_icon.png') }}" alt="Play" class="play"/>
                                    {% thumbnail video.image, 'small' %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>
        <div class="fluid-content">
            <header class="user_profile_head profile_head  small   row-fluid">
                {% include 'DodiciFansworldWebBundle:User/Profile:header_small.html.twig' with {'entity': user}%}
            </header>
            <div class="row-fluid">
                {% set c = 0 %}
                {% for team in teams %}
                    {% set c = c+1 %}
                    {% if c == 3 %}
                        {% set c = 0 %}
                        {% set third = true %}
                    {% else %}
                        {% set third = false %}
                    {% endif %}

                    {% include 'DodiciFansworldWebBundle:Default:blocks/entity_widget.html.twig' with {'entity': team, 'third': third, 'dropdown': true} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}