{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}


{% block main_content %}
    {% embed "DodiciFansworldWebBundle:Layout/Embed:profile_inner_rsidebar.html.twig" %}
            {% block inner_content %}
                <header class="user_profile_head profile_head  small   row-fluid">
                    {% include 'DodiciFansworldWebBundle:User/Profile:header_small.html.twig' with {'entity': user}%}
                </header>
                <div class="row-fluid">
                    {% for team in teams %}
                        {% set tship = appstate.teamshipwith(team) %}

                        <div class="team-block">

                            <div class="splash">
                                {% thumbnail team.splash, 'big' %}
                            </div>

                            <div class="logo">
                                {% thumbnail team.image, 'small' %}
                            </div>

                            <p>
                                <a href="{{ path('team_wall', {'slug': team.slug}) }}" class="name">{{ team }}</a>
                            </p>

                            <ul>
                                <li>
                                    {{ team.fanCount }}
                                    <br/>
                                    <span>Fans</span>
                                </li>
                                <li>
                                    {{ team.videoCount }}
                                    <br/>
                                    <span>Videos</span>
                                </li>
                                <li>
                                    {{ team.photoCount }}
                                    <br/>
                                    <span>Fotos</span>
                                </li>
                            </ul>

                        </div>
                    {% endfor %}
                </div>
            {% endblock %}

            {% block inner_sidebar %}
                cacaaaaaaaaaaaaa
            {% endblock %}
    {% endembed %}		
{% endblock %}