{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Idols'|trans }}{% endblock %}

{% block header %}
    {% set section_selected = 'idols' %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/fw.core.idols.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="idol-home">
        <!--span class="nav-bar idol">{{ 'Idols'|trans }}</span-->

        <section class="row-fluid top">
            {% include 'DodiciFansworldWebBundle:Default/blocks:carousel.html.twig' with {carouselitems: videosHighlighted, showCaption: false, rightCaption: true} %}
        </section>

        <section class="row-fluid middle">
            {% for idol in topIdols %}
                {% set iship = appstate.idolshipwith(idol) %}

                <div class="idol">
                    <div class="splash">
                        {% thumbnail idol.splash, 'big' with {'title': ''}%}
                    </div>
                    <div class="logo">
                        {% thumbnail idol.image, 'small' with {'title': ''}%}
                    </div>
                    <p>
                        <span class="name"><a href="{{ path('idol_land', {'slug': idol.slug}) }}">{{ idol }}</a></span>
                    </p>
                    <div class="fanned">
                        <span>{{ idol.fanCount }}</span>
                        <button class="btn btn-success {% if iship %} disabled {% else %} btn_idolship add {% endif %}" data-idolship-add="true" data-idol-id="{{ idol.id }}">Ser fan</button>
                    </div>
                </div>
            {% endfor %}
        </section>

        <section class="row-fluid bottom">
            <div class="span12 title-league">
                <div class="row-fluid title-and-dropdown">
                    <div class="btn-group select-league">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          Seleccione un filtro
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu categories">
                            {% for category in categories %}
                                <li data-category-id="{{ category.id }}" ><a href="#">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('user_idols', {'username': app.user.username}) }}" class="pull-right"><button class="btn">Mis idolos ></button></a>
                    {% endif %}
                </div>
            </div>
            <div class="row-fluid list-idols" {% if gotMore %} data-got-more="true" {% endif %}>
                <dl class="dl-horizontal">
                </dl>
            </div>
        </section>
    </div>
{% endblock %}