{% extends "FOSUserBundle::layout.html.twig" %}

{% block maincontent %}
    <header class="login-header-mosaic">
        <h2>Registrate en Fansworld.tv</h2>
        <span>Conectate con tus ídolos y clubes, demostrando tu pasión</span>
    </header>
    {{ parent() }}
{% endblock %}

{% block fos_user_content %}
    <div class="formshadow">
        <div class="loginformbig top">
            <h1>Ingresá a Fansworld</h1>
            <div class="greybox">
                <form action="{{ path("fos_user_security_check") }}" method="post" class="bigform" >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-login fieldcontainer">
                        <ul class="fields">
                            <li class="username clearfix">
                                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario"/>
                            </li>

                            <li class="password clearfix">
                                <input type="password" id="password" name="_password" placeholder="Contraseña"/>
                            </li>

                            <li class="clearfix">
                                <input type="submit" name="submit" value="Ingresar"/>
                                <span class="remember_me">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="checkboxRemember"/>
                                    <label for="remember_me" >{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                </span>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <span class="divider">o puedes</span>
        </div>
        <div class="loginformbig bottom">
            <button class="facebook-login" data-facebook-login>
                <i></i>
                <span>Facebook</span>
            </span>
            <button class="twitter-login">
                <i></i>
                <span>Twitter</span>
            </span>
        </div>
    </div>

    {% if error %}
        <div class="errors login">
            <span>{{ error|trans({}, 'FOSUserBundle') }}</span>
        </div>
    {% endif %}

    <div class="actions login">
        <a class="link-register" href="{{ path('fos_user_registration_register') }}">¿No tenés cuenta? ¡Registrate, es gratis!</a>
        <br/>
        <a class="link-reset" href="{{ path('fos_user_resetting_request') }}">¿Olvidaste tu contraseña? Hacé click aquí</a>
    </div>

{% endblock fos_user_content %}