{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="clearfix">
        {% if error %}
            <div class="errors">
                <span class="bold">Error: </span>{{ error|trans({}, 'FOSUserBundle') }}
            </div>
        {% endif %}

        <form id="form" action="{{ path("fos_user_security_check") }}" method="post" >
            <div>
                <label for="username" class="width100">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="width100"/>
            </div>
            
            <div class="clearBoth marginBottom15"></div>
            
            <div>
                <label for="password" class="width100">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" class="width100"/>
            </div>
            
            <div class="clearBoth marginBottom15"></div>
            
            <div>
                <label class="width25" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="checkboxRemember"/>
            </div>
            
            <div class="clearBoth marginBottom15"></div>
            
            <div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="squaredButton"/>
                {{ facebook_login_button({'autologoutlink': false}) }}
                <a href="{{ path('fos_user_resetting_request') }}" id="recoverPass" >Recuperar Contraseña</a>
            </div>
        </form>
        
        <a class="link-register" href="{{ path('fos_user_registration_register') }}">¿No tenés cuenta? ¡Registrate, es gratis!</a>
    </div>
{% endblock fos_user_content %}