{% extends 'DodiciFansworldWebBundle:Comment:comment.base.html.twig' %}

{% block avatar %}
	{% set image = comment.author.image %}
	{{ parent() }}
{% endblock %}

{% block action %}
	<span class="action_user">
		<a href="{{ path('user_wall', {username: comment.author.username }) }}">{{ comment.author }}</a> 
		{{ 'says'|trans }}:
	</span>
{% endblock %}

{% block title %}{% endblock %}
{% block description %}
<p>
	{{ comment.content|nl2br }}
</p>
{% endblock %}