{% block comment %}
<div class="{% block comment_block_class %}actualizacion clearfix comment_unit{% endblock %}" data-comment="{{ comment.id }}">
{% block comment_content %}
    {% block comment_header %}
    	<header>
        	{% block avatar %}
        		{% if image is defined and image is not null %}
        		<div class="avatar">
        			{% thumbnail image, 'avatar' %}
        		</div>
        		{% endif %}
        	{% endblock %}
        	<div class='action_container'>
            	{% block action %}
                    <span class="action_user"></span>
                {% endblock %}
                {% include 'DodiciFansworldWebBundle:Comment:date.html.twig' with {date: comment.createdAt} %}
            </div>
            
	   </header>
	{% endblock %}
	{% block info %}
	<div class="{% block info_block_class %}status{% endblock %}">
		{% block info_text %}
			
			{% block title %}<span class="title"></span>{% endblock %}
			{% block description %}<p></p>{% endblock %}
			{% block date %}
				<div class="info">
					
					{% block commentcount %}
					<span class="comments">{{ comment.commentCount }} {{ 'comments'|trans }}</span>
					{% endblock %}
				</div>
			{% endblock %}
			{% block comment_social %}
				<div class="social">
					{% include 'DodiciFansworldWebBundle:Default:like_button.html.twig' with {entity: comment, showcount: true} %}
					{% block share_button %}{% include 'DodiciFansworldWebBundle:Default:share_button.html.twig' with {entity: comment} %}{% endblock %}
				</div>
			{% endblock %}
			{% block subcomments %}
                                {% if comment.comment is null %}
                                    <div class="comments">
                                        {% if comment.comments|length > 0 %}
                                        <div class="form">
                                        {% else %}
                                        <a href="#" class="showCommentForm">{{ 'Make a comment'|trans }}</a>
                                        <div class="form hidden">
                                        {% endif %}
                                            {% include 'DodiciFansworldWebBundle:Comment:comment_form.html.twig' with {shortform: true, entity: comment} %}
                                        </div>
	                  
	                                    <div class="subcomment-container" data-subcomments="{{ comment.id }}">   
	                                        {% for subcomment in comment.comments %}
	                                                {% include 'DodiciFansworldWebBundle:Comment:comment.html.twig' with {comment: subcomment} %}
	                                        {% endfor %}
                                        </div>
                                    </div>
				{% endif %}
			{% endblock %}
	 	{% endblock %}
	</div>
	{% endblock %}
	{% block deleter %}
		{% if appstate.candelete(comment) %}
			<a class="deletecomment" data-id="{{comment.id}}"></a>
		{% endif %}
	{% endblock %}
{% endblock %}
</div>
{% endblock %}
