{% extends 'DodiciFansworldWebBundle:Comment:comment.base.html.twig' %}

{% if comment.share.comment is not null %}
	{% set tag_item = comment.share.comment %}
	{% set tag_item_url = path("comment_show", {'id': tag_item.id }) %}
	{% set tag_item_type = 'comment' %}		
{% elseif comment.share.album is not null %}
	{% set tag_item = comment.share.album %}
	{% set tag_item_url = path("album_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}
	{% set tag_item_type = 'album' %}
{% elseif comment.share.photo is not null %}
	{% set tag_item = comment.share.photo %} 
	{% set tag_item_url = path("photo_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}
	{% set tag_item_type = 'photo' %}
{% elseif comment.share.video is not null %}
	{% set tag_item = comment.share.video %} 
	{% set tag_item_url = path("teve_videodetail", {'id': tag_item.id, 'slug': tag_item.slug }) %}
	{% set tag_item_type = 'video' %}
{% elseif comment.share.contest is not null %}
	{% set tag_item = comment.share.contest %} 
	{% set tag_item_url = path("contest_show", {'id': tag_item.id, 'slug': tag_item.slug })%}
	{% set tag_item_type = 'contest' %}	
{% elseif comment.share.newspost is not null %}
	{% set tag_item = comment.share.newspost %} 
	{% set tag_item_url = path("newspost_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}
	{% set tag_item_type = 'newspost' %}
{% elseif comment.share.proposal is not null %}
	{% set tag_item = comment.share.proposal %} 
	{% set tag_item_url = path("proposal_show", {'id': tag_item.id, 'slug': tag_item.slug }) %}
	{% set tag_item_type = 'proposal' %}	
{% endif %}

{% block avatar %}
	{% set image = comment.author.image %}
	{{ parent() }}
{% endblock %}

{% block action %}
	<span class="action_user">
		<a href="{{ path('user_wall', {username: comment.author.username }) }}">{{ comment.author }}</a> 
		{% block share_action_text %}{{ ('shared_' ~ tag_item_type)|trans }}{% endblock %}
		{% if comment.share.author is not null and comment.author.id != comment.share.author.id %}
		{{ 'by'|trans }} <a href="{{ path('user_wall', {username: comment.share.author.username }) }}">{{ comment.share.author }}</a>
		{% endif %}
	</span>
{% endblock %}

{% block title %}
	<span class="title">
		<a href="{{ tag_item_url }}">{{ tag_item }}</a>
	</span>
{% endblock %}


{% block info_commentcontent %}
	{% if tag_item.image is defined and tag_item.image is not null %}
		{% if tag_item_type == 'video' %}
			<div class="video">
				<span></span>
				<a href="{{ tag_item_url }}">{% thumbnail tag_item.image, 'wall' %}</a>
			</div>
		{% else %}
			<div class="share-image">
				<a href="{{ tag_item_url }}">{% thumbnail tag_item.image, 'wall' %}</a>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}    
    
{% block description %}    
	{% if comment.content %}
		<div class="share-desc">
			<p>{{ comment.content }}</p>
		</div>
	{% endif %}
{% endblock %}

{% block comment_social %}
	{#
    <div class="social">
        
		{% include 'DodiciFansworldWebBundle:Default:like_button.html.twig' with {entity: tag_item, showcount: true, type: tag_item_type} %}
		{% if comment.author != app.user %}
			{% block share_button %}{% include 'DodiciFansworldWebBundle:Default:share_button.html.twig' with {entity: tag_item, type: tag_item_type} %}{% endblock %}
		{% endif %}
		
	</div>
	#}
{% endblock %}

{% block subcomments %}
    {{ parent() }}
{% endblock %}

{% block commentcount %}
	<a href="{{ tag_item_url }}">{{ tag_item.commentCount }} {{ 'comments'|trans }}</a>
{% endblock %}
