{% extends 'DodiciFansworldWebBundle:Comment:comment.base.html.twig' %}

{% block avatar %}
	<div class="ico">
		<img src="{{ asset('bundles/dodicifansworldweb/images/ico/user_add.png' )}}" alt="icon" />
	</div>
{% endblock %}

{% block action %}
	<span class="action_user">
		<a href="{{ path('user_wall', {username: comment.target.username }) }}">{{ comment.target }}</a> 
		y 
		<a href="{{ path('user_wall', {username: comment.author.username }) }}">{{ comment.author }}</a> 
		ahora son amigos
	</span>
{% endblock %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}