{% extends 'DodiciFansworldWebBundle:Comment:comment.base.html.twig' %}

{% block avatar %}
	<div class="ico">
		<img src="{{ asset('bundles/dodicifansworldweb/images/ico/comment_add.png' )}}" alt="icon" />
	</div>
{% endblock %}

{% block action %}
	<span class="action_user">
		<a href="{{ path('user_wall', {username: comment.author.username }) }}">{{ comment.author }}</a> 
		respondió en 
		<a href="{{ path('forum_thread', {'id': comment.share.forumthread.id, 'slug': comment.share.forumthread.slug}) }}">{{ comment.share.forumthread }}</a>
	</span>
{% endblock %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}