{% block text %}
	<div class="avatar">
		<img src="{{activity.target.image}}" />
	</div>
	{% if activity.media.video is defined %}
		{% set media_type = 'un video' %}
		{% set media_href = path('video_show', {'id': activity.media.video.id, 'slug': activity.media.video.slug}) %}
		{% set media_title = activity.media.video.title %}
		{% set media_modal_url = path('modal_media', {'type': 'video', 'id': activity.media.video.id}) %}
	{% endif %}
	<span class="notice-text"><a class="notice-link" href="{{ path('user_land', {username: activity.target.username }) }}">{{activity.target.username}}</a> Subió <a href="{{ media_href }}">{{media_type}}</a></span>
{% endblock %}