<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block title %}
            <title>Fansworld.TV</title>
        {% endblock %}
    </head>
    <body>
        <style type="text/css">
        {% block styles %}
                body {
                    background-color: #efefef;
                    font-family: "Lucida Sans", "Lucida Grande", "FreeSans";
                }
                table, tr, td{
                    padding:0 !important;
                    margin:0 !important;
                }
                a{
                    color: #2e5fc9;
                    text-decoration: none;
                    font-weight: bold;
                }
                p {
                    margin: 0;
                    padding: 0;
                }
        {% endblock %}
            </style>
            <table cellpadding="0" cellspacing="0" style="background-color: #ffffff; border: 1px solid #c9c9c9; border-radius: 3px; height: 270px; width: 500px;">
                <tr style="height: 50px;">
                    <td style="border-bottom: 1px solid #c9c9c9; width: 290px;">
                        <img src="{{ asset('bundles/dodicifansworldweb/images/mail/logoBlanco.jpg') }}" alt="Comparti tu pasion" style="margin-top: 20px; margin-left: 28px; margin-bottom: 15px;"/>
                    </td>
                    {% if targetUser %}
                        <td style="border-bottom: 1px solid #c9c9c9; width: 273px;" align="right">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="font-size: 11px; text-align: right;">
                                            <tr>
                                                <td>
                                                    <span style="color: #444444;margin-right: 15px;">{{ targetUser }}</span> <!-- FULL NAME -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >
                                                    <span style="color: #adadad;margin-right: 15px;">({{ targetUser.username }})</span> <!--USERNAME-->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <img src="{{ appmedia.imageurl(targetUser.image, 'avatar') }}" style="margin-right:10px; width: 35px; height: 35px;"/> <!--TARGET AVATAR-->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    {% endif  %}
                </tr>
                <tr>
                    <td style="width: 500px;vertical-align: top;" colspan="2">
                        <div style="padding-left: 30px;">
                            {% if targetUser %}
                                <p style="margin-bottom: 15px;margin-top: 15px;">Hola {{ targetUser }},</p>
                            {% endif %}
                            <div style="margin-bottom: 20px;">
                                {% if targetUser %}
                                    <span style="float: left;margin-right: 15px;"><img src="{{ appmedia.imageurl(targetUser.image, 'avatar') }}" style="width: 45px;height: 45px;"/></span>    
                                {% endif %}
                                <div>
                                    {% block text %}
                                    {% endblock %}
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <p style="font-size: 11px; color: #c0c0c0; margin-top: 60px;"><a href="{{ path('notification_preferences') }}">Ajustar tus preferencias de las notificaciones que recíbes</a></p>
                            </div>
                        </td>
                    </tr>
            </table>
            <div style="width: 500px; margin-top: 10px;">
                    <div style="float: left; font-size: 11px; color: #c0c0c0;">
                        <p>Copyright 2012, todos los derechos reservados</p>
                        <p>Echeverria 5438, Buenos Aires 1431,</p>
                        <p>Argentina</p>
                    </div>
                    <img style="float:right;" src="{{ asset('bundles/dodicifansworldweb/images/mail/fwGris.jpg') }}" alt="" />
            </div>
        </body>
</html>