{% block content %}
    <div class="checkin-modal">
        <span class="headerbar">
            <h1>Check in a partido...</h1>
            <span class="close-button"></span>
        </span>
            
        <span class="title">1. ¿Que equipo vas a apoyar?</span>
        <div class="teamvsteam">
            {% if teams|length > 0 %}
                    <div class="team" data-team-id="{{ teams[0].id }}">
                        <div class="images">
                            <div class="crop">{% thumbnail teams[0].splash, 'medium' with {'class': 'splash'} %}</div>
                            {% thumbnail teams[0].image, 'small' with {'class': 'logo'} %}
                        </div>
                        <span class="online">{{ eventshipLocal }} fans</span>
                        <span class="team-name">{{ teams[0] }}</span>
                    </div>
                    <div class="team" data-team-id="{{ teams[1].id }}">
                        <div class="images">
                            <div class="crop">{% thumbnail teams[1].splash, 'medium' with {'class': 'splash'} %}</div>
                            {% thumbnail teams[1].image, 'small' with {'class': 'logo'} %}
                        </div>
                        <span class="online">{{ eventshipGuest }} fans</span>
                        <span class="team-name">{{ teams[1] }}</span>
                    </div>
            {% endif %}
        </div>
        
        <span class="title">2. ¿Por donde lo vas a seguir?</span>
        <div class="selecttype">
            <ul>
                <li><img title="Radio" src="{{ asset('bundles/dodicifansworldweb/images/checkIn/radio.jpg') }}"/></li>
                <li><img title="TV" src="{{ asset('bundles/dodicifansworldweb/images/checkIn/tv.jpg') }}"/></li>
                <li><img title="Web" src="{{ asset('bundles/dodicifansworldweb/images/checkIn/web.jpg') }}"/></li>
                <li><img title="En vivo" src="{{ asset('bundles/dodicifansworldweb/images/checkIn/online.jpg') }}"/></li>
            </ul>
        </div>
    </div>
{% endblock %}
