{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% block header %}
    {% set section_selected = 'teams' %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ parent() }} - {{ 'Teams'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/fw.core.teams.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="team-home">
        <!--span class="nav-bar team">{{ 'Equipos'|trans }}</span-->

        <section class="row-fluid top">
            {% include 'DodiciFansworldWebBundle:Default/blocks:carousel.html.twig' with {carouselitems: videoHighlights, showCaption: false, rightCaption: true} %}
        </section>

        <section class="row-fluid middle">
            {% for team in popularTeams %}
                {% set tship = appstate.teamshipwith(team) %}

                <div class="team">

                    <div class="splash">
                      <a href="{{ path('team_land', {'slug': team.slug}) }}">
                        {% thumbnail team.splash, 'big' with {'title': ''}%}
                      </a>
                    </div>

                    <div class="logo">
                      <a href="{{ path('team_land', {'slug': team.slug}) }}">
                        {% thumbnail team.image, 'small' with {'title': ''}%}
                      </a>
                    </div>

                    <p>
                        <a href="{{ path('team_land', {'slug': team.slug}) }}" class="name">{{ team }}</a>
                    </p>

                    <div class="fanned">
                        <span>{{ team.fanCount }}</span>
                        <button class="btn btn-success {% if tship %} disabled {% else %} btn_teamship add {% endif %}" data-team-add="true" data-team-id="{{ team.id }}">Ser fan</button>
                    </div>

                </div>
            {% endfor %}
        </section>

        <section class="row-fluid bottom">
            <div class="span12 title-league">
                <div class="row-fluid title-and-dropdown">
                    <h4>Otros Destacados</h4>
                    <div class="btn-group select-league">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          Seleccione una liga
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu categories">
                            {% for category in categories %}
                                <li data-category-id="{{ category.id }}" ><a href="#">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid list-teams" {% if gotMore %} data-got-more="true" {% endif %}>
                <dl class="dl-horizontal">
                </dl>
            </div>
        </section>
    </div>
{% endblock %}