{% extends "DodiciFansworldWebBundle:Layout:three_column.html.twig" %}

{% block title %}{{ parent() }} - Búsqueda{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/teams.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="team-home">
        <span class="nav-bar team">{{ 'Equipos'|trans }}</span>

        <section class="row-fluid top">
            {% include 'DodiciFansworldWebBundle:Default/blocks:carousel.html.twig' with {carouselitems: videoHighlights, showCaption: false} %}
        </section>

        <section class="row-fluid middle">
            {% for team in popularTeams %}
                <div class="team">
                    <div class="splash">
                        {% thumbnail team.splash, 'big' %}
                    </div>
                    <div class="logo">
                        {% thumbnail team.image, 'small' %}
                    </div>
                    <p>
                        <span class="name">{{ team }}</span>
                        <br/>
                        <span data-expandable data-slice-point="70">{{ team.content }}</span>
                    </p>
                </div>
            {% endfor %}
            {% for team in popularTeams %}
                <div class="team">
                    <div class="splash">
                        {% thumbnail team.splash, 'big' %}
                    </div>
                    <div class="logo">
                        {% thumbnail team.image, 'small' %}
                    </div>
                    <p>
                        <span class="name">{{ team }}</span>
                        <br/>
                        <span data-expandable data-slice-point="70">{{ team.content }}</span>
                    </p>
                </div>
            {% endfor %}
            {% for team in popularTeams %}
                <div class="team">
                    <div class="splash">
                        {% thumbnail team.splash, 'big' %}
                    </div>
                    <div class="logo">
                        {% thumbnail team.image, 'small' %}
                    </div>
                    <p>
                        <span class="name">{{ team }}</span>
                        <br/>
                        <span data-expandable data-slice-point="70">{{ team.content }}</span>
                    </p>
                </div>
            {% endfor %}
        </section>

        <section class="row-fluid bottom">
            <div class="span12 title-league">
                <div class="row-fluid title-and-dropdown">
                    <h4>Otros Destacados</h4>
                    <div class="btn-group select-league">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          Seleccione una liga
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li><a href="#">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row-fluid list-teams">
                    <dl class="dl-horizontal">
                        {% for team in teamList %}
                            <dt class="team">
                                {% thumbnail team.image, 'small' %}
                                <p>
                                    <span class="name">{{ team }}</span>
                                    <br/>
                                    <span class="idols">Idolos: Cacho Fontana, Curu Paiti</span>
                                </p>
                            </dt>
                                <dd>
                                    <button class="btn btn_friendship add btn-success">Ser fan</button>
                                    <ul>
                                        <li><span>{{ team.fanCount }}</span><br/> fans</li>
                                        <li><span>{{ team.videoCount }}</span><br/> videos</li>
                                        <li><span>{{ team.photoCount }}</span><br/> fotos</li>
                                    </ul>
                                </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </section>
    </div>
    
    {#
	<div class="cont clearfix">
	    <h2>Listado de equipos</h2>
	    <div class="user_list">
	        <div class="mask">
	            <ul class="categories">
	                {% for category in categories %}
	                    <li categoryId = "{{ category.id }}">{{ category.title }}</li>
	                {% endfor %}
	            </ul>
	            <br/>
	            <ul class="listMosaic" style="display: block; ">
	            </ul>
	            <a href="#" id="addMore" class="loadmore hidden">Agregar más</a>
	        </div>
	    </div>
	</div>
	<input type="hidden" id="categoryId" value="{% if categoryId %} {{ categoryId }} {% else %} null {% endif %}"/>
	<script type="text/javascript">
	    $(document).ready(function(){
	        list.category = {% if categoryId %} {{ categoryId }} {% else %} null {% endif %};
	        list.init();
	    });
	</script>
    #}
{% endblock %}