{% extends "DodiciFansworldWebBundle:Team:base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:inner_rsidebar.html.twig"  %}

{% block title %}{{ parent() }} - Muro{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'wall' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
	{{ parent() }}
	<div class="cont">
    	{% include 'DodiciFansworldWebBundle:Comment/blocks:list.html.twig' with {entity: team} %}
    </div>
{% endblock %}

{% block inner_sidebar %}
	{{ parent() }}
	<img src="{{ asset("bundles/dodicifansworldweb/images/sidebar.png") }}"  style='width:100%' />
	TODO
{% endblock %}