{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Complaint'|trans }}{% endblock %}

{% block content %}
<div class="complaints">
    <div class="cont clearfix">
        <h1>{{ 'Complaint'|trans }}
                <ul>
                    <li><a href="#1" class="titleType">Tipo de Concurso</a>
                        <ul class="complaintType">
                            <li><a href="#">{{ 'All'|trans }}</a></li>
                            <li class="1"><a href="#">Foto</a></li>
                            <li class="2"><a href="#">Video</a></li>
                            <li class="3"><a href="#">Comentario</a></li>
                        </ul>
                    </li>
                </ul>
            </h1>
        <ul class="listComplaints">
            {% for complaint in complaints%}
                <li>
                    <span><label>{{ 'Author'|trans }}:</label>{{ complaint.author }}</span>
                    <span><label>{{ 'Category'|trans }}: </label>{{ complaint.complaintcategory }}</span>
                    <span><label>{{ 'Content'|trans }}: </label>{{ complaint.content|raw }}</span>
                    <span><label>{{ 'Date of creation'|trans }}: </label>{{ complaint.createdAt|date()}}</span>
                    <span><label>{{ 'Active'|trans }}: </label>{{ complaint.active }}</span>
                    {% if complaint.target %}
                        <span><label>{{ 'User reported'|trans }}: </label>{{ complaint.target }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
