{% extends "DodiciFansworldWebBundle::three_column.html.twig" %}

{% block title %}{{ parent() }} - {{ 'Complaint'|trans }}{% endblock %}

{% block content %}
<div class="complaints">
    <div class="cont clearfix">
        <h1>{{ 'Complaint'|trans }}
                <ul>
                    <li><a href="#1" class="titleType">Tipo de Concurso</a>
                        <ul class="complaintType">
                            <li class="photo"><a href="#">Foto</a></li>
                            <li class="video"><a href="#">Video</a></li>
                            <li class="comment"><a href="#">Comentario</a></li>
                        </ul>
                    </li>
                </ul>
        </h1>
        <ul class="listComplaints">
            {% for complaint in complaints%}
                <li>
                    <span><label>{{ 'Author'|trans }}:</label>{{ complaint.author }}</span>
                    <span><label>{{ 'Category'|trans }}: </label>{{ complaint.complaintcategory }}</span>
                    <span><label>{{ 'Content'|trans }}: </label>{{ complaint.content|raw }}</span>
                    <span><label>{{ 'Date of creation'|trans }}: </label>{{ complaint.createdAt|date()}}</span>
                    <span><label>{{ 'Active'|trans }}: </label>{{ complaint.active }}</span>
                    {% if complaint.target %}
                        <span><label>{{ 'User reported'|trans }}: </label>{{ complaint.target }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if addMore %}
            <a href="#" id="addMore" class="loadmore complaints">{{ 'Add more'|trans }}</a>
        {% endif %}
    </div>
</div>
<div id="template" class="hidden">
    <ul class="listComplaints">
        <li>
            <span class="author"><label>{{ 'Author'|trans }}:</label></span>
            <span class="category"><label>{{ 'Category'|trans }}: </label></span>
            <span class="cContent"><label>{{ 'Content'|trans }}: </label></span>
            <span class="createdAt"><label>{{ 'Date of creation'|trans }}: </label></span>
            <span class="cActive"><label>{{ 'Active'|trans }}: </label></span>
            <span class="target"><label>{{ 'User reported'|trans }}: </label></span>
        </li>
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        complaint.init();
    });
</script>
{% endblock %}
