{# {% extends "DodiciFansworldWebBundle::popup.html.twig" %} #}

{% block javascripts %}
	{# <script src="{{ asset('bundles/dodicifansworldweb/js/base.js') }}" type="text/javascript"></script> #}
{% endblock %}

{% block content %}
    {% if not reported%}
        <div id="report">
            <form id="complaintReport" name="report" method="post">
                <label class="category">{{ 'Category'|trans }}</label>
                <select name="category" class="category" data-report-category>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                </select>
                
                <label class="comment">{{ 'Comment'|trans }}</label>
                <textarea name="comment" class="comment" data-report-coment></textarea>
                
                <input type="submit" class="btn btn-primary" name="submit" data-report-submit value="{{ 'Report'|trans }}" id="submit-report" />
            </form>
        </div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#complaintReport").on('submit', function(){
                    ajax.genericAction('complaint_make', {
                        'type': '{{ entityType }}',
                        'id': {{ entityId }},
                        'comment': $("#complaintReport textarea.comment").val(),
                        'category': $("#complaintReport select option:selected").attr("value")
                    },
                    function(response){
                        console.log(response);
                        window.top.$.colorbox.close();
                    },
                    function(error){
                        console.error(error);
                    });
                    return false;
                });
            });
        </script>
    {% else %}
        <div id="report" class="reported">
            <h3>{{ 'You\'ve already reported'|trans }} </h3>
        </div>
    {% endif %}
{% endblock %}
