{% raw %}
<dt class="idol">
    <a href="{{>idolUrl}}">
      <img src="{{>avatar}}" />
    </a>
    <p>
        <a href="{{>idolUrl}}" class="name">{{>name}}</a>
        <br/>
        <a href="{{>teamUrl}}" clasS="team">{{>team}}</a>
        <br/>
        {{if topFan}}
        <span class="fans">Top Fan:
            <a href="{{>topFanUrl}}">{{>topFan}}</a>
        </span>
        {{/if}}
    </p>
</dt>
    <dd>
        <ul>
                <li><a href="{{>fansUrl}}"><span>{{>fanCount}}</span><br/> fans</a></li>
                <li><a href="{{>videosUrl}}"><span>{{>videoCount}}</span><br/> videos</a></li>
                <li><a href="{{>photosUrl}}"><span>{{>photoCount}}</span><br/> fotos</a></li>

        </ul>

        <button class="btn btn-success {{if isFan}}disabled{{else}}btn_idolship add{{/if}}" data-idolship-add="true" data-idol-id="{{>id}}">{{if isFan}}YA ERES FAN{{else}}Ser fan{{/if}}</button>
    </dd>
{% endraw %}