{% extends "DodiciFansworldWebBundle::popup.html.twig" %}
{% form_theme form 'DodiciFansworldWebBundle::form.html.twig' %}

{% block javascripts %}
    {% if finish != true %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if finish %}
        <script type="text/javascript">
            location.href = "{{ path('user_change_imageTest') }}";
        </script>

    {% else %}

        <script src="{{ asset('bundles/dodicifansworldweb/js/jcrop/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/dodicifansworldweb/js/fw.ui.metadata.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            var jcrop_api;
            var jcrop_state = true;
            $(function(){$('#cropbox').Jcrop({
                onSelect: updateCoords,
                boxWidth: 300,
                boxHeight: 300,
                onRelease: function(){
                    $('#form_x').val(0);
                    $('#form_y').val(0);
                    $('#form_w').val(0);
                    $('#form_h').val(0);
                },
                trueSize: [{{realWidth}},{{realHeight}}]
            },function(){jcrop_api = this;});});
            function updateCoords(c) { $('#form_x').val(c.x); $('#form_y').val(c.y); $('#form_w').val(c.w); $('#form_h').val(c.h);};
            function checkCoords() {
                if (parseInt($('#form_w').val())) return true;
                alert('Please select a crop region then press submit.');
                return false;
            };
            //$('#share_it').click(function() {$('#saveProfileImage').click();});
        </script>

            <form action="{{ path('user_change_imageSaveTest', {'originalFile': originalFile, 'tempFile': tempFile }) }}" method="post" enctype="multipart/form-data" class="bigform upload-photo" name="frmUpload">

                <div class="title-upload">Recortar Imagen</div>
                <div class="row-fluid">
                    <section class="span2">
                        <img src="{{ path('media_temp', {tempfile: tempFile, hash: appmedia.temphash(tempFile) } )}}" id="cropbox" />
                    </section>
                </div>
                    {{ form_errors(form) }}
                    {{ form_rest(form) }}
                    <input type="submit" name="submit" value="Guardar" id="saveProfileImage" class="btn btn-primary"/>
            </form>
    {% endif %}
{% endblock %}
