{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'profileimage' %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/jcrop/jquery.Jcrop.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block inner_content %}
    <div class="row-fluid">
        <div class="span7">
	        <div class="current">
                    <section id="picture" class="row-fluid">
                        <a href="#" class="btn btn-success fwUploader" rel="tooltip" title="Cambiar imagen de perfil" id="avatar-uploader" data-entity-type="user" data-entity-id="{{ user.id }}" data-ismodal="false" data-upload="photo" data-type="profile" data-uploader-selector="avatar-uploader">
                            <i class="icon-pencil icon-white"></i>
                            Cambiar imágen de perfil
                        </a>
                        <a href="#" class="btn btn-success fwUploader" rel="tooltip" title="Cambiar portada" id="splash-uploader" data-entity-type="user" data-entity-id="{{ user.id }}"   data-ismodal="false" data-upload="photo" data-type="splash" data-uploader-selector="splash-uploader">
                            <i class="icon-pencil icon-white"></i>
                            Cambiar imágen de portada
                        </a>
                    </section>
                </div>
        </div>
        <div class='span4'>
            <section class='ayuda'>
                <h2><span class="circular">?</span>Ayuda</h2>
                <p>
                    Luego de seleccionar la foto, se abrira una ventana modal que le permitira recortar y guardar la imagen.
                </p>
            </section>
		</div>
    </div>
{% endblock %}