{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Información{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'detail' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
				<div class="cont clearfix">
                    <h2>Información{% if (user == app.user) %} <a class="more" href="{{ path('fos_user_profile_edit') }}">editar</a>{% endif %}</h2>
                    <div class="user_info">
                        <h5>Informacion personal</h5>
                        <table>
                            <tr>
                                <td class="dato">Nombre</td>
                                <td>{{ user.firstname }} {{ user.lastname }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Sexo</td>
                                <td>{{ user.sex }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Pais</td>
                                <td>{{ user.country }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Provincia</td>
                                <td>{{ user.city }}</td>
                            </tr>
                        </table>
                        <h5>Perfil</h5>
                        <table>
                            <tr>
                                <td class="dato">Intereses</td>
                                <td> Vestibulum quis erat id sem auctor ullamcorper id vitae est. Nam justo mauris, scelerisque vel rhoncus ut, malesuada eu arcu. Nullam a tincidunt erat. Suspendisse nec tortor in sapien aliquet eleifend. Maecenas id eros libero, ac condimentum enim. Fusce dapibus eros quis nisl vulputate tincidunt. Mauris faucibus iaculis nisl in elementum. Sed pharetra blandit lacinia. </td>
                            </tr>
                            <tr>
                                <td class="dato">Biografia</td>
                                <td> Vestibulum quis erat id sem auctor ullamcorper id vitae est. Nam justo mauris, scelerisque vel rhoncus ut, malesuada eu arcu. Nullam a tincidunt erat. Suspendisse nec tortor in sapien aliquet eleifend. Maecenas id eros libero, ac condimentum enim. Fusce dapibus eros quis nisl vulputate tincidunt. Mauris faucibus iaculis nisl in elementum. Sed pharetra blandit lacinia. </td>
                            </tr>
                        </table>
                    </div>
                </div>
{% endblock %}