{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Información{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'detail' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
                <div class="cont clearfix">
                    <h2>Información{% if (user == app.user) %} <a class="more" href="{{ path('fos_user_profile_edit') }}">editar</a>{% endif %}</h2>
                    <div class="user_info">
                        <h5>Informacion personal</h5>
                        <table>
                            <tr>
                                <td class="dato">Nombre</td>
                                <td>{{ user.firstname }} {{ user.lastname }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Sexo</td>
                                <td>{{ ('sex_' ~ user.sex)|trans }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Pais</td>
                                <td>{{ user.country }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Provincia</td>
                                <td>{{ user.city }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Fecha de nacimiento</td>
                                <td>{{ user.birthday|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            <tr>
                                <td class="dato">Puntos</td>
                                <td>{{ user.score }}</td>
                            </tr>
                        </table>
                        <h5>Biografía</h5>
                        <table>
                            <tr>
                                <td class="dato">Descripción</td>
                                <td>{{ user.content }}</td>
                            </tr>
                        </table>
                        <h5>Intereses</h5>
                        <table>
                            {% for interest in interests %}
                                <tr>
                                    <td class="dato">{{ interest.category }}</td>
                                        <td>
                                            <ul class="currentinterests clearfix">
                                                {% for ele in interest.interest %}
                                                    <li data-idinterest="1">
                                                        <img alt="" src="{{ele.image}}"> 
                                                        <span class="name">{{ele.title}}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
{% endblock %}