{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block title %}{{ parent() }} - Solicitudes{% endblock %}

{% block inner_content %}
{{ parent() }}
<div class="cont clearfix">
    <h2>Solicitudes pendientes</h2>
    <div class="user_list">
        <div class="mask">
                {% for request in requests %}
                    <div class="listElement">
                        <div class="avatar">
                            <img src="{{ request['user']['image'] }}" width="50" height="50" />
                        </div>
                        <div class="info">
                            <h3 class="name">{{ request['user']['name'] }}</h3>
                            <span>
                                <a href="#" class="accept" id="{{ request['friendship']['id'] }}"><strong>Aceptar</strong></a>
                                <br/>
                                <a href="#" class="deny" id="{{ request['friendship']['id'] }}"><strong class="deny">Rechazar</strong></a>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
