{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% block title %}{{ parent() }} - Información{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/edit_interests.js') }}" type="text/javascript"></script>
{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'detail' %}
	{{ parent() }}
{% endblock %}

{% block profile_body %}

    {% if user == app.user%}
        <a href="{{ path('fos_user_profile_edit') }}" class="pull-right" style="margin-right: 15px;">Editar</a>
        <div class="clearfix"></div>
    {% endif %}
    
    {% embed "DodiciFansworldWebBundle:Layout/Embed:profile_inner_lsidebar.html.twig" %}
        {% block inner_sidebar %}
                {% if user == app.user %}
                    {% set userLogged = true %}
                {% else %}
                    {% set userLogged = false %}
                {% endif %}
                {% include "DodiciFansworldWebBundle:Default:blocks/info_list.html.twig" with { entity:user, personalData: personalData, list_type: 'user' } %}
        {% endblock %}
        
        {% block inner_content %}
                {% if user.content %}
                    {% include "DodiciFansworldWebBundle:Default:blocks/text_box.html.twig" with { box_content: user.content, box_class: 'aboutMe', box_title: '' } %}
                {% endif %}
                
                <table class="table categories" data-iduser="{{ user.id }}" style="margin-top: 20px;">
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category }}</td>
                                <td>
                                    <input type="hidden" class="interest-chooser" data-idcategory="{{ category.id }}" />
                                    <ul class="currentinterests list-labels" no-close-button="true">
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% endblock %}
    {% endembed %}		
{% endblock %}