{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Fotos{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'photos' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
	{% if (user == app.user) %}
        <div class="update clearfix"> 
            <span></span> 
            <div class="upd_option clearfix"> 
                <a class="btn_picture btn_upload_photo" href="{{ path('photo_upload') }}">cargar imagen</a> 
            </div>    
        </div>
    {% endif %}
{% endblock %}

{% block inner_content %}
    <div class="cont clearfix">
        <h2>Fotos</h2>
        <div class="album_covers">
            <div class="mask"> 
                {% for photo in photos %}
                    <div class="album_cover"> 
                        <a href="{{ path('photo_show', {'id': photo.id, 'slug': photo.slug}) }}">{% thumbnail photo.image, 'medium' %}</a>
                        <a href="{{ path('photo_show', {'id': photo.id, 'slug': photo.slug}) }}">{{ photo.title }}</a>
                        <span><a href="{{ path('photo_show', {'id': photo.id, 'slug': photo.slug}) }}">{{ photo.commentCount }} comentarios</a></span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if gotMore %}
        <a class="loadmore pictures" href="#1">ver más</a> 
    {% endif %}
    
<input type="hidden" value="{{user.id}}" id="userid"/>
<div id="templates" class="hidden">
    <div class="album_cover">
        <a class="image" href="">
            <img src="">
        </a>
        <a class="title" href=""></a>
        <span></span>
    </div>
</div>
{% endblock %}
