{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Fotos{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'photos' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
	{% if (user == app.user) %}
        <div class="update clearfix"> 
            <span></span> 
            <div class="upd_option clearfix"> 
                <a class="btn_picture btn_upload_photo" href="{{ path('photo_upload') }}">cargar imagen</a> 
            </div>    
        </div>
    {% endif %}
{% endblock %}

{% block inner_content %}
    <div class="cont clearfix">
        <div class="user_album">
            <div class="mask">
                {% for photo in photos %}
                    <div class="pic"><a href="photo.php"><img src="{{ photo.image }}"></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if viewMorePhotos %}
        <a class="loadmore" href="{{ path('user_listphotos', {'id': user.id}) }}">ver todas las imagenes</a>
    {% endif %}
    
    <div class="cont clearfix">
        <h2>Álbumes de usuario</h2>
        <div class="album_covers">
            <div class="mask"> 
                {% for album in albums %}
                    <div class="album_cover"> 
                        <a href=""><img src="{{ album.image }}"></a>
                        <a href="">{{ album.title }}</a>
                        <span>{{ album.countImages }} imagenes - <a href="user_album.php">{{ album.comments }} comentarios</a></span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if viewMoreAlbums %}
        <a class="loadmore albums" href="#1">ver más</a> 
    {% endif %}
<input type="hidden" value="{{user.id}}" id="userid"/>
<div id="templates" class="hidden">
    <div class="album_cover"> 
        <a class="image" href=""><img src=""></a>
        <a class="title" href=""></a>
        <span></span>
    </div>
    <div class="pic">
        <a href="photo.php">
            <img src="" alt="picture" />
        </a>
    </div>
</div>
{% endblock %}
