{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - {{ user }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/friendship.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<header class="user_profile_head profile_head row-fluid">
		{% block profile_head %}
			{% set fship = appstate.friendshipwith(user) %}
            {% if appstate.canfriend(user) and fship is null %}
				{% include 'DodiciFansworldWebBundle:User/Profile:header_large.html.twig' with {entity: user} %}
			{% else %}
				{% include 'DodiciFansworldWebBundle:User/Profile:header_small.html.twig' with {entity: user} %}
			{% endif %}
		{% endblock %}
	</header>
	
	{% block user_profile_body %}
		<div class="user_profile_body">
			{% block inner_content %}
			{% endblock %}
		</div>
	{% endblock %}

{% endblock %}

{% block rightbar %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            friendship.init();
        });
    </script>
{% endblock %}