{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - {{ user }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/friendship.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
                <div class="user_profile_head profile_head clearfix">
                	{% block profile_head %}
                	{% block avatar_container %}
		                    <div class="avatar">
		                    	{% block avatar_content %}
		                    		{% set avatar_format = 'small_square' %}
			                    	{% if user == app.user %} 
			                        <a class="change_image" href="{{ path('user_change_image') }}">{{ 'Change'|trans }}</a>
			                        {% endif %}
			                        {% if user.image %}
			                        	{% thumbnail user.image, avatar_format %}
			                        {% else %}
			                        	<img src="{{ asset('bundles/dodicifansworldweb/images/user_pic.jpg' )}}" />
			                        {% endif %}
		                        {% endblock %}
		                    </div>
                    {% endblock %}
                    <div class="user_info"> 
                    {% block profile_info %}
                    
                    	
	                        {% set fship = appstate.friendshipwith(user) %}
		                    {% if appstate.canfriend(user) and fship is null %}
	                                <div class="addFriend" targetId="{{ user.id }}">
	                                    <a class="btn btn_friendship add" href="#">Seguir{% if user.restricted %} (solicitar){% endif %}</a>
	                                    {% if friendgroups|length > 0 %}
	                                        <ul class="friendgroupsList">
	                                            {% for friendgroup in friendgroups %}
	                                                <li id="{{ friendgroup.id }}">
	                                                    <input type="checkbox" id="friendgroup[{{ friendgroup.id }}]" name="friendgroup[{{ friendgroup.id }}]" value="{{ friendgroup.id }}"/>
	                                                    <label for="friendgroup[{{ friendgroup.id }}]">{{ friendgroup.title }}</label>
	                                                </li>
	                                            {% endfor %}
	                                        </ul>
	                                    {% endif %}
	                                </div>
		                    {% else %}
		                    	{% if fship %}
		                    		{% if fship.active %}
		                    			<a class="btn btn_friendship remove" alt="Cancelar" href="#" friendshipId="{{ fship.id }}">Dejar de Seguir</a>
		                    		{% else %}
		                    			<a class="btn btn_friendship remove" alt="Cancelar" href="#" friendshipId="{{ fship.id }}">Cancelar Solicitud</a>
		                    		{% endif %}
		                    	{% endif %}
		                    {% endif %}
	                    
	                        <h1>
	                            {{ user }}
	                            {% if user.level %}
	                            	{% thumbnail user.level.image, 'small_square' with {class:'userAvatar', title: user.level.title, alt: user.level.title} %}
	                            {% endif %}
	                        </h1>
                        
                        {% block profile_tabs %}
                        {% if active_tab is not defined %}
                        	{% set active_tab = '' %}
                        {% endif %}
                        <div class="tabs clearfix">
                            {% if user == app.user %}<a class="btn_edit_info" href="{{ path('fos_user_profile_edit') }}" title="Editar informacion">Editar informacion</a>{% endif %}
                            <ul>
                                <li><a {% if active_tab == 'wall' %}class="active"{% endif %} href="{{ path('user_wall', {username: user.username}) }}">Muro</a></li>
                                <li><a {% if active_tab == 'photos' %}class="active"{% endif %} href="{{ path('user_photos', {username: user.username}) }}">{{ 'Photos'|trans }}</a></li>
                                <li><a {% if active_tab == 'videos' %}class="active"{% endif %} href="{{ path('video_user', {username: user.username}) }}">Videos</a></li>
                                <li><a {% if active_tab == 'detail' %}class="active"{% endif %} href="{{ path('user_detail', {username: user.username}) }}">Informacion</a></li>
                            </ul>
                        </div>
                        {% endblock %}
                    {% endblock %}
                    </div>
                    {% endblock %}
                </div>
                {% block user_profile_body %}
	                <div class="user_profile_body">
	                {% block inner_content %}
	                {% endblock %}
	                </div>
                {% endblock %}
{% endblock %}

{% block rightbar %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            friendship.init();
        });
    </script>
{% endblock %}