{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - {{ user }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/friendship.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
                <div class="row-fluid">
                    <div class="span1">
                        {% thumbnail user.image, 'small_square' %}
                    </div>
                    <div class="span7">
                        <a href="#">Configuración de Cuenta</a>
                        <h1>{{ user }}</h1>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">Cuenta</a></li>
                            <li><a href="#">Perfil</a></li>
                            <li><a href="#">Contraseña</a></li>
                            <li><a href="#">Notificaciones</a></li>
                            <li><a href="#">Intereses</a></li>
                            <li><a href="#">Privacidad</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span7">
                        <p class="bold">Tus Datos Personales:</p>
                    </div>
                    <div class="span1">
                        <a href="#">Editar</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        <dl class="dl-horizontal">
                            <dt>Usuario</dt>
                                <dd><strong>{{ app.user.username }}</strong> ({{ path('user_wall', {'username':app.user.username}) }})</dd>
                            <dt>Email</dt>
                                <dd>{{ app.user.email }}</dd>
                            <dt>Dirección</dt>
                                <dd>{{ app.user.address }}</dd>
                            <dt>Nombre</dt>
                                <dd>{{ app.user.firstname }}</dd>
                            <dt>Apellido</dt>
                                <dd>{{ app.user.lastname }}</dd>
                            <dt>Género</dt>
                                <dd>{{ app.user.sex }}</dd>
                            <dt>Fecha Nac.</dt>
                                <dd>{{ app.user.birthday|date() }}</dd>
                            <dt>Ciudad, Pais</dt>
                                <dd>{{ app.user.city }}, {{ app.user.country }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="row-fluid marginTop10">
                    <div class="span7">
                        <p class="bold">Sobre mi:</p>
                    </div>
                    <div class="span1">
                        <a href="#">Editar</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span7">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>
                <div class="row-fluid marginTop10">
                    <div class="span2">
                        <em>Modo restringido:</em>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2">
                            <button class="btn floatLeft" data-toggle="button">Activar</button>
                            <i class="icon-question-sign"></i>
                    </div>
                </div>
                <div class="row-fluid marginTop10">
                    <div class="span3">
                        <ul>
                            <li class="clearfix">
                                <img src="{{ asset("bundles/dodicifansworldweb/images/tw-logo.png") }}" alt="Twitter" class="floatLeft margin"/>
                                <span>Vincular con twitter: </span><span>usuarioTwitter</span><a href="#" class="floatRight">Editar</a>
                            </li>
                            <li class="clearfix">
                                <img src="{{ asset("bundles/dodicifansworldweb/images/tw-fb.png") }}" alt="Twitter" class="floatLeft"/>
                                <span>Vincular con facebook: </span><span>usuarioFb</span><a href="#" class="floatRight">Editar</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
                <div class="user_profile_head profile_head clearfix">
                	{% block profile_head %}
                	{% block avatar_container %}
		                    <div class="avatar">
		                    	{% block avatar_content %}
		                    		{% set avatar_format = 'small_square' %}
			                    	{% if user == app.user %} 
			                        <a class="change_image" href="{{ path('user_change_image') }}">{{ 'Change'|trans }}</a>
			                        {% endif %}
			                        {% if user.image %}
			                        	{% thumbnail user.image, avatar_format %}
			                        {% else %}
			                        	<img src="{{ asset('bundles/dodicifansworldweb/images/user_pic.jpg' )}}" />
			                        {% endif %}
		                        {% endblock %}
		                    </div>
                    {% endblock %}
                    <div class="user_info"> 
                    {% block profile_info %}
                    
                    	
	                        {% set fship = appstate.friendshipwith(user) %}
		                    {% if appstate.canfriend(user) and fship is null %}
	                                <div class="addFriend" targetId="{{ user.id }}">
	                                    <a class="btn btn_friendship add" href="#">Seguir{% if user.restricted %} (solicitar){% endif %}</a>
	                                    {% if friendgroups|length > 0 %}
	                                        <ul class="friendgroupsList">
	                                            {% for friendgroup in friendgroups %}
	                                                <li id="{{ friendgroup.id }}">
	                                                    <input type="checkbox" id="friendgroup[{{ friendgroup.id }}]" name="friendgroup[{{ friendgroup.id }}]" value="{{ friendgroup.id }}"/>
	                                                    <label for="friendgroup[{{ friendgroup.id }}]">{{ friendgroup.title }}</label>
	                                                </li>
	                                            {% endfor %}
	                                        </ul>
	                                    {% endif %}
	                                </div>
		                    {% else %}
		                    	{% if fship %}
		                    		{% if fship.active %}
		                    			<a class="btn btn_friendship remove" alt="Cancelar" href="#" friendshipId="{{ fship.id }}">Dejar de Seguir</a>
		                    		{% else %}
		                    			<a class="btn btn_friendship remove" alt="Cancelar" href="#" friendshipId="{{ fship.id }}">Cancelar Solicitud</a>
		                    		{% endif %}
		                    	{% endif %}
		                    {% endif %}
	                    
	                        <h1>
	                            {{ user }}
	                            {% if user.level %}
	                            	{% thumbnail user.level.image, 'small_square' with {class:'userAvatar', title: user.level.title, alt: user.level.title} %}
	                            {% endif %}
	                        </h1>
                        
                        {% block profile_tabs %}
                        {% if active_tab is not defined %}
                        	{% set active_tab = '' %}
                        {% endif %}
                        <div class="tabs clearfix">
                            {% if user == app.user %}<a class="btn_edit_info" href="{{ path('fos_user_profile_edit') }}" title="Editar informacion">Editar informacion</a>{% endif %}
                            <ul>
                                <li><a {% if active_tab == 'wall' %}class="active"{% endif %} href="{{ path('user_wall', {username: user.username}) }}">Muro</a></li>
                                <li><a {% if active_tab == 'photos' %}class="active"{% endif %} href="{{ path('user_photos', {username: user.username}) }}">{{ 'Photos'|trans }}</a></li>
                                <li><a {% if active_tab == 'videos' %}class="active"{% endif %} href="{{ path('video_user', {username: user.username}) }}">Videos</a></li>
                                <li><a {% if active_tab == 'detail' %}class="active"{% endif %} href="{{ path('user_detail', {username: user.username}) }}">Informacion</a></li>
                            </ul>
                        </div>
                        {% endblock %}
                    {% endblock %}
                    </div>
                    {% endblock %}
                </div>
                {% block user_profile_body %}
	                <div class="user_profile_body">
	                {% block inner_content %}
	                {% endblock %}
	                </div>
                {% endblock %}
                -->
{% endblock %}

{% block rightbar %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            friendship.init();
        });
    </script>
{% endblock %}