{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block user_profile_body %}
	{% block user_edit_toolbar %}
		{% if current_edit_toolbar is not defined %}
			{% set current_edit_toolbar = 'profile' %}
		{% endif %}
		<div class="profile_edit_toolbar">
			<a {% if current_edit_toolbar == 'profile' %}class="current"{% else %}href="{{ path('fos_user_profile_edit') }}"{% endif %}>
		        <img src="{{ asset('bundles/dodicifansworldweb/images/ui/id-card.png' ) }}" alt="Modificar Perfil" title="Modificar Perfil" class="edit-profile-icon" />
		    </a>
	       	<a {% if current_edit_toolbar == 'password' %}class="current"{% else %}href="{{ path('fos_user_change_password') }}"{% endif %}>
	       		<img src="{{ asset('bundles/dodicifansworldweb/images/ui/change-password-icon.png' ) }}" alt="Cambiar Contraseña" title="Cambiar Contraseña" class="change-password-icon" />
	       	</a>
	       	<a {% if current_edit_toolbar == 'notifications' %}class="current"{% else %}href="{{ path('notification_preferences') }}"{% endif %}>
	       		<img src="{{ asset('bundles/dodicifansworldweb/images/ui/notification-email.png' ) }}" alt="Preferencias de Envío de Mails de Notificaciones" title="Preferencias de Envío de Mails de Notificaciones" class="notification-mail-prefs-icon" />
	       	</a>
	       	<a {% if current_edit_toolbar == 'interests' %}class="current"{% else %}href="{{ path('interest_edit') }}"{% endif %}>
	       		<img src="{{ asset('bundles/dodicifansworldweb/images/ui/interests-icon.png' ) }}" alt="Intereses" title="Intereses" class="interests-icon" />
	       	</a>
		</div>
	{% endblock %}
	{{ parent() }}
<script type="text/javascript">
    function validateProfile(email, username){
        ajax.genericAction('profile_validate', {
            'username': username,
            'email': email
        }, function(r){
            console.log(r);
        });
    }
</script>
{% endblock %}