{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Registro{% endblock %}

{% block content %}
<div class="top">
    <div class="wrap">
        <div class="users">Ya somos <strong>25.352</strong> miembros <a class="btn" href="registro.php">Sumate</a></div>
        <div class="social">
            <ul>
                <li><a href="#1">Espa&ntilde;ol</a>
                    <ul>
                        <li><a href="#1">Ingles</a></li>
                        <li><a href="#1">Portugues</a></li>
                    </ul>
                </li>
            </ul>
            <div class="redes">
                <a href="#1" title="Facebook"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_facebook.png' )}}"></a>
                <a href="#1" title="Twitter"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_twitter.png' )}}"></a>
                <a href="#1" title="Feed Rss"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_rss.png' )}}"></a>
            </div>
        </div>
    </div>
</div><div class="wrap">
    <div class="header">
        <div class="logo"><a href="index.php"><img src="{{ asset('bundles/dodicifansworldweb/images/fansworld.png' )}}" alt="Fansworld" /></a></div>
        <div class="search">
            <input type="text" value="Buscar" />
            <ul>
                <li><a href="search.php">Todo</a>
                    <ul>
                        <li><a href="search.php">Idolos</a></li>
                        <li><a href="search.php">Fans</a></li>
                        <li><a href="search.php">Noticias</a></li>
                        <li><a href="search.php">Videos</a></li>
                        <li><a href="search.php">Fotos</a></li>
                        <li><a href="search.php">Foros</a></li>
                    </ul>
                </li>
            </ul>
            <input class="btn_search" name="" type="button" />
        </div>
    </div>
    <div class="navy">
        <ul>
            <li><a class="current" href="index.php"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_home.png' )}}" /></a></li>
            <li><a href="idols.php">Idolos</a></li>
            <li><a href="fans.php">Fans</a></li>
            <li><a href="tv.php">TV</a></li>
            <li><a href="photos.php">Fotos</a></li>
            <li><a href="contests.php">Concursos</a></li>
            <li><a href="philanthropy.php">Filantropia</a></li>
            <li class="alerts_user"><a href="#1"><span>13</span></a>
                <ul>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="more"><a href="#1">15 notificaciones mas</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="content clearfix">
            <div class="col_160 left margin">
                <div class="cont clearfix">
                    <h2>Login</h2>
                    <form class="login">
                        <label> <span>Email</span>
                            <input name="" type="text" />
                        </label>
                        <label> <span>Password</span>
                            <input name="" type="password" />
                        </label>
                        <label>
                            <div class="recordar">
                                <input name="" type="checkbox" value="" />
                                Recordarme</div>
                        </label>
                        <a class="btn" href="index_usuario.php">Ingresar</a>
                    </form>
                    <div class="login_error">
                        <span>Error de ingreso </span>
                        <a href="#1">Recuperar mis datos</a>
                    </div>
                </div>
                <div class="ad">
                    <div class="banner_demo" style="height:600px"></div>
                </div>
            </div>
            <div class="col_468 left margin">
                <div class="cont clearfix">
                    <h2>Registro </h2>
                    <form class="register clearfix">
                        <div class="registerOnFacebook">
                            <span>Puedes registrarte con tu cuenta de Facebook.</span>
                            <div class="fb-login-button">Registrarme usando facebook</div>
                        </div>

                        <table>
                            <tr>
                                <td class="campo">Nombre</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Apellido</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Pais</td>
                                <td class="dato">
                                    <select name="" class="oneSelect">
                                        <option>Argentina</option>
                                    </select>
                                    <label>Phasellus</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Provincia</td>
                                <td class="dato">
                                    <select name="" class="oneSelect">
                                        <option>Provincia de Buenos Aires</option>
                                    </select>
                                    <label>Phasellus</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Fecha de nacimiento</td>
                                <td class="dato">
                                    <select name="">
                                        <option>21</option>
                                    </select>
                                    <select name="">
                                        <option>Marzo</option>
                                    </select>
                                    <select name="">
                                        <option>1986</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Email</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Repite su email</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Contraseña</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="campo">Repite tu contraseña</td>
                                <td class="dato">
                                    <input type="text" size="28" />
                                    <label>Phasellus tortor mauris rutrum eget</label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" height="30">
                                    <input name="" type="checkbox" value="" class="floatLeft"/>
                                    <label>Acepto los<a href="·1"> Términos y condiciones</a> de FansWorls.com</label>
                                </td>
                            </tr>
                        </table>
                        <a class="btn_action" href="#1">Registrarme</a>
                    </form>
                </div>
            </div>
            <div class="col_300 left">
                <div class="cont clearfix">
                    <h2>Top idolos <a class="more" href="#1">ver todos</a></h2>
                    <div class="grid_users">
                        <ul class="users">
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="access"><a href="#1" title="Encuentra a tus idolos"><img src="{{ asset('bundles/dodicifansworldweb/images/encuentra.gif' )}}" width="300" height="61" /></a></div>
                <div class="ad">
                    <div class="banner_demo" style="height:250px"></div>
                </div>
                <div class="cont clearfix">
                    <h2>Top Fans <a class="more" href="#1">ver todos</a></h2>
                    <div class="grid_users">
                        <ul class="users">
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                            <li class="user">
                                <a href="user_profile.php">
                                    <span class="tooltip">
                                        <h3 class="name">Javier Pastore</h3>
                                        <span class="fans">1523 fans</span>
                                    </span>
                                    <img src="{{ asset('bundles/dodicifansworldweb/demo/user7.jpg' )}}" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="loguito"><img src="{{ asset('bundles/dodicifansworldweb/images/loguito.png' )}}" /></div>
            <ul>
                <li>Sobre FansWorld</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
            <ul>
                <li>Terminos</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
            <ul>
                <li>Publicidad</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}