{% extends "DodiciFansworldWebBundle::web.html.twig" %}

{% block title %}{{ parent() }} - Búsqueda{% endblock %}

{% block content %}

<div class="top">
    <div class="wrap">
        <div class="users">Ya somos <strong>25.352</strong> miembros <a class="btn" href="registro.php">Sumate</a></div>
        <div class="social">
            <ul>
                <li><a href="#1">Espa&ntilde;ol</a>
                    <ul>
                        <li><a href="#1">Ingles</a></li>
                        <li><a href="#1">Portugues</a></li>
                    </ul>
                </li>
            </ul>
            <div class="redes">
                <a href="#1" title="Facebook">
                    <img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_facebook.png' )}}">
                </a>
                <a href="#1" title="Twitter">
                    <img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_twitter.png' )}}">
                </a>
                <a href="#1" title="Feed Rss">
                    <img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_rss.png' )}}">
                </a>
            </div>
        </div>
    </div>
</div><div class="wrap">
    <div class="header">
        <div class="logo"><a href="index.php"><img src="{{ asset('bundles/dodicifansworldweb/images/fansworld.png' )}}" alt="Fansworld" /></a></div>
        <div class="search">
            <form method="post" action="" >
                <input type="text" name="query" value="" id="query"/>
                <input type="button" value="Buscar" name="submit" class="hidden"/>
            </form>
            <ul>
                <li><a href="search.php">Todo</a>
                    <ul>
                        <li><a href="search.php">Idolos</a></li>
                        <li><a href="search.php">Fans</a></li>
                        <li><a href="search.php">Noticias</a></li>
                        <li><a href="search.php">Videos</a></li>
                        <li><a href="search.php">Fotos</a></li>
                        <li><a href="search.php">Foros</a></li>
                    </ul>
                </li>
            </ul>
            <input class="btn_search" name="" type="button" />
        </div>
    </div>
    <div class="navy">
        <ul>
            <li><a class="current" href="index.php"><img src="{{ asset('bundles/dodicifansworldweb/images/ui/ico_home.png' )}}" /></a></li>
            <li><a href="idols.php">Idolos</a></li>
            <li><a href="fans.php">Fans</a></li>
            <li><a href="tv.php">TV</a></li>
            <li><a href="photos.php">Fotos</a></li>
            <li><a href="contests.php">Concursos</a></li>
            <li><a href="philanthropy.php">Filantropia</a></li>
            <li class="alerts_user"><a href="#1"><span>13</span></a>
                <ul>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="clearfix">
                        <img class="avatar" src="{{ asset('bundles/dodicifansworldweb/demo/user8.jpg' )}}" width="40" height="40" />
                        <span class="info">
                            <a href="user_profile.php">Rodrigo Ramirez</a> 
                            <span>
                                Te quiere agregar como amigo<br />
                                <a href="#1">rechazar</a>
                            </span>
                        </span>
                        <div class="button"><a href="#1">Aceptar</a></div>
                    </li>
                    <li class="more"><a href="#1">15 notificaciones mas</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="content clearfix">
            <div class="col_160 left margin">
                <div class="cont clearfix">
                    <div class="user_menu">

                        <div class="user clearfix">
                            <div class="avatar"><img src="{{ asset('bundles/dodicifansworldweb/demo/user6.jpg' )}}" width="50" height="50" /></div>
                            <div class="name">Carlos Aguilar <a href="index.php">Salir</a></div>
                        </div>
                        <ul>
                            <li class="active"><a class="user_n1" href="user_profile.php">Mi perfil</a></li>
                            <li><a class="user_n2" href="user_fans.php">Fans</a></li>
                            <li><a class="user_n3" href="user_albums.php">Fotos</a></li>
                            <li><a class="user_n4" href="user_videos.php">Videos</a></li>
                            <li><a class="user_n5" href="user_contests.php">Mis concursos</a></li>
                            <li><a class="user_n6" href="user_philanthropy.php">Mis causas</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ad">
                    <div class="banner_demo" style="height:600px"></div>
                </div>
            </div>
            <div class="col_468 left margin">
                <div class="cont clearfix">
                    <h2>Top Fans</h2>
                    <div class="user_list">
                        <div class="search">
                            <form method="post" action="" >
                                <input type="text" name="query" value="" id="query"/>
                                <input type="button" value="Buscar" name="submit" id="search" class="hidden"/>
                            </form>
                        </div>
                        <div class="mask">
                            <ul class="listMosaic"> 
                                <li>
                                    <a href="user_profile.php">
                                        <div class="avatar"><img src="{{ asset('bundles/dodicifansworldweb/demo/user6.jpg' )}}" width="50" height="50" /></div>
                                        <div class="info">
                                            <h3>Carlos Aguilar</h3>
                                            <span>
                                                <strong>235</strong> fans<br />
                                                <strong>235</strong> idolos 
                                            </span> 
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="paginador">
                    <a href="#" id="addMore" class="hidden">Agregar más</a>
                </div>
            </div>
            <div class="col_300 left">
                <div class="ad"> <img src="{{ asset('bundles/dodicifansworldweb/images/encuentra.gif' )}}" width="300" height="61" /></div>
                <div class="ad">
                    <div class="banner_demo" style="height:250px"></div>
                </div>
                <div class="ad">
                    <div class="banner_demo" style="height:120px"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="loguito"><img src="{{ asset('bundles/dodicifansworldweb/images/loguito.png' )}}" /></div>
            <ul>
                <li>Sobre FansWorld</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
            <ul>
                <li>Terminos</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
            <ul>
                <li>Publicidad</li>
                <li><a href="page.php">Quienes Somos</a></li>
                <li><a href="page.php">Como funciona</a></li>
                <li><a href="page.php">Registro</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="templates hidden">
    <ul class="listMosaic">
        <li class="element">
            <a href="user_profile.php">
                <div class="avatar">
                    <img src="demo/user6.jpg" width="50" height="50" />
                </div>
                <div class="info">
                    <h3 class="name">Carlos Aguilar</h3>
                    <span>
                        <strong class="">235</strong> fans<br />
                        <strong>235</strong> idolos 
                    </span> 
                </div>
            </a>
        </li>
    </ul>
</div>
{% endblock %}
