{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% block title %}{{ parent() }} - {{ album.title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/albums.js') }}" type="text/javascript"></script>
{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'photos' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
{{ parent() }}
<div class="pull-right">
    {% include 'DodiciFansworldWebBundle:Default:blocks/button_upload.html.twig'  with { 'type': 'photo' }%}
</div>
    
{% include 'DodiciFansworldWebBundle:Photo:blocks/album_montage.html.twig'  %}

{% include 'DodiciFansworldWebBundle:Comment:blocks/box.html.twig' with {entity: album} %}
    
<script type="text/javascript">
    site.startMosaic($('.am-container'), {margin : 0});
    $(document).ready(function(){
        albums.init();
    });
</script>
{% endblock %}
