{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Muro{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'wall' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
	{% if (user == app.user) %}
        <div class="update clearfix"> 
            <span></span> 
            <div class="upd_option clearfix"> 
                <a class="btn_picture btn_upload_photo" href="{{ path('photo_fileupload') }}">cargar imagen</a>
                <a class="btn_picture btn_upload_video" href="{{ path('video_fileupload') }}">cargar video</a> 
            </div>    
        </div>
    {% endif %}
{% endblock %}

{% block inner_content %}
            <div class="cont clearfix">
                {% include 'DodiciFansworldWebBundle:Comment:comment_block.html.twig' with {entity: user} %}
            </div>
{% endblock %}