{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main %}
    {% set fullwidth = true %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="home-content list-highlighted">
        <h2>Videos destacados de <strong>Fansworld.TV</strong></h2>

        <section class="row-fluid">
            <div class="videos-container clearfix">
                {% for video in videos %}
                    <article class="video">
                        <div class="image">
                            <a class="title" href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                                {% thumbnail video.image, 'home_video' with {'title': video.title} %}
                            </a>
                            <span class="duration">{{ video.duration|date("i:s") }}</span>
                            <i class="ico-watchlater" data-login-required data-watch-later
                               data-video-id="{{ video.id }}" data-later="false" rel="tooltip" title="Watch later"></i>
                            <a class="title" href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}"
                               data-modal-url="{{ path('modal_media', {'type':'video', 'id': video.id}) }}">
                                <i class="ico-channels" rel="tooltip" title="Quick view" data-placement="bottom"></i>
                            </a>
                        </div>
                        <div class="info">
                            <a class="title"
                               href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}"">{{ video.title }}</a>
                            <span class="author">de <a
                                        href="{{ path('user_land', {'username': video.author.username}) }}">{{ video.author.username }}</a></span>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                {% endfor %}
            </div>
            {% if addMore %}
                <div class="add-more" data-load-more=".videos-container">+</div>
            {% endif %}
        </section>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var page = 1;
            $("[data-load-more]").click(function (e) {
                var $self = $(this);
                var destiny = $(this).data('load-more');
                page++;

                $self.addClass('rotate');
                ajax.genericAction('home_ajaxfwlist', {
                    'page': page
                }, function (r) {
                    var videos = r.videos;
                    var totalVideos = videos.length;

                    if(!r.addMore){
                        $self.remove();
                    }

                    if (totalVideos > 0) {
                        for (i in videos) {
                            var video = videos[i];

                            $.when(templateHelper.htmlTemplate('video-home_element', video))
                                    .then(function (response) {
                                        $(destiny).append(response);
                                        totalVideos--;
                                        if (totalVideos == 0) {
                                            $self.removeClass('rotate');
                                        }
                                    });
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}