{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block header %}
    {% set section_selected = 'home' %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% set fullwidth = true %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/fw.ui.home.js') }}" type="text/javascript"></script>
{% endblock %}

{% block main_content %}
    <div class="home-content">
        {% if userCategories|length >=1 %}
            {% for uCat in userCategories %}
                <ul id="sortable1" class="filter-home connectedSortable">
                    <li data-entity-type="genre" data-entity-id = "{{ uCat.id }}">{{ uCat.title }}</li>
                </ul>
            {% endfor %}
        {% else %}            
        <ul id="sortable1" class="filter-home connectedSortable">
            <li class="active" data-entity-type="null" data-entity-id="null">TODOS</li>
            {% for genre in genres %}
                <li data-entity-type="genre" data-entity-id = "{{ genre.id }}">{{ genre.title }}</li>
            {% endfor %}
            {% for category in categories %}
                <li data-entity-type="vc" data-entity-id = "{{ category.id }}">{{ category.title }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <button class="edit-filters" data-original-title="Editar"><i class="icon-cog"></i></button>

        <div class="filter-container">
          <div class="center"><h4 class="menu-title">CATEGORIAS</h4></div>
            {% for genre in genres %}
                <ul class="filter-menu hidden" data-entity-type="genre" data-parent-entity-genre-title="{{ genre.title }}" data-parent-entity-id="{{ genre.id }}">            
                    {% for child in genre.children %}
                        <li data-entity-type="genre" data-entity-id="{{ child.id }}"><i class="option unchecked hidden"></i>{{ child.title }}</li>
                    {% endfor %}
                </ul>                
            {% endfor %}
            {% for category in categories %}
                <ul class="filter-menu hidden" data-entity-type="vc" data-parent-entity-title="{{ category.title }}" data-parent-entity-id="{{ category.id }}">
                {% for genre in category.genres %}
                    <li data-entity-type="genre" data-entity-id="{{ genre.id }}" data-video-category="{{ category.id }}"><i class="option unchecked hidden"></i>{{ genre.title }}</li>
                {% endfor %}
                </ul>
            {% endfor %}


            <ul id="sortable2" class="hero-menu-editor connectedSortable active hidden">            
            {% for genre in genres %}            
                {% for child in genre.children %}
                    <li data-entity-type="genre" data-entity-id="{{ child.id }}"><i class="option unchecked hidden"></i>{{ child.title }}</li>
                {% endfor %}
            {% endfor %}
            {% for category in categories %}
                {% for genre in category.genres %}
                    <li data-entity-type="genre" data-entity-id="{{ genre.id }}" data-video-category="{{ category.id }}"><i class="option unchecked hidden"></i>{{ genre.title }}</li>
                {% endfor %}
            {% endfor %}
            </ul>


        </div>

        <div class="highlights-container">
            <section class="row-fluid gray highlights hidden" id="home-gallery">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                {% for video in highlighted%}
                    {% if loop.index == 2 %}
                        {% include "DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig"  with { video: video, 'image_size': 'home_video_double', extra_classes: 'double'} %}
                    {% else %}
                        {% include "DodiciFansworldWebBundle:Video:blocks/video_std_block.html.twig"  with { video: video } %}
                    {% endif %}
                {% endfor %}                
            </section>
            <a href="{{ path('home_fwlist') }}">Ver más</a>
        </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and totals.followed >= 1 %}
            <section class="row-fluid followed">
                <header class="clearfix">
                    <h3 class="pull-left">Sigues</h3>
                    <span class="cant pull-left"><span data-total-followed>{{ totals.followed }}</span> videos</span>

                    <section class="pull-right followed-tags topics">
                        <ul class="pull-right"></ul>
                        <h3 class="pull-right">Temas</h3>
                    </section>
                </header>
                <div class="semantic-grid videos-container">
                    {% include "DodiciFansworldWebBundle:Search:blocks/video_element_list.html.twig"  with { videos: followed } %}
                </div>
                <div class="clearfix"></div>
                <div class="add-more">+</div>
            </section>
        {% endif %}

        <section class="row-fluid gray popular">
            <header class="clearfix">
                <h3 class="pull-left">Popular</h3>
                <span class="cant pull-left"><span data-total-popular>{{ totals.popular }}</span> videos</span>

                <section class="pull-right popular-tags topics">
                    <ul class="pull-right"></ul>
                    <h3 class="pull-right">Temas</h3>
                </section>
            </header>
            <div class="semantic-grid videos-container">
                {% include "DodiciFansworldWebBundle:Search:blocks/video_element_list.html.twig"  with { videos: popular } %}
            </div>
            <div class="clearfix"></div>
            <div class="add-more">+</div>
        </section>

        <div class="spinner hidden"><div class="mask"></div></div>
    </div>

    {% if confirmedModal %}
        <div id="confirmedModal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Bienvenido a Fansworld.TV</h3>
            </div>
            <div class="modal-body">
                <p class="systemmessage">{{ 'registration.confirmed'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
                <p>Ya podes empezar a disfrutar y conectarte con fanáticos como vos.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Continuar</a>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#confirmedModal").modal('show');
            });
        </script>
    {% endif %}
{% endblock %}