{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block header %}
    {% set section_selected = 'home' %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% set fullwidth = true %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--script src="{{ asset('bundles/dodicifansworldweb/js/home.js') }}" type="text/javascript"></script-->

    <script>
    $(document).ready(function () {

        var $container = $('section.highlights');
        $('.video').css({
            'width': '16%',
            'height': '160px',
            'margin-top': '5px',
            'margin-bottom': '5px',
            'border': '1px solid #333',
            'border-radius': '4px',
            'overflow': 'hidden'
        });
        $('.video.double').css({
            'width': '32.5%',
            'height': '332px'
        });
        $('.video img').css({
            'width': '100%',
            'height': '100%'
        });
        // initialize Isotope
        $container.isotope({
            // options...
            itemSelector: '.video',
            resizable: false, // disable normal resizing
            // set columnWidth to a percentage of container width
            masonry: { columnWidth: $container.width() / 6 }
        });

        // update columnWidth on window resize
        $(window).smartresize(function(){
        $container.isotope({
            // update columnWidth to a percentage of container width
            masonry: { columnWidth: $container.width() / 6 }
            });
        });
    });
    </script>
{% endblock %}

{% block main_content %}
<div class="home-content">
    
    <ul class="filter-home">
        {% for category in categories %}
            <li {% if loop.first %}class="active"{% endif %} data-category-id = "{{ category.id }}">{{ category.title }}</li>
        {% endfor %}
        <li><i class="icon-cog"></i></li>
    </ul>
    
    <section class="row-fluid gray highlights">
        {% for video in testvideos %}
            {% if loop.index == 2 %}
                <article class="video double" >
                    <img title="XX1" src="http://lorempixel.com/400/400/sports/1">
            {% else %}
                <article class="video" >
                    <img title="XX1" src="http://lorempixel.com/200/200/sports/2">
            {% endif %}
                <!-- article class="video" -->
                    {#
                    {% if loop.index == 2 %}
                        {% thumbnail video.image, 'home_video_double' %}
                    {% else %}
                        {% thumbnail video.image, 'home_video' %}
                    {% endif %}
                    #}
                    <!-- img title="XX1" src="http://lorempixel.com/200/200/sports/1" -->
                </article>
        {% endfor %}    
    </section>
    
    <section class="row-fluid">
        <header class="clearfix">
            <h3 class="pull-left">Sigues</h3>
            <span class="cant pull-left">30 videos</span>
            
            <section class="pull-right topics">
                <ul class="pull-right">
                    <li>Dalma Maradona</li>
                    <li>Dalma Maradona</li>
                    <li>Dalma Maradona</li>
                </ul>
                <h3 class="pull-right">Temas</h3>
            </section>
        </header>
        <div class="videos-container">
            {% for video in testvideos %}
                <article class="video" data-loop ="{{ loop.index }}">
                    {% thumbnail video.image, 'home_video' %}
                </article>
            {% endfor %}    
        </div>
    </section>
    
    <section class="row-fluid gray">
        <header class="clearfix">
            <h3 class="pull-left">Popular</h3>
            <span class="cant pull-left">30 videos</span>
            
            <section class="pull-right topics">
                <ul class="pull-right">
                    <li>Dalma Maradona</li>
                    <li>Dalma Maradona</li>
                    <li>Dalma Maradona</li>
                </ul>
                <h3 class="pull-right">Temas</h3>
            </section>
        </header>
        <div class="videos-container">
            {% for video in testvideos %}
                <article class="video" data-loop ="{{ loop.index }}">
                    {% thumbnail video.image, 'home_video' %}
                </article>
            {% endfor %}    
        </div>
    </section>
</div>
    {#
    <header class="home-header">
        <h1 class="title">Accede a <b>contenido exclusivo</b> y <b>comparte</b> tu pasión.</h1>

        <div class="center-container">
            <ul class="sections">
                {% for cat in categories %}
                    <li {% if loop.first %}class="active"{% endif %} data-category-id = "{{ cat.id }}">{{ cat.title }}</li>
                {% endfor %}
            </ul>

            <div class="category-container">
                {% set c = 0%}
                {% for cat in categories %}
                    {% set c = c+1 %}
                    {% set video = videos[cat.id] %}
                    {% if video %}
                    <div data-category-id="{{ cat.id }}" {% if not loop.first %} class="hidden" {% endif %} >
                        
                        {% if video.splash %}
                            {% thumbnail video.splash, 'home_splash' with {'title': ''} %}
                        {% else %}
                            {% thumbnail video.image, 'home_splash' with {'title': ''}%}
                        {% endif %}
                        
                        {% if video %}
                            <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}"><i class="play-video"></i></a>
                        {% endif %}
                            
                        <div class="content-container">
                            <h1>Canal: {{ cat.title }}</h1>

                            {% if video %}
                                <h2>{{ video.title }}</h2>
                                <p>{{ video.content }}</p>
                            {% endif %}

                            <a href="{{ path('teve_home') }}#{{cat.title}}"><button class="explore" >Explorar</button></a>

                            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a href="{{ path('fos_user_registration_register') }}"><button class="register">Registrarse</button></a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <ul class="tabs" {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} data-user-logged="true" {% else %} data-user-logged = "false" {% endif %}>
            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li id="tab-enjoy" class="active" data-type-tab="enjoy" ><a href="#tab-enjoy">Disfruta</a></li>
                <li id="tab-connect" data-type-tab="connect" ><a href="#tab-connect">Conectate</a></li>
                <li id="tab-participate" data-type-tab="participate" ><a href="#tab-participate">Participa</a></li>
            {% else %}
                <li id="tab-activityFeed" class="active" data-type-tab="activityFeed"><a href="#tab-activityFeed">Actividad</a></li>
                <li id="tab-popular" data-type-tab="popularFeed"><a href="#tab-popular">Popular</a></li>
            {% endif %}
        </ul>
    </header>

    <section class="home-content">
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            {% include 'DodiciFansworldWebBundle:Home:blocks/not_logged_tabs.html.twig' %}

        {% else %}
            <!-- ACTIVIDAD -->
            <section class="content-container" data-type-tab="activityFeed">
                <div class="tags clearfix">
                    <div class="pull-left">
                        <span class="label active" data-feed-filter="0">Todos</span>
                        <span class="label" data-feed-filter="1">Idolos</span>
                        <span class="label" data-feed-filter="2">Equipos</span>
                        <span class="label" data-feed-filter="3">Fans</span>
                    </div>
                </div>
                <div id="elements" class="isotope_container row" style="width: 70%; float: left; margin-left: 0px;"></div>
                <section class="span3">
                    <h3>Actividad reciente</h3>
                    <ul>
                        {% for user in friendUsers %}
                            <li>{% thumbnail user.image, 'avatar' with {'title': ''}%} {{ user }} es amig@ de richard y george</li>
                        {% endfor %}
                    </ul>
                </section>
            </section>

            <!-- POPULAR -->
            <section class="content-container" data-type-tab="popularFeed">
                <div id="elements" class="isotope_container row"></div>
            </section>
        {% endif %}
    </section>
    #}
{% endblock %}