{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block main_content %}
    <section id="hometesting">
        <h1>Home testing (caché de 60 segundos)</h1>
        
        <section>
            <h2>Users</h2>
            <ul>
            {% for user in users %}
                <li><a href="{{ path('user_wall', { username: user.username }) }}">{{ user }}</a></li>
            {% endfor %}
            </ul>
        </section>
        
        <section>
            <h2>Teams</h2>
            <ul>
            {% for team in teams %}
                <li><a href="{{ path('team_wall', { slug: team.slug }) }}">{{ team.shortname }}</a></li>
            {% endfor %}
            </ul>
        </section>
        
        <section>
            <h2>Idols</h2>
            <ul>
            {% for idol in idols %}
                <li><a href="{{ path('idol_wall', { slug: idol.slug }) }}">{{ idol }}</a></li>
            {% endfor %}
            </ul>
        </section>
        
        <section>
            <h2>Vídeos</h2>
            <ul>
            {% for video in videos %}
                <li><a href="{{ path('video_show', { id: video.id, slug: video.slug }) }}">{{ video }}</a></li>
            {% endfor %}
            </ul>
        </section>
        
    </section>
{% endblock %}