{% extends "DodiciFansworldWebBundle:Layout:one_column.html.twig" %}

{% block header %}
    {% set section_selected = 'home' %}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% set fullwidth = true %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/fw.ui.home.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/dodicifansworldweb/js/plugins/packery.pkgd.js') }}" type="text/javascript"></script>
{% endblock %}

{% block main_content %}
    <div class="home-content">
        <ul class="filter-home">
            <li class="active" data-entity-type="null" data-entity-id="null">TODOS</li>
            {% for genre in genres %}
                <li {#{% if loop.first %}class="active"{% endif %}#} data-entity-type="genre" data-entity-id = "{{ genre.id }}">{{ genre.title }}</li>
            {% endfor %}
            {% for category in categories %}
                <li data-entity-type="vc" data-entity-id = "{{ category.id }}">{{ category.title }}</li>
            {% endfor %}
            {#<li><i class="icon-cog"></i></li>#}
        </ul>

        <section class="row-fluid gray highlights" id="home-gallery">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div class="spinner hidden"><div class="mask"></div></div>
        </section>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <section class="row-fluid followed">
                <header class="clearfix">
                    <h3 class="pull-left">Sigues</h3>
                    <span class="cant pull-left"><span data-total-followed></span> videos</span>

                    <section class="pull-right followed-tags topics">
                        <ul class="pull-right"></ul>
                        <h3 class="pull-right">Temas</h3>
                    </section>
                </header>
                <div class="videos-container"></div>
                <div class="clearfix"></div>
                <div class="spinner hidden"><div class="mask"></div></div>
                <div class="add-more">+</div>
            </section>
        {% endif %}

        <section class="row-fluid gray popular">
            <header class="clearfix">
                <h3 class="pull-left">Popular</h3>
                <span class="cant pull-left"><span data-total-popular></span> videos</span>

                <section class="pull-right popular-tags topics">
                    <ul class="pull-right"></ul>
                    <h3 class="pull-right">Temas</h3>
                </section>
            </header>
            <div class="videos-container"></div>
            <div class="clearfix"></div>
            <div class="spinner hidden"><div class="mask"></div></div>
            <div class="add-more">+</div>
        </section>
    </div>
{% endblock %}