{% extends 'DodiciFansworldWebBundle:Notification:notification.base.html.twig' %}

{% block avatar %}
    {% set image = notification.author.image %}
    {{ parent() }}
{% endblock %}

{% block text %}
    <a class="notice-link" href="{{ path('user_wall', {username: notification.author.username }) }}">{{ notification.author }}</a> 
    <span class="notice-text" data-friendship-pending>quiere ser tu fan</span>
    
    {% if notification.friendship %}
	    <div style="display:inline" data-friendship-container  data-friendship-id="{{ notification.friendship.id }}">
	        <button class="btn" data-accept-friendship="{{ notification.friendship.id }}" value="Aceptar">Aceptar</buttton>
	        <button class="btn" data-reject-friendship="{{ notification.friendship.id }}" value="Cancelar">Cancelar</buttton>
	    </div>
    {% endif %}
{% endblock %}