{% set user = app.user %}
{% extends "DodiciFansworldWebBundle:User:profile_edit_base.html.twig" %}

{% use "DodiciFansworldWebBundle:Layout/Snippet:profile_inner_fullwidth.html.twig"  %}

{% form_theme form 'DodiciFansworldWebBundle::form.html.twig' %}

{% block title %}{{ parent() }} - Preferencias{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/dodicifansworldweb/js/edit_profile.js') }}" type="text/javascript"></script>
{% endblock %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'notifications' %}
	{{ parent() }}
{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'detail' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
    {{ parent() }}
	<h1>Seleccione las opciones</h1>
	<div class="row-fluid">
        <div class='span8'>
    		<form action="{{ path('notification_preferences') }}" method="post" enctype="multipart/form-data" class="notify-prefs">
    			<div class="form-notifyprefs fieldcontainer">
    				
    	        		<table class='table'>
                           <thead>
                               <th>Seleccione las opciones</th>
                               <th>En perfil</th>
                               <th>Mail</th>
                           </thead>
                           <tbody>
                                {% for preftype in preftypes|keys %}
                                    <tr>
                                      <td>{{ form_label(form.prefs[preftype]) }}</td>
                                      <td>{{ form_widget(form.prefs[preftype]) }}</td>
                                      <td>{{ form_widget(form.mails[preftype]) }}</td>
                                    </tr>
                                {% endfor %}
                          </tbody>
                        </table>
    			</div>
    	        <div class="actions clearfix">
    	        	<button type="submit" name="submit" class='btn btn-success'>Guardar</button>
    	        </div>
    		</form>
		</div>
		<div class='span4'>
            <section class='ayuda'>
                <h2><span class="circular">?</span>Ayuda</h2>
                <p>
                    Phasellus gravida porttitor tristique. Aenean nisl nulla, sagittis at mattis sit amet, tincid
                </p>
            </section>
		</div>
	</div>
	
{% endblock %}