{% set user = app.user %}
{% extends "DodiciFansworldWebBundle:User:profile_edit.html.twig" %}

{% form_theme form 'DodiciFansworldWebBundle::form.html.twig' %}

{% block title %}{{ parent() }} - Preferencias{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/dodicifansworldweb/js/edit_profile.js') }}" type="text/javascript"></script>
{% endblock %}

{% block user_edit_toolbar %}
	{% set current_edit_toolbar = 'notifications' %}
	{{ parent() }}
{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'detail' %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
	<h1>Notificar por mail</h1>
	<div class="greybox">
		<form action="{{ path('notification_preferences') }}" method="post" enctype="multipart/form-data" class="bigform notify-prefs">
			<div class="form-notifyprefs fieldcontainer">
				<ul class="fields">
	        		{{ form_widget(form) }}
	        	</ul>
			</div>
			
	        <div class="actions clearfix">
	        	<input type="submit" name="submit" value="Guardar" class="btn_action" />
	        </div>
		</form>
	</div>
{% endblock %}