{% extends "DodiciFansworldWebBundle:User:base.html.twig" %}

{% block title %}{{ parent() }} - {{ album.title }}{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'photos' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
{% endblock %}

{% block inner_content %}
<div class="row-fluid album-detail">
    <span class="title">
        <h4>{{ album.title }} ({{ album.photos|length }}) <a class="more" href="{{ path('user_listalbums', {username: user.username}) }}"> {{'Albums'|trans}}</a></h4>
    </span>

    <div class="am-container">
        {% for photo in album.photos %}
                {% if appstate.canview(photo) %}
                    <a href="{{ path('photo_show', {'id': photo.id, 'slug': photo.slug}) }}">{% thumbnail photo.image, 'medium' %}</a>
                {% endif %}
        {% endfor %}
    </div>

    <div class="clearfix"></div>

    <div class="content">
        <p>{{ album.content }}</p>
    </div>
</div>
<div class="clearfix"></div>
<div class="row-fluid">
    {% include 'DodiciFansworldWebBundle:Default:share.html.twig' with {entity: album} %}
</div>

{% include 'DodiciFansworldWebBundle:Comment:blocks/box.html.twig' with {entity: album} %}

{% endblock %}
