{% block field_label %}
{% spaceless %}
    <label for="{{ id }}">
    	{{ label|trans }}
    	{% if required %}
    		<span class="required" title="Campo requerido">*</span>
    	{% endif %}
    </label>
{% endspaceless %}
{% endblock field_label %}

{% block field_errors %}
	{% spaceless %}
	    {% if errors|length > 0 %}
	    <ul class="errors">
	        {% for error in errors %}
	            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
	        {% endfor %}
	    </ul>
	    {% endif %}
	{% endspaceless %}
{% endblock %}

{% block field_row %}
{% spaceless %}
	{% if form.haschildren %}
	<div class="unit">
		{{ form_widget(form) }}
	</div>
	{% else %}
    <li class="clearfix">
    	{{ form_label(form) }}
        <div class="field">
	        {{ form_widget(form) }}
	        {{ form_errors(form) }}
        </div>
    </li>
    {% endif %}
{% endspaceless %}
{% endblock field_row %}

{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        <ul {{ block('widget_container_attributes') }}>
        {% for child in form %}
        	<li class="clearfix">
        		{{ form_label(child) }}
            	<div class="field">
            		{{ form_widget(child) }}
            	</div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}