<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{% block title %}Fansworld{% endblock %}</title>
            
            {% block metatags %}
	            <meta property="og:image" content="{% block metafbimage %}http://{{ app.request.host ~ asset('bundles/dodicifansworldweb/images/logo.png') }}{% endblock %}"/>
				<meta property="og:url" content="http://{{ app.request.host ~ app.request.requesturi }}"/>
				<meta property="og:title" content="{{ block('title') }}"/>
				<meta property="og:description" content="{{ block('metadescription') }}"/>
				<meta property="og:site_name" content="Fansworld"/>
				<meta property="og:type" content="{%block metafbtype %}article{% endblock %}"/>
	            
	            <meta name="keywords" content="{% block metakeywords %}{% endblock %}"/>
	            <meta name="description" content="{% block metadescription %}{% endblock %}"/>
	            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% endblock %}
            
            {% block stylesheets %}
                <!-- jQuery code -->
                <link rel="stylesheet" href="{{ asset('bundles/sonatajquery/themes/flick/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="all" />
                <!-- base application asset -->
                <link rel="stylesheet/less" type="text/css" href="{{ asset('bundles/dodicifansworldweb/css/base.css') }}">
                
                <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/header.css') }}" type="text/css" media="all">
                
                <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/left-bar.css') }}" type="text/css" media="all">
                <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/sidebar.css') }}" type="text/css" media="all">
                <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/js/jquery-checkbox/jquery.checkbox.css') }}" type="text/css" media="all">
                <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/isotope.css') }}" type="text/css" media="all">
                <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/responsive.css') }}" type="text/css" media="all">
                <link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/fix-responsive.css') }}" type="text/css" media="all">
            {% endblock %}
                
            {% block javascripts %}
            	{% if app.user %}
	                <script type="text/javascript" src="http://{{ meteor.host }}:{{ meteor.clientport }}/meteor.js"></script>
	                <script type="text/javascript">
		                var notificationChannel = '{{ meteor.encryptChannelName('notification', app.user) }}';
		                var friendshipChannel = '{{ meteor.encryptChannelName('friendship', app.user) }}';
		                if (typeof Meteor != 'undefined') {
			                Meteor.hostid = "{{ meteor.uniqid }}";
			                Meteor.host = "{{ meteor.host }}";
			                Meteor.port = "{{ meteor.clientport }}";
		                }
	                </script>
                {% endif %}        
                <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translation.js') }}"></script>
                <script type="text/javascript" src="{{ path('bazinga_exposetranslation_js') }}"></script>
                <script src="{{ asset('bundles/sonatajquery/jquery-1.7.1.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.17.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/timeago.jquery.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/jquery.colorbox-min.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/jquery-checkbox/jquery.checkbox.min.js') }}" type="text/javascript"></script>
                <script src="https://apis.google.com/js/plusone.js"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/jquery-ui-timepicker-addon.js') }}" type="text/javascript"></script>
    			<script src="{{ asset('bundles/dodicifansworldweb/js/localization/jquery-ui-timepicker-es.js') }}" type="text/javascript"></script>
    			<script src="{{ asset('bundles/dodicifansworldweb/js/jquery.isotope.min.js') }}" type="text/javascript"></script>
    			<script src="{{ asset('bundles/dodicifansworldweb/js/jquery.expander.min.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/bootstrap/bootstrap.min.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/base.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/main.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/notifications_handler.js') }}" type="text/javascript"></script>
                <script src="{{ asset('bundles/dodicifansworldweb/js/search_box.js') }}" type="text/javascript"></script>
                <script type="text/javascript">
                    var appLocale = '{{ app.request.locale }}';
                    var emptyCheckboxImg = '{{ asset('bundles/dodicifansworldweb/js/jquery-checkbox/empty.png') }}';
                </script>
            {% endblock %}
            
            {% block flashmessage %}
            	{% if app.session.hasFlash('success') %}
				    <script type="text/javascript">
				        $(function(){
				        	success("{{ app.session.flash('success') }}");
				        });
				    </script>
				{% endif %}
            {% endblock %}
	</head>
	<body>
        <div id="fb-root"></div>
		{% block body %}{% endblock %}
	</body>
</html>