<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>{% block title %}Fansworld - Comparte tu pasión{% endblock %}</title>

            {% block metatags %}
                <meta property="og:image" content="{% block metafbimage %}http://{{ app.request.host ~ asset('bundles/dodicifansworldweb/images/logo.png') }}{% endblock %}"/>
                <meta property="og:url" content="http://{{ app.request.host ~ app.request.requesturi }}"/>
                <meta property="og:title" content="{{ block('title') }}"/>
                <meta property="og:description" content="{{ block('metadescription') }}"/>
                <meta property="og:site_name" content="Fansworld"/>
                <meta property="og:type" content="{%block metafbtype %}article{% endblock %}"/>

                <meta name="keywords" content="{% block metakeywords %}{% endblock %}"/>
                <meta name="description" content="{% block metadescription %}{% endblock %}"/>
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
            {% endblock %}

            {% block stylesheets %}
                <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dodicifansworldweb/css/base.css') }}">
                <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
                <link href='https://raw.github.com/daneden/animate.css/master/animate.css' rel='stylesheet' type='text/css'>
            {% endblock %}

            {% block javascripts %}
                {% if (meteor.enabled) %}
                    <script type="text/javascript" src="http://{{ meteor.host }}:{{ meteor.clientport }}/meteor.js"></script>
                    <script type="text/javascript">
                        {% if app.user %}
                            var notificationChannel = '{{ meteor.encryptChannelName('notification', app.user) }}';
                            var friendshipChannel = '{{ meteor.encryptChannelName('friendship', app.user) }}';
                        {% endif %}

                        if (typeof Meteor != 'undefined') {
                            Meteor.hostid = "{{ meteor.uniqid }}";
                            Meteor.host = "{{ meteor.host }}";
                            Meteor.port = "{{ meteor.clientport }}";
                            Meteor.mode = "stream";
                            Meteor.debugmode = {{ meteor.debugmode }};
                            Meteor.pingtimeout = 3600000;
                        }
                    </script>
                {% endif %}

                <script type="text/javascript">
                    var appLocale = '{{ app.request.locale }}';
                    var Application = {
                        locale: '{{ app.request.locale }}',
                        user: {{ serializer.values(app.user)|json_encode()|raw() }}
                    };
                    var isLoggedIn = {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} true {% else %} false {% endif %};
                    var roleAdmin = {% if is_granted("ROLE_ADMIN") %} true {% else %} false {% endif %};
                    var FBperms = '{{ appfacebook.scope|join(',') }}';
                    var shortenerApi = '{{ appstate.shortenerApi() }}';
                </script>

                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

                {% javascripts
                    filter='?yui_js'
                    output='bundles/dodicifansworldweb/js/compiled/all.js'
                           'bundles/fosjsrouting/js/router.js'
                           'bundles/bazingaexposetranslation/js/translation.js'
                           'bundles/dodicifansworldweb/js/jquery/*.js'
                           'bundles/dodicifansworldweb/js/plugins/*.js'
                           'bundles/dodicifansworldweb/js/jquery-ui/*.js'
                           'bundles/dodicifansworldweb/js/bootstrap/bootstrap.min.js'
                           'bundles/dodicifansworldweb/js/jsviews/jsrender.js'
                           'bundles/dodicifansworldweb/js/jsviews/jquery.observable.js'
                           'bundles/dodicifansworldweb/js/jsviews/jquery.views.js'
                           'bundles/dodicifansworldweb/js/typeahead.js'                           
                           'bundles/dodicifansworldweb/js/base.js'
                           'bundles/dodicifansworldweb/js/wall.js'
                           'bundles/dodicifansworldweb/js/modalpopup.js'
                           'bundles/dodicifansworldweb/js/fw.core.uploader.js'
                           'bundles/dodicifansworldweb/js/fw.ui.uploader.js'
                           'bundles/dodicifansworldweb/js/fw.ui.idolship.js'
                           'bundles/dodicifansworldweb/js/fw.ui.metadata.js'
                           'bundles/dodicifansworldweb/js/fw.ui.widget.popup.js'
                           'bundles/dodicifansworldweb/js/fw.ui.dialog.js'
                           'bundles/dodicifansworldweb/js/main.js'
                           'bundles/dodicifansworldweb/js/template_helper.js'
                           'bundles/dodicifansworldweb/js/share.js'
                           'bundles/dodicifansworldweb/js/ajaxdelete.js'
                           'bundles/dodicifansworldweb/js/video_audience.js'
                           'bundles/dodicifansworldweb/js/video_player_inline.js'
                           'bundles/dodicifansworldweb/js/fw.ui.teamship.js'
                           'bundles/dodicifansworldweb/js/fw.ui.friendship.js'
                           'bundles/dodicifansworldweb/js/wordcloud.js'
                           'bundles/dodicifansworldweb/js/inviter.js'
                %}
                            <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}

                <script src="http://cdnapi.kaltura.com/p/{{ kalturatwig.partnerid() }}/sp/{{ kalturatwig.subpartnerid() }}/embedIframeJs/uiconf_id/{{ kalturatwig.playerid }}/partner_id/{{ kalturatwig.partnerid() }}"></script>
                <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
                <script type="text/javascript" src="{{ path('bazinga_exposetranslation_js') }}"></script>
            {% endblock %}

            {% block flashmessage %}
                {% if app.session.hasFlash('success') %}
                    <script type="text/javascript">
                        $(function(){
                            success("{{ app.session.flash('success') }}");
                        });
                    </script>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                    <script type="text/javascript">
                        $(function(){
                            error("{{ app.session.flash('error') }}");
                        });
                    </script>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </head>
    <body data-user-is-logged="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}true{% else %}false{% endif %}"><body>
        {% block body %}{% endblock %}
    </body>
</html>
