{% extends "DodiciFansworldWebBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/dodicifansworldweb/css/web.css') }}" type="text/css" media="all">
{% endblock %}

{% block body %}
	{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
<script>
  function goLogIn(){
      window.location.href = "{{ path('_security_check') }}";
  }

  function onFbInit() {
      if (typeof(FB) != 'undefined' && FB != null ) {
          FB.Event.subscribe('auth.statusChange', function(response) {
              if (response.session || response.authResponse) {
                  setTimeout(goLogIn, 500);
              } else {
                  window.location.href = "{{ path('_security_logout') }}";
              }
          });
      }
  }
</script>
	<div id="wrap">
		<div id="header">
			{% block header %}{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	</div>
{% endblock %}