<div class='fan-element'>
    <div class="avatar">
        <a href="{{ path('user_wall', {'username': fan.username}) }}">{% thumbnail fan.image, 'big_square' with {'title':fan, 'rel': 'tooltip'} %}</a>
    </div>
    <a class="name" href="{{ path('user_wall', {'username': fan.username}) }}">{{ fan }}</a>
    <span class="fanCount">{{ fan.fanCount }}</span>
    <div class="overlay"></div>
    
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Enviar mensaje</a></li>
            <li><a href="{{ path('user_wall', {'username': fan.username}) }}">Ver perfil</a></li>
            <li class="divider"></li>
            <li data-remove-friendship data-user-id="{{ fan.id }}" data-dont-refresh="true" data-remove-element="div.fan-element"><a href="#">Eliminar</a></li>
        </ul>
    </div>
</div>