{% extends "DodiciFansworldWebBundle:User:profile_base.html.twig" %}

{% block title %}{{ parent() }} - Fotos{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('bundles/dodicifansworldweb/js/forum.js') }}" type="text/javascript"></script>
{% endblock %}

{% block profile_tabs %}
	{% set active_tab = 'forum' %}
	{{ parent() }}
{% endblock %}

{% block profile_head %}
	{{ parent() }}
	{% if (user == app.user) %}
        <div class="update clearfix"> 
            <span></span> 
            <div class="upd_option clearfix"> 
                <a class="btn_picture btn_upload_photo" href="{{ path('photo_upload') }}">cargar imagen</a> 
            </div>    
        </div>
    {% endif %}
{% endblock %}

{% block inner_content %}
    <div class="cont clearfix">
        <h2>Temas creados</h2>
        {% if threads|length > 0 %}
            <ul class="foro clearfix">
            {% for thread in threads%}
                <li>
                    <a class="clearfix" href="{{ path('forum_thread', {'id': thread.id, 'slug': thread.slug}) }}">
                        <div class="messages">{{ thread.postCount }} <span class="replies">Replies</span></div>
                        <div class="post">
                            <h3>{{ thread.title }}</h3>
                            <span class="contentTruncated" >{{ thread.content | truncate(100) }}</span><br/>
                            <span class="user">{{ thread.author }}</span><span class="date timeago" data-time="{{ thread.createdAt|date('c') }}">{{ thread.createdAt|date('c') }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            No hay temas creados
        {% endif %}
        {% if addMore %}
            <a href="#" id="addMore" class="loadmore threads marginTop10">Agregar Más</a>
        {% endif %}
    </div>
    <input type="hidden" id="userId" value="{{ user.id }}"/>
    <div id="templates" class="threads hidden">
        <li>
            <a class="clearfix" href="">
                <div class="messages"> <span class="replies">Replies</span></div>
                <div class="post">
                    <h3>title</h3>
                    <span class="contentTruncated" >content</span><br/>
                    <span class="user">name</span>
                    <span class="date timeago" data-time="data-time">data-time</span>
                </div>
            </a>
        </li>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){
            forum.init();
        });
    </script>
{% endblock %}
