<!-- Listado de videos para mostrar como montage -->
{% if thumbnailSize is not defined %}
    {% set thumbnailSize = 'medium' %}  
{% endif %}

{% if dataListFilters is not defined %}
    {% set dataListFilters = '#list-filters' %}  

{% endif %}

{% if dataListResult is not defined %}
    {% set dataListResult = 'data-list-result' %}
{% else %}
    {% set dataListResult = 'data-list-result="' ~ dataListResult ~ '"' %}
{% endif %}

{% if dataListScrollable is not defined %}
    {% set dataListScrollable = '' %}
{% else %}
    {% set dataListScrollable = 'data-list-scrollable' %}
{% endif %}

<div class="row-fluid">
    <div id="am-container" class="am-container list-mosaic" data-list data-list-entity="video" {{dataListResult}} {{dataListScrollable}} data-list-filters="{{ dataListFilters }}">
        {% if videos|length>0 %}
            {% for video in videos %}
                <a href="{{ path('video_show', {'id': video.id, 'slug': video.slug}) }}">
                    <span class="title">{{ video.title }}</span>
                    {% thumbnail video.image, thumbnailSize  with {"title": video.title}%}
                </a>
            {% endfor %}
        {% else %}
            <h2>No se encontraron videos.</h2>
        {% endif %}
    </div>
</div>
